<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<!--  Main COntainer -->
<div class="container lto-main-container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-8">
				<div class="row no-margin  well well-consent"
					ng-repeat="post in postsList">
					<div class="col-xs-4 col-sm-2 col-md-2">
						<div class="pull-left margin-right-10">
							<img class="lto-profile-adj"
								ng-if="post.postedByParty.userBean.profilePicture != null"
								ng-src="{{getProfileImage(post.postedByParty.userBean.profilePicture)}}">
							<img class="lto-profile-adj"
								ng-if="post.postedByParty.userBean.profilePicture == null"
								src="../images/UserImage.png">
						</div>
					</div>
					<div
						class="col-xs-8 col-sm-10 col-md-10 start-property-tile__title">
						<div>
							<div class="col-md-6  pull-left">
								<h3 class="start-property-tile__heading  link-color ng-binding"
									ng-click="redirectPost(post.id)">{{post.postedByParty.userBean.name}}</h3>
								<div class="font-size-12 hide"
									ng-show="post.postedByParty.userBean.name.length>0">By -
									{{post.postedByParty.userBean.name}}</div>
							</div>
						</div>
						<hr
							class="start-property-tile__separator opportunity-list-separator">
						<div class="pull-left margin-right-10">
							<img class="lto-profile-adj"
								ng-if="post.postedForOpportunity.bannerImage != null"
								ng-src="{{getBannerImage(post.postedForOpportunity.bannerImage)}}">
							<p>{{post.content}}</p>
							<div ng-if="post.postedForOpportunity!=null">Posted for
								Event : {{post.postedForOpportunity.name}}</div>
							<img class="lto-profile-adj"
								ng-if="post.postedForOpportunity.bannerImage == null"
								src="../images/image2.png">
						</div>
						<div class="font-size-12 pull-right">
							<time class="font-size-12 " am-time-ago="post.postedOn"></time>
						</div>
					</div>
				</div>
				<a class="more-results cursor"
					ng-show="postsList.length<totalPostsCount"
					ng-click="getNextPostList()"
					i18n="{{'common.lto_opp_posts_show_more'}}"><b class="caret"></b></a>
				<div
					class="row no-margin row-space well well-consent col-xs-12 col-sm-12 col-lg-12"
					ng-if="postsList.length == 0">
					<div class="lto-not-connected-msg">No Posts to show.</div>
				</div>
			</div>
			<!--  Common to all manage opportunity Pages-->
			<div
				ng-include="'./js/pages/opportunity/opportunity_suggestion.html'"></div>
		</div>
	</div>
</div>