<div class="row no-margin well well-consent lto-blog-container-adj">
        <div class="col-xs-12 blog-link">
            <div>
                <img src="images/blog/Mahesh-kalam.jpg">
                <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/1/')">Volunteering gives me a deep sense of purpose</p>
            </div>
            <p>Posted by Mahesh Kumar
            </p>
            <!-- <hr class="start-property-tile__separator"> -->
        </div>
    </div>
    <div class="row no-margin well well-consent lto-blog-container-adj">
        <div class="col-xs-12 blog-link">
            <div>
                <img src="images/blog/Jagadish-lab.jpg">
                <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/2/')">Volunteering begins at home!</p>
            </div>
            <p>Posted by Jagadis Purohit
            </p>
            <!-- <hr class="start-property-tile__separator"> -->
        </div>
    </div>
    <div class="row no-margin well well-consent lto-blog-container-adj">
        <div class="col-xs-12 blog-link">
            <div>
                <img src="images/blog/Shruti-lab.jpg">
                <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/3')">Art is a language everyone can speak! </p>
            </div>
            <p>Posted by Shruthi Venkat
            </p>
            <!-- <hr class="start-property-tile__separator"> -->
        </div>
    </div>