 <div class="col-xs-12 col-sm-3 lto-post-event-container">
                <div class="row no-margin cursor">
                    <header class="col-xs-12">
                        <h2 class="text-color">Recent Stories</h2>
                    </header>
                </div>
               
                <div class="row no-margin well well-consent lto-blog-container-adj">
                    <div class="col-xs-12 blog-link">
                    	<img src="./images/image2.jpg">
                        <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/1/')">Volunteering gives me a deep sense of purpose</p>                                           
                        <p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015
                        </p>
                        <hr class="start-property-tile__separator">
                    </div>

                </div>
                 <div class="row no-margin well well-consent lto-blog-container-adj">
                    <div class="col-xs-12 blog-link">
                    	<img src="./images/image2.jpg">
                        <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/2/')">Volunteering gives me a deep sense of purpose</p>                                           
                        <p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015
                        </p>
                        <hr class="start-property-tile__separator">
                    </div>
                   
                </div>
                 <div class="row no-margin well well-consent lto-blog-container-adj">
                    <div class="col-xs-12 blog-link">
                    	<img src="./images/image2.jpg">
                        <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/3')">Volunteering gives me a deep sense of purpose</p>                                           
                        <p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015
                        </p>
                        <hr class="start-property-tile__separator">
                    </div>
                   
                </div>
            </div>