<div class="container lto-main-container lto-blog-container" ng-controller="blogcontroller">
    <div class="content-area">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <!-- ng-init="getBlogs()" -->
                <div class="row">
                    <header class="col-xs-12 lto-upcoming-events-header">
                        <h2 class="lto-upcoming-events-header-title">Volunteer Stories</h2>
                    </header>
                </div>
                <div class="row well well-consent lto-upcoming-events-container">
                    <div class="col-xs-12">
                        <h2>Volunteering gives me a deep sense of purpose</h2>
                        <span>Mahesh Kumar</span>
                        <img src="/images/blog/MaheshKumar.jpg" alt="Author pic">
                        <p>
                            Volunteering has been my passion right from school and working at Infosys has helped develop that interest further. Working with the community to facilitate a larger social development is part of the Infosys culture and this has been deeply ingrained in the ethos of the...
                        </p>
                        <a href="#/blog/1"><span
                                class="text-center lto-post-event-txt-adj no-padding-left cursor">Read
                                    More</span></a>
                    </div>
                </div>
                <div class="row well well-consent lto-upcoming-events-container">
                    <div class="col-xs-12">
                        <h2>Volunteering begins at home!</h2>
                        <span>Jagadis Purohit</span>
                        <img src="/images/blog/Jagadish.png" alt="Author pic">
                        <p>
                            All fingers are not of equal in length, similarly every individual is not equal. Some are more blessed, but some are not so fortunate. So I believe it becomes our responsibility to provide them a helping hand,...
                        </p>
                        <a href="#/blog/2"><span
                                class="text-center lto-post-event-txt-adj no-padding-left cursor">Read
                                    More</span></a>
                    </div>
                </div>
                <div class="row well well-consent lto-upcoming-events-container">
                    <div class="col-xs-12">
                        <h2>Art is a language everyone can speak! And I make it happen..</h2>
                        <span>Shruthi Venkat</span>
                        <img src="/images/blog/Shruti.jpg" alt="Author pic">
                        <p>
                            Hey, this is Shruthi Venkat an engineering student by brain and an artist by heart. I've lately started volunteering in Bettadasanapura govt school. I exactly don't remember when the thought of volunteering came to me. It was an impulsive decision as working for a social cause ran in my blood...
                        </p>
                        <a href="#/blog/3"><span
                                class="text-center lto-post-event-txt-adj no-padding-left cursor">Read
                                    More</span></a>
                    </div>
                </div>
            </div>
            <div ng-include="'./js/pages/blog/blog-links-container.html'"></div>
            <!--  <div class="col-xs-12 col-sm-3 lto-post-event-container">
                <div class="row no-margin cursor">
                    <header class="col-xs-12">
                        <h2 class="text-color">Recent Stories</h2>
                    </header>
                </div>
               
                <div class="row no-margin well well-consent lto-blog-container-adj">
                    <div class="col-xs-12 blog-link">
                        <img src="./images/image2.jpg">
                        <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/2/')">Volunteering gives me a deep sense of purpose</p>                                           
                        <p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015
                        </p>
                        <hr class="start-property-tile__separator">
                    </div>

                </div>
                 <div class="row no-margin well well-consent lto-blog-container-adj">
                    <div class="col-xs-12 blog-link">
                        <img src="./images/image2.jpg">
                        <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/2/')">Volunteering gives me a deep sense of purpose</p>                                           
                        <p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015
                        </p>
                        <hr class="start-property-tile__separator">
                    </div>
                   
                </div>
                 <div class="row no-margin well well-consent lto-blog-container-adj">
                    <div class="col-xs-12 blog-link">
                        <img src="./images/image2.jpg">
                        <p class="start-property-tile__heading cursor" ng-click="redirect('/blog/3')">Volunteering gives me a deep sense of purpose</p>                                           
                        <p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015
                        </p>
                        <hr class="start-property-tile__separator">
                    </div>
                   
                </div>
            </div> -->
        </div>
    </div>
</div>