<br />
<br />
<br />
<div class="container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-12">
				<div class="row no-margin lto-main-container">
					<div ng-controller="PasswordController">
						<div class="lto-register-container well well-consent  ">
							<h2 class="lto-register-header" i18n="{{'common.lto_heading_changePassword'}}"></h2>
							<form name="changePassForm" role="form" ng-submit="changePassForm.$valid && changePassword()" novalidate="novalidate">
								<div class="form-group lto-register-row">
									<label class="lto-register-label" for="password" i18n="{{'common.lto_label_user_password'}}">:</label> <input type="password" class="form-control lto-register-input" id="password" name="password" ng-model="user.password" ng-required="true"> <span class="glyphicon glyphicon-eye-close lto-login-icon"></span> <span class="error"
										ng-show="submitted && changePassForm.password.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
									></span>
								</div>
								<div class="form-group lto-register-row">
									<label class="lto-register-label" for="password" i18n="{{'common.lto_label_user_confirmPassword'}}">:</label> <input type="password" class="form-control lto-register-input" id="confirmPassword" name="confirmPassword" data-password-check="user.password" ng-model="user.confirmPassword" ng-required="true"> <span class="glyphicon glyphicon-eye-close lto-login-icon"></span> <span
										class="error" ng-show="submitted && changePassForm.confirmPassword.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
									></span> <span class="error" ng-show="changePassForm.confirmPassword.$error.passwordCheck" i18n="{{'common.lto_span_error_passMatch'}}"></span>
								</div>
								<div class="lto-register-row-last">
									<button type="submit" class="btn btn-primary lto-register-btn" ng-click="submitted = true" i18n="{{'common.lto_button_submit'}}"></button>
									<span class="lto-fp-home-link"><a href="#/" i18n="{{'common.lto_link_backToHome'}}"></a></span>
								</div>
							</form>
						</div>
						</main>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
