<br />
<br />
<br />
<div class="container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-12">
				<div class="row no-margin lto-main-container">
					<div ng-controller="RegisterController">
						<div class="lto-register-container well well-consent  ">
							<h2 class="lto-register-header" i18n="{{'common.lto_heading_otp_heading'}}"></h2>
							<form name="otpForm" role="form" ng-submit="otpForm.$valid && otpValidation()" novalidate="novalidate">
								<div class="form-group lto-register-row">
									<label class="lto-register-label" for="token" i18n="{{'common.lto_heading_otp'}}">:</label> <input class="form-control lto-register-input" id="token" name="token" ng-model="user.token" ng-required="true"> <span class="glyphicon glyphicon-eye-close lto-login-icon"></span> <span class="error"
										ng-show="submitted && otpForm.token.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
									></span>
								</div>
								<div class="lto-register-row-last">
									<button type="submit" class="btn btn-primary lto-register-btn" ng-click="submitted = true" i18n="{{'common.lto_button_submit'}}"></button>
									<span class="lto-fp-home-link"><a href="#/" i18n="{{'common.lto_link_backToHome'}}"></a></span>
								</div>
							</form>
						</div>
						</main>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
