<div class="modal" id="opportunityCreateModal" ng-controller="CreateOpportunityController">
	<div class="modal-dialog opportunity-modal-dialog">
		<div class="modal-content opportunity-modal-content">
			<div class="container opportunity-modal-container">
				<div class="row lto-main-container">
					<main class="col-xs-12 col-sm-12 col-md-12 no-padding "><a data-dismiss="modal" class="cursor pull-right">Close</a><header class="container opportunity-header">
						<div class="container-fluid">
							<h2 class="text-center" i18n="{{'common.lto_heading_createOpportunity'}}"></h2>
						</div>
					</header>
					<div class="content-area">
						<!-- Add volunteering Experience -->
						<div class="row no-margin row-space">
							<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp">
								<div class="col-xs-12 col-sm-3">
									<ul class="lto-opportunity-list-section">
										<li ng-click="eventClick = 'program'" ng-class="{active: eventClick == 'program'}" class="lto-opportunity-list"><span class="glyphicon glyphicon-calendar"></span><span class="lto-opportunity-desc" i18n="{{'common.lto_link_createOpportunity_program'}}"></span></li>
										<li ng-click="eventClick = 'event'" ng-class="{active: eventClick ==  'event'}" class="lto-opportunity-list"><span class="glyphicon glyphicon-time"></span><span class="lto-opportunity-desc" i18n="{{'common.lto_link_createOpportunity_event'}}"></span></li>
									</ul>
								</div>
								<hr class="hidden-md hidden-sm hidden-lg start-property-tile__separator">
								<div class="col-xs-12 col-sm-9 lto-opportunity-form">
									<div ng-show="eventClick ==  'program'">
										<form name="programForm" novalidate="novalidate" ng-submit="programForm.$valid && createProgram()">
											<div class="row lto-cp-exp-form">
												<div class="col-xs-12 col-sm-6">
													<label for="programName" i18n="{{'common.lto_lable_program_programName'}}"></label><input type="text" name="programName" ng-minlength="3" class="form-control" id="programName" placeholder="{{'common.lto_placeholder_program_programName'|i18n}}" ng-model="program.name" ng-required="true"><span class="error" ng-show="submitted && programForm.programName.$error.required"
														i18n="{{'common.lto_span_RequirFieldError'}}"
													></span><span class="help-block error" ng-show="((programForm.programName.$error.minlength) && programForm.programName.$dirty) " i18n="{{'common.lto_span_errorMessage'}}"></span>
												</div>
												<div class="col-xs-12 col-sm-6 ">
													<label for="description">Description (What is the work involved?)</label>
													<textarea type="text" name="description" class="form-control" id="description" ng-model="program.description" placeholder="{{'common.lto_placeholder_program_description'|i18n}}"></textarea>
												</div>
												<div class="text-center">
													<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true" i18n="{{'common.lto_button_text_save'}}"></button>
													<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" data-dismiss="modal" i18n="{{'common.lto_button_text_cancle'}}"></button>
													<div class="success-toast-message" ng-show="programSuccess">
														<span ng-model="programActionSuccess">Project added Successfully.</span>
													</div>
													<div class="error-toast-message" ng-show="programError">
														<span ng-model="eventActionError">Something went Wrong!!</span>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div ng-show="eventClick ==  'event'">
										<form name="eventForm" novalidate="novalidate" ng-submit="eventForm.$valid && createEvent()">
											<div class="row lto-cp-exp-form">
												<div class="col-xs-12 col-sm-6">
													<label for="eventName" i18n="{{'common.lto_lable_event_evantName'}}"></label> <input type="text" name="eventName" class="form-control" id="eventName" ng-minlength="3" placeholder="{{'common.lto_placeholder_event_evantName'|i18n}}" ng-model="event.name" ng-required="true"><span class="error" ng-show="submitted && eventForm.eventName.$error.required"
														i18n="{{'common.lto_span_RequirFieldError'}}"
													></span><span class="help-block error" ng-show="((eventForm.eventName.$error.minlength) && eventForm.eventName.$dirty)"
                                                i18n="{{'common.lto_span_errorMessage'}}"></span>
												</div>
												<div class="col-xs-12 col-sm-6 ">
													<label for="description" i18n="{{'common.lto_lable_event_description'}}"></label>
													<textarea type="text" name="description" class="form-control" id="description" placeholder="{{'common.lto_placeholder_eventDescription'|i18n}}" ng-model="event.description"></textarea>
												</div>
												<div class="col-xs-12 col-sm-6 ">
													<label for="date" i18n="{{'common.lto_lable_date'}}"></label><input type="text" name="startDateEvent" class="form-control" id="startDateEvent" placeholder="{{'common.lto_placeholder_volunteer_startDate'|i18n}}" ng-model="event.dateStart" ng-required="true" ng-focus="displayStartDate()"><span class="glyphicon glyphicon-calendar"></span><span class="error"
														ng-show="submitted && eventForm.startDateEvent.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
													></span><input type="text" name="endDateEvent" class="form-control" ng-focus="displayEndDate()" id="endDateEvent" placeholder="{{'common.lto_placeholder_volunteer_endDate'|i18n}}" ng-model="event.dateEnd" ng-required="true"><span class="glyphicon glyphicon-calendar"></span><span class="error" ng-show="submitted && eventForm.endDateEvent.$error.required"
														i18n="{{'common.lto_span_RequirFieldError'}}"
													></span>
												</div>
											</div>
											<div class="row lto-cp-exp-form hide">
												<div class="col-xs-12 col-sm-6">
													<label for="city" i18n="{{'common.lto_lable_address'}}"></label><input type="text" name="search" class="form-control" id="searchAddress" placeholder="{{'common.lto_placeholder_searchAddress'|i18n}}" googleplace> <input type="text" name="street" class="form-control" id="street" placeholder="{{'common.lto_placeholder_street'|i18n}}" ng-model="event.addressBean.street"
														ng-required="false"
													><span class="error" ng-show="submitted && eventForm.street.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span><input type="text" name="city" class="form-control" id="city" placeholder="{{'common.lto_placeholder_city'|i18n}}" ng-model="event.addressBean.city" ng-required="false"><span class="error"
														ng-show="submitted && eventForm.city.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
													></span><input type="number" name="zipCode" ng-minlength="6" ng-maxlength="6" class="form-control" id="zipCode" placeholder="{{'common.lto_placeholder_postCode'|i18n}}" ng-model="event.addressBean.postalCode" ng-required="false"><span class="error" ng-show="submitted && eventForm.zipCode.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span><span
														class="help-block error" ng-show="((eventForm.zipCode.$error.minlength || eventForm.zipCode.$error.maxlength) && eventForm.zipCode.$dirty) "
													> Invalid Postal Code</span> <span class="help-block error" ng-show="eventForm.zipCode.$error.number">Invalid Postal Code</span><input type="text" name="state" class="form-control" id="state" placeholder="{{'common.lto_placeholder_state'|i18n}}" ng-model="event.addressBean.state" ng-required="false"><span class="error"
														ng-show="submitted && eventForm.state.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
													></span><input type="text" name="Country" class="form-control" id="country" placeholder="{{'common.lto_placeholder_country'|i18n}}" ng-model="event.addressBean.country" ng-required="false"><span class="error" ng-show="submitted && eventForm.Country.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span>
												</div>
											</div>
											<div class="text-center">
												<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true" i18n="{{'common.lto_button_text_save'}}"></button>
												<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" data-dismiss="modal" i18n="{{'common.lto_button_text_cancle'}}"></button>
												<div class="success-toast-message" ng-show="eventSuccess">
													<span ng-model="eventActionSuccess">{{eventActionSuccess}}</span>
												</div>
												<div class="error-toast-message" ng-show="eventError">
													<span ng-model="eventActionError">{{eventActionError}}</span>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					</main>
					<!-- /main content area -->
				</div>
				<!-- /container-fluid -->
			</div>
		</div>
	</div>
</div>