<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container" data-ng-init="getAllOpportunity()">
	<div class="row">
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding ">
		<div class="content-area">
			<div class="row">
				<div class="col-sm-8">
					<div class="row no-margin well well-consent" ng-repeat="opportunity in  listOpportunity">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<ul class="start-list--icons">
								<li><span class="icon glyphicon glyphicon-user"></span> <span class="icon-descriptor">{{opportunity.type}}</span></li>
								<li ng-if="opportunity.dateEnd!==null"><span class="icon glyphicon glyphicon-calendar"></span> <span class="icon-descriptor">{{opportunity.dateEnd | date:'yyyy-MM-dd'}}</span></li>
								<li ng-if="opportunity.dateStart!==null"><span class="icon glyphicon glyphicon-calendar"></span> <span class="icon-descriptor">{{opportunity.dateStart | date:'yyyy-MM-dd'}}</span></li>
								<!--
								<li><span class="icon glyphicon glyphicon-map-marker"></span> <span class="icon-descriptor">{{opportunity.addressBean.city}}</span></li>
								-->
							</ul>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8 start-property-tile__title">
							<div>
								<div class="col-md-6  pull-left">
									<h3 class="start-property-tile__heading cursor" ng-click="showDetailPage(opportunity.id)">{{opportunity.name}}</h3>
								</div>
								<div class="lto-opp-edit focus-effect pull-right cursor">
									<span class="glyphicon glyphicon-pencil" ng-if="opportunity.type == 'PROGRAM'" ng-click="redirect('/view/opportunity/program/edit/'+opportunity.id)"></span> <span class="glyphicon glyphicon-pencil" ng-if="opportunity.type != 'PROGRAM'" ng-click="redirect('/view/opportunity/edit/'+opportunity.id)"></span>
								</div>
							</div>
							<hr class="start-property-tile__separator opportunity-list-separator">
							<p>{{opportunity.description}}</p>
							<a href="#/view/opportunity/{{opportunity.id}}">Read More</a>
						</div>
					</div>
					<!-- 				
						
						
						<div class="row row-space">
							<div class="col-xs-12">
								<img src="./images/image7.jpg"  width="100%" />
							</div>
						</div>
						
						
						
						
						<div class="row row-space">
							<div class="col-xs-12">
								<img src="./images/image9.jpg"  width="100%" />
							</div>
						</div> -->
					<div class="row no-margin row-space well well-consent col-xs-12 col-sm-12 col-lg-12" ng-if="listOpportunity.length == 0">
						<div class="lto-not-connected-msg">You have not created any opportunities.</div>
					</div>
				</div>
				<div ng-include="'./js/pages/opportunity/opportunity_suggestion.html'"></div>
			</div>
		</div>
		</main>
	</div>
</div>