<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container" data-ng-init="getAllOpportunity()">
	<div class="row">
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding ">
		<div class="content-area">
			<div class="row">
				<div class="col-sm-8">
					<div class="row no-margin well well-consent" ng-repeat="participation in  participationDetailList">
						<div class="col-xs-4">
							<ul class="start-list--icons">
								<li><span class="icon glyphicon glyphicon-user"></span> <span class="icon-descriptor">{{participation.description}}</span></li>
								<li><span class="icon glyphicon glyphicon-calendar"></span> <span class="icon-descriptor">{{participation.dateEnd | date:'yyyy-MM-dd HH:MM:ss'}}</span></li>
								<li><span class="icon glyphicon glyphicon-time"></span> <span class="icon-descriptor">{{participation.dateStart | date:'yyyy-MM-dd HH:MM:ss'}}</span></li>
								<li><span class="icon glyphicon glyphicon-map-marker"></span> <span class="icon-descriptor">{{participation.addressBean.city}}</span></li>
							</ul>
						</div>
						<div class="col-xs-8 start-property-tile__title">
							<h3 class="start-property-tile__heading cursor" ng-click="showDetailPage(participation.opportunityBean.id)">{{participation.name}}</h3>
							<hr class="start-property-tile__separator opportunity-list-separator">
							<p>{{ participation.description | limitTo:100 }}{{participation.description > 100 ? '...' : ''}}</p>
						</div>
						<a href="#/view/opportunity/{{participation.id}}">Read More</a>
					</div>
					<div class="row no-margin row-space well well-consent col-xs-12 col-sm-12 col-lg-12" ng-if="participationDetailList.length == 0">
						<div class="lto-not-connected-msg">You don't have any upcoming opportunities.</div>
					</div>
				</div>
				<div ng-include="'./js/pages/opportunity/opportunity_suggestion.html'"></div>
			</div>
		</div>
		</main>
	</div>
</div>