<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container" ng-init="editProgramWithCreateEvent()">
	<div class="row lto-main-container">
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding ">
		<div class="content-area">
			<!-- Add volunteering Experience -->
			<div class="col-sm-8 row no-margin row-space">
				<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp">
					<h2 class="text-center">Edit Project</h2>
					<div id="program" class="program">
						<form name="editProgram" novalidate="novalidate" ng-submit="editProgram.$valid && editProgramWithEvent()">
							<div class="row lto-cp-exp-form">
								<div class="col-xs-12 col-sm-12 col-md-6">
									<label for="programName">Project Name</label> <input type="text" ng-minlength="3" name="programName" class="form-control" id="programName" placeholder="Enter project Name" ng-model="program.name" ng-required="true"><span class="error" ng-show="submitted && editProgram.programName.$error.required">Mandatory Field</span> <span class="help-block error"
										ng-show="((editProgram.programName.$error.minlength) && editProgram.programName.$dirty) "
									> Minimun 3 Characters Required</span>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6">
									<label for="description">Description (What is the work involved?)</label>
									<textarea name="description" class="form-control" id="description" ng-model="program.description" placeholder="Some words about Project"></textarea>
									<span class="error" ng-show="submitted && editProgram.description.$error.required">Mandatory Field</span>
								</div>
								<div class="text-center">
									<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true">Save</button>
									<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=false && showDetailPage(program.id)">Cancel</button>
								</div>
							</div>
							<div class="related-programs" ng-if="program.linkedEvents.length>0">
								<div class="row no-margin well well-consent" ng-repeat="event in program.linkedEvents">
									<div class="col-xs-12 col-sm-12 col-md-4">
										<ul class="start-list--icons">
											<li><span class="icon glyphicon glyphicon-user"></span> <span class="icon-descriptor">{{event.type}}</span></li>
											<li><span class="icon glyphicon glyphicon-calendar"></span> <span class="icon-descriptor">{{event.dateEnd | date:'yyyy-MM-dd HH:MM:ss'}}</span></li>
											<li><span class="icon glyphicon glyphicon-time"></span> <span class="icon-descriptor">{{event.dateStart | date:'yyyy-MM-dd HH:MM:ss'}}</span></li>
											<li><span class="icon glyphicon glyphicon-map-marker"></span> <span class="icon-descriptor">{{event.addressBean.city}}</span></li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-8 start-property-tile__title">
										<h3 class="start-property-tile__heading cursor" ng-click="editOpp(event)">{{event.name}}</h3>
										<hr class="start-property-tile__separator opportunity-list-separator">
										<div ng-if="!event.description">No description!!</div>
										<div ng-if="event.description">
											<p>{{event.description}}</p>
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="success-toast-message" ng-show="programSuccess">
								<span ng-model="programActionSuccess">{{programActionSuccess}}</span>
							</div>
							<div class="error-toast-message" ng-show="pprogramError">
								<span ng-model="programActionError">{{programActionError}}</span>
							</div>
						</form>
					</div>
					<!-- Banner image cpature section -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="row-space" ng-controller="UploadOportunityImageController">
							<div class="opportunity-banner-upload-conatiner">
								<div class="pull-left opportunity-banner-upload-LHS">
									<img class="lto-opp-banner-img" ng-src="{{getBannerImage(program.bannerImage)}}" ng-if="program.bannerImage != null"> <img src="../images/event.jpg" class="lto-opp-banner-img" ng-if="program.bannerImage == null"> <br /> <br />
									<h2 class="text-center">{{program.name}}</h2>
								</div>
								<div class="pull-left opportunity-banner-upload-RHS">
									<h2 class="text-center">Upload Image</h2>
									<form name="uploadProfilePic" id="uploadProfilePic" enctype="multipart/form-data">
										<div class="cropArea opp-image-croparea">
											<img-crop image="myImage" result-image="myCroppedImage" data-result="myCroppedImage" area-type="rectangle"></img-crop>
										</div>
										<input class="upload-opportunity-image" type="file" type="file" id="profilePic" value="{{myCroppedImage}}">
										<div class="text-center opp-banner-img-btn-container">
											<button class="btn btn-primary btn--block-centered image-crop-modal-btn pull-left" ng-click="saveOpportunityImage(myCroppedImage)">Save</button>
											<button class="btn btn-primary btn--block-centered image-crop-modal-btn" ng-click="cancelOppImageCapture()">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- End of banner image capture section -->
					<div class="col-xs-12 col-sm-12 lto-complete-profile-exp">
						<div class="lto-cp-exp-section-left">
							<h2>Activity/Event</h2>
						</div>
						<div class="lto-cp-exp-section-right focus-effect">
							<span class="glyphicon glyphicon-plus cursor" ng-click="showEvent()"><span>Add Activity/Event</span></span>
						</div>
					</div>
					<div ng-show="eventShow">
						<form name="eventForm" novalidate="novalidate" ng-submit="eventForm.$valid">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<label for="eventName">Event Activity/Event</label> <input type="text" name="eventName" ng-minlength="3" class="form-control" id="eventName" autofocus="true" placeholder="Enter Activity/Event Name" ng-model="event.name" ng-required="true"><span class="error" ng-show="submitted && eventForm.eventName.$error.required">Mandatory Field</span> <span class="help-block error"
										ng-show="((eventForm.eventName.$error.minlength) && eventForm.eventName.$dirty) "
									> Minimun 3 Characters Required</span>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 ">
									<label for="description">Description</label>
									<textarea type="text" name="description" class="form-control" id="description" placeholder="Some words about activity/event" ng-model="event.description"></textarea>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 ">
									<label for="date">Start Date</label> <input type="text" name="eventStartDate" class="form-control" id="eventStartDate" placeholder="Enter Start Date of Activity/Event" ng-model="event.dateStart" ng-required="true" ng-focus="displayStartDate()"> <span class="glyphicon glyphicon-calendar"></span> <span class="error" ng-show="submitted && eventForm.eventStartDate.$error.required">Mandatory
										Field</span>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 ">
									<label for="date">End Date</label> <input type="text" name="eventEndDate" class="form-control" ng-focus="displayEndDate()" id="eventEndDate" placeholder="Enter End Date of Activity/Event" ng-model="event.dateEnd" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error" ng-show="submitted && eventForm.eventEndDate.$error.required">Mandatory Field</span>
								</div>
							</div>
							<div class="col-md-6" ng-show="areaFound">
											<label>Address?
            								On Field: <input type="radio" ng-model="address.name" value="onfield" ng-click="ShowAddress('Y')" />
            								Virtual: <input type="radio" ng-model="address.name" value="virtual" ng-click="ShowAddress('N')" />
        									</label> 
											<input ng-show="IsVisible" id="autocomplete" placeholder="Enter your address" name="formattedAddress" type="text" class="form-control" ng-model="event.addressBean.formattedAddress"></input>
										</div>
								<div class="col-xs-12 col-sm-6 col-md-6" ng-hide="areaFound">
									<label>Address</label> <input ng-model="event.street" type="text" name="street_number" class="form-control" placeholder="Enter street number" id="street_number"></input> <input class="form-control" name="locality" placeholder="Enter City" id="locality" ng-required="areaFound == false" ng-model="event.addressBean.city"></input> <span class="error"
										ng-show="!areaFound && submitted && eventForm.locality.$error.required"
									>Mandatory Field</span> <input type="number" name="postal_code" class="form-control" id="postal_code" placeholder="Enter zipCode" ng-required="areaFound == false" ng-model="event.addressBean.postalCode"></input> <span class="error" ng-show="submitted && eventForm.postal_code.$error.required">Mandatory Field</span> <input type="text" name="administrative_area_level_1" class="form-control"
										id="administrative_area_level_1" placeholder="State" ng-required="areaFound == false" ng-model="event.addressBean.state"
									></input> <span class="error" ng-show="!areaFound && submitted && eventForm.administrative_area_level_1.$error.required">Mandatory Field</span> <input type="text" name="country" class="form-control" id="country" placeholder="Country" ng-required="areaFound == false" ng-model="event.addressBean.country"> <span class="error"
										ng-show="!areaFound && submitted && eventForm.country.$error.required"
									>Mandatory Field</span>
									<div class="hide" id="latitude"></div>
									<div class="hide" id="longitude"></div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<label class="cursor lto-google-search-txt" ng-show="areaFound"><a ng-click="changeAreaFoundStatus()">No Relevant Matches Found Click to Add customised address?</a></label> <label class="cursor lto-address-txt" ng-hide="areaFound"><a ng-click="changeAreaFoundStatus()">Search Location using google api</a></label>
								</div>
								<!-- <div class="col-xs-12 col-sm-6 col-md-6">
										<label for="city">Address</label>
										<input type="text" name="search" class="form-control hide"
											id="searchAddress" placeholder="Search Address" googleplace>
											<input type="text" name="street" class="form-control"
												id="street" placeholder="Enter street"
												ng-model="event.addressBean.street" ng-required="true">
											<span class="error"
												ng-show="submitted && eventForm.street.$error.required">Mandatory
												Field</span>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
											<label for=""></label>
											<input type="text" name="city" class="form-control" id="city"
												placeholder="Enter City" ng-model="event.addressBean.city"
												ng-required="true"> </span> <span class="error"
												ng-show="submitted && eventForm.city.$error.required">Mandatory
												Field</span>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
											<label for=""></label>
											<input type="number" ng-minlength="6" ng-maxlength="6"
												name="zipCode" class="form-control" id="zipCode"
												placeholder="Enter zipCode"
												ng-model="event.addressBean.postalCode" ng-required="true">
											<span class="error"
												ng-show="submitted && eventForm.zipCode.$error.required">Mandatory
												Field</span> <span class="help-block error"
												ng-show="((eventForm.zipCode.$error.minlength || eventForm.zipCode.$error.maxlength) && eventForm.zipCode.$dirty) ">Invalid
												Postal Code</span> <span class="help-block error"
												ng-show="eventForm.zipCode.$error.number">Invalid
												Postal Code</span>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
											<label for=""></label>
											<input type="text" name="state" class="form-control"
												id="state" placeholder="State"
												ng-model="event.addressBean.state" ng-required="true">
											<span class="error"
												ng-show="submitted && eventForm.state.$error.required">Mandatory
												Field</span>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
											<label for=""></label>
											<input type="text" name="Country" class="form-control"
												id="country" placeholder="Country"
												ng-model="event.addressBean.country" ng-required="true">
											<span class="error"
												ng-show="submitted && eventForm.Country.$error.required">Mandatory
												Field</span>
									</div> -->
							</div>
							<div class="text-center lto-opp-btn-container">
								<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="createEventUsingProgram()">Save</button>
								<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" data-dismiss="modal" ng-click="hideEventForm()">Cancel</button>
								<div class="success-toast-message" ng-show="eventSuccess">
									<span ng-model="eventActionSuccess">{{eventActionSuccess}}</span>
								</div>
								<div class="error-toast-message" ng-show="eventError">
									<span ng-model="eventActionError">{{eventActionError}}</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div ng-include="'./js/pages/connections/connection_suggestion_list.html'"></div>
				<div ng-include="'./js/pages/common/right_suggestions.html'"></div>
			</div>
		</div>
		
	</div>
	</main>
	<!-- /main content area -->
</div>
<!-- /container-fluid -->
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFTKE75nLQJ5JnUstvzON-BzWgSEATIg8&libraries=places&callback=initAutocomplete" async defer></script>