
<div class="modal" id="opportunityCreateModal">
	<div class="modal-dialog opportunity-modal-dialog">
		<div class="modal-content opportunity-modal-content">
			<div class="container ">
				<div class="row lto-main-container lto-main-container-row">
					<main class="col-xs-12 col-sm-12 col-md-12 no-padding "> <header class="container profile-header">
						<div class="container-fluid">
							<a ng-click="redirect('/')" class="cursor pull-left" i18n="{{'common.lto_link_close'}}"></a>
							<h2 class="text-center" i18n="{{'common.lto_heading_createOpportunity'}}"></h2>
						</div>
					</header>
					<div class="content-area">
						<!-- Add volunteering Experience -->
						<div class="row no-margin row-space">
							<div class="col-xs-12 col-sm-12 lto-complete-profile-exp">
								<div class="lto-cp-exp-section-left">
									<h2 i18n="{{'common.lto_link_createOpportunity_program'}}"></h2>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp">
								<form name="opertunity" ng-submit="volunnteerExperience.$valid && saveVolunteerExperienceDetails()" novalidate="novalidate">
									<!-- TO capture company details -->
									<div class="row lto-cp-exp-form">
										<div class="col-xs-6">
											<label for="eventName" i18n="{{'common.lto_lable_event_evantName'}}"></label> <input type="text" name="eventName" class="form-control" id="eventName" placeholder="{{'common.lto_placeholder_event'|i18n}}" ng-model="opportunity.eventName" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error"
												ng-show="submitted && opportunity.eventName.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
											></span>
										</div>
									</div>
									<div class="row lto-cp-exp-form">
										<div class="col-xs-6 ">
											<label for="city" i18n="{{'common.lto_lable_address'}}"></label> <input type="text" name="city" class="form-control" id="city" placeholder="{{'common.lto_placeholder_city'|i18n}}" ng-model="opportunity.addressBean.city" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && opportunity.city.$error.required"
												i18n="{{'common.lto_span_RequirFieldError'}}"
											></span> <input type="text" name="zipCode" class="form-control" id="zipCode" placeholder="{{'common.lto_placeholder_postCode'|i18n}}" ng-model="opportunity.addressBean.zipCode" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && opportunity.addressBean.zipCode.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span>
											<input type="text" name="state" class="form-control" id="state" placeholder="{{'common.lto_placeholder_state'|i18n}}" ng-model="opportunity.addressBean.state" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && opportunity.addressBean.state.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span> <input
												type="text" name="Country" class="form-control" id="country" placeholder="{{'common.lto_placeholder_country'|i18n}}" ng-model="opportunity.addressBean.country" ng-required="true"
											> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && opportunity.addressBean.country.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span>
										</div>
									</div>
									<div class="row lto-cp-exp-form">
										<div class="col-xs-6 ">
											<label for="date" i18n="{{'common.lto_lable_date'}}"></label> <input type="text" name="eventStartDate" class="form-control" id="eventStartDate" placeholder="{{'common.lto_placeholder_event_startDate'|i18n}}" ng-model="opportunity.startDate" ng-required="true" ng-focus="displayStartDate()"> <span class="glyphicon glyphicon-calendar"></span> <span class="error"
												ng-show="submitted && opportunity.startDate.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
											></span> <input type="text" name="endDate" class="form-control" ng-focus="displayEndDate()" id="eventEndDate" placeholder="{{'common.lto_placeholder_volunteer_endDate'|i18n}}" ng-model="opportunity.endDate" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error" ng-show="submitted && opportunity.endDate.$error.required"
												i18n="{{'common.lto_span_RequirFieldError'}}"
											></span>
										</div>
									</div>
									<div class="row lto-cp-exp-form">
										<div class="col-xs-6 ">
											<label for="description" i18n="{{'common.lto_lable_description'}}"></label>
											<textarea type="text" name="description" class="form-control" id="description" placeholder="{{'common.lto_placeholder_volunteer_description'|i18n}}" ng-model="opportunity.description"></textarea>
										</div>
									</div>
									<div class="text-center">
										<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true" i18n="{{'common.lto_button_text_save'}}"></button>
										<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="" i18n="{{'common.lto_button_text_cancle'}}"></button>
										<div class="success-toast-message" ng-show="eventSuccess">
											<span ng-model="eventActionSuccess">{{eventActionSuccess}}</span>
										</div>
										<div class="error-toast-message" ng-show="eventError">
											<span ng-model="eventActionError">{{eventActionError}}</span>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					</main>
				</div>
			</div>
		</div>
	</div>
</div>
