<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<!--  Main COntainer -->
<div class="container lto-main-container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-8">
				<div class="row no-margin well well-consent information-section">
					<div class="row">
						<h3 class="pull-left opportunity-title">{{oppDetails.name}}</h3>
						<div class="edit-Manage-Btn pull-right opportunity-btn-container">
							<li ng-show="manageOppButton" class="edit-Manage-Btn btn btn-primary dropdown btn-margin-left pull-right "><span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage</span>
								<ul class="dropdown-menu" role="menu">
									<li class=""><a href="#/opportunity/manageApplications/{{oppDetails.id}}">Application status</a></li>
									<li class=""><a href="#/opportunity/manageAttendance/{{oppDetails.id}}">Attendance</a></li>
									<li class=""><a href="#/opportunity/manageFeedback/{{oppDetails.id}}">Give Feedback</a></li>
								</ul></li>
							<button ng-show="editOppButton" class=" edit-Manage-Btn btn btn-primary pull-right btn-margin-right " ng-click="editOpp(oppDetails)">Edit</button>
						</div>
					</div>
					<div class="row row-space">
						<div class="col-xs-4 user__thumbnail">
							<img ng-src="{{getBannerImage(oppDetails.bannerImage)}}" ng-if="oppDetails.bannerImage != null"> <img src="../images/event.jpg" ng-if="oppDetails.bannerImage == null">
						</div>
						<div class="col-xs-4 user__thumbnail">
							<img ng-src="{{getBannerImage(oppDetails.bannerImage)}}" ng-if="oppDetails.bannerImage != null"> <img src="../images/event.jpg" ng-if="oppDetails.bannerImage == null">
						</div>
						<div class="col-xs-4 user__thumbnail">
							<img ng-src="{{getBannerImage(oppDetails.bannerImage)}}" ng-if="oppDetails.bannerImage != null"> <img src="../images/event.jpg" ng-if="oppDetails.bannerImage == null">
						</div>
					</div>
					<h4>
						<strong ng-if="oppDetails.description.length>1">Information about the event</strong>
					</h4>
					<p>
						<span ng-if="!oppDetails.description">No description !!</span> {{oppDetails.description}}<a href="" class="pull-right">Read More</a>
					</p>
					<p>
						<span ng-if="!oppDetails.dateStart"> No detail available!! </span>
					</p>
					<div class="row no-margin row-space">
						<div class="col-xs-12 navigation-bar">
							<ul>
								<li ng-if="oppDetails.contactPerson.id>0"><a class="" href="#/profile/user/{{oppDetails.contactPerson.id}}"> <span class="glyphicon-user"></span> {{oppDetails.contactPerson.name}} </br> <span class="right-align"> {{oppDetails.contactPerson.phoneNumber}}</span>
								</a></li>
								<li class="vertical-separator" ng-if="oppDetails.dateStart"></li>
								<li ng-if="oppDetails.dateStart" class="opp-Detail-List event-date-detail "><span class="glyphicon glyphicon-calendar"></span> {{oppDetails.dateStart | date: 'dd-MMM-yyyy'}} <span> to </span> {{oppDetails.dateEnd | date: 'dd-MMM-yyyy'}}</li>
								<li class="vertical-separator enddate" ng-if="oppDetails.dateEnd"></li>
								<li ng-if="oppDetails.dateStart" class="opp-Detail-List"><span class=" glyphicon glyphicon-time "></span>{{oppDetails.dateStart | date: 'HH:MM'}}-{{oppDetails.dateEnd | date: 'HH:MM'}}</li>
								<li class="vertical-separator" ng-if="oppDetails.addressBean"></li>
								<li ng-if="oppDetails.addressBean && oppDetails.addressBean.formattedAddress == null" class="opp-Detail-List"><span class=" glyphicon glyphicon-map-marker"></span> <span><span ng-if="oppDetails.addressBean.street">{{oppDetails.addressBean.street}}</br></span> <span class="right-align">{{oppDetails.addressBean.city}}<span ng-if="oppDetails.addressBean.country">,
												{{oppDetails.addressBean.country}}</span>
									</span> </span></li>
								<li class="lto-opp-address-list" ng-if="oppDetails.addressBean && oppDetails.addressBean.formattedAddress != null"><span class=" glyphicon glyphicon-map-marker"></span> <span><span>{{oppDetails.addressBean.formattedAddress}}</span> </span> </span></li>
							</ul>
							<div class="hide" id="latLng">{{oppDetails.latLong}}</div>
						</div>
					</div>
					<div class="row no-margin row-space">
						<div class="col-xs-12 navigation-map">
							<div id="map" style="height: 100%"></div>
						</div>
					</div>
					<h4 ng-if="oppDetails.opportunityJobTypes.length>0">
						<strong>Role Requirement</strong>
					</h4>
					<div ng-repeat="jobTypeDetail in oppDetails.opportunityJobTypes" class="row no-margin">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<ul class="start-list--icons">
								<li><span class="icon glyphicon glyphicon-lock"></span> <span class="icon-descriptor">{{jobTypeDetail.jobTypeBean.name}}</span></li>
								<li><span class="icon glyphicon glyphicon-user"></span> <span class="icon-descriptor">Opportunity Available</span> <span class="right-align">Total Opportunities: {{jobTypeDetail.numberOfPositions}} volunteers</span> <!--   --> <span class="right-align" ng-repeat="jobApplied in jobAppliedCounter" ng-if="jobApplied.name==jobTypeDetail.jobTypeBean.description"> <span
										class="right-align"
									>Opportunities left: {{jobTypeDetail.numberOfPositions-jobApplied.appliedPosition}} volunteers</span>
								</span></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<h3>Minimum Requirements</h3>
							<!-- 
								<ul>
									<li>Ancient knowledge in contemporary application</li>
									<li>Experience the happiness program</li>
									<li>Sudarshan Kriya Basic Advanced Certified</li>
								</ul>
								 -->
							<div ng-if="!jobTypeDetail.selectionCriteria">No Requirements.</div>
							{{jobTypeDetail.selectionCriteria}} <br>
							<div ng-if="eventComplete">
								<button class="btn disabled btn-grey">Event Expired</button>
							</div>
							<div ng-if="!eventComplete">
								<button ng-show="!apply_btn_{{jobTypeDetail.jobTypeBean.id}} && authenticated" class="btn btn-primary" ng-click="applyForOpp(oppDetails,jobTypeDetail.jobTypeBean)">Apply</button>
								<button ng-hide="true" ng-show="applied_btn_{{jobTypeDetail.jobTypeBean.id}}" class="btn  disabled btn-grey">Applied</button>
								<span class="right-align text-highlight cursor" ng-show="authenticated" data-toggle="modal" data-target="#inviteOpportunityId">Tell/Tag On you friends</span>
								<!-- Invite users for opportunity -->
								<div class="modal" id="inviteOpportunityId">
									<div class="modal-dialog invite-opportunity-modal-dialog" ng-controller="InviteVolunteerController" >
										<div class="modal-content invite-opportunity-modal-content" ng-init="fetchVolunteers()">
											<div class="container invite-opportunity-modal-container">
												<div class="col-xs-12 invite-opportunity-modal-section">
													<div class="row no-margin well well-consent invite-opportunity-modal-row">
														<div class="col-xs-12 no-padding side-section-1">
															<div class="modal-header invite-opportunity-modal-header">
																<button type="button" class="close" data-dismiss="modal">&times;</button>
																<h3 class="start-property-tile__heading">Invite Volunteers</h3>
															</div>
															<div class="modal-body invite-opportunity-modal-body">
																<form role="search">
																	<div class="input-group invite-opportunity-modal-search-box-container" >
																		<!-- <div class="pull-left">
																			<img src="../images/people.png" class="lto-mess-contact-icon cursor" ng-click="showSearchBox()">
																		</div> -->
																		<div class="lto-mess-search-box pull-left">
																			<input type="text" class="form-control lto-mess-search-input" placeholder="Add volunteers for event" ng-model="search.name" ng-keypress="searchVolunteers(search.name)" data-toggle="dropdown">
																			<!-- <ul class="dropdown-menu lto-mess-dropdown" role="menu" id="usersListId" ng-if="volunteerSuggestionList.length > 0">
																				<li class="cursor lto-mess-li invite-opportunity-modal-list" ng-repeat="party in volunteerSuggestionList" ng-click="add(party)">
																					<div class="pull-left">
																						<img src="../images/UserImage.png" ng-if="party.userBean.profilePicture == null" class="img-circle lto-mess-auto-comp-img invite-opportunity-modal-image"> <img ng-src="{{getProfileImage(party.userBean.profilePicture)}}" ng-if="party.userBean.profilePicture != null" class="img-circle lto-mess-auto-comp-img">
																					</div>
																					<div class="pull-left">
																						<span>{{party.userBean.name}}
																						</span>
																					</div> <span class="pull-right text-highlight"><span class="glyphicon glyphicon-star"></span>{{party.rating}}</span>
																				</li>
																			</ul> -->
																		</div>
																	</div>
																</form>
																<ul class="tag-on-list lto-suggestion-list">
																	<li class="cursor" ng-repeat="user in volunteerSuggestionList" ng-if="user.userBean.id != userId"><a class="text-color" href="#/profile/user/{{user.userBean.id}}"> <img ng-if="user.userBean.profilePicture != null" ng-src="{{getProfileImage(user.userBean.profilePicture)}}"> <img ng-if="user.userBean.profilePicture == null" src="../images/UserImage.png">
																		<span> 
																		  <strong>{{user.userBean.name}}</strong>
																		</span>
																	</a>
																		<button class="btn btn-secondary btn-tag-on cursor" ng-if="user.invitedStatus == false" id="invite{{user.id}}"  ng-click="inviteVolunteer(user,oppDetails)">invite</button>
																		<span class="pull-right focus-effect" ng-if="user.invitedStatus == true" id="invited{{user.id}}" >invited</span>
																		<p>{{user.userBean.addressBean.country}}</p></li>
																</ul>
															</div>
															<div class="modal-footer">
																<a class="more-results cursor" ng-click="getNextVolunteerSuggestionList()" i18n="{{'common.lto_link_text_moreContact'}}"><b class="caret"></b></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- end of section -->
							</div>
						</div>
					</div>
					<h4 ng-if="oppDetails.opportunityCauseXrefs.length>0">
						<strong>Related causes</strong>
					</h4>
					<div ng-repeat="causeDetail in oppDetails.opportunityCauseXrefs" class="row no-margin col-xs-4 col-sm-4 col-md-4">
						<span class=""> <span class="icon glyphicon glyphicon-lock"></span> <span class="icon-descriptor">{{causeDetail.causeBean.name}}</span>
						</span>
					</div>
				</div>
				<h2 ng-if="oppDetails.partyParticipations.length>0">Applied Volunteers List</h2>
				<!-- table here -->
				<div class="row no-margin row-space" ng-if="oppDetails.partyParticipations.length>0">
					<div class="search-field ng-scope col-md-12 col-sm-12 col-xs-12 opportunity-search-container">
						<input type="text" ng-model="q" name="trade" class="form-control opportunity-search-adj" placeholder="Search for Applied Volunteers"> <span class="glyphicon glyphicon-search"> </span>
					</div>
					<br> <br>
					<div dir-paginate="participation in oppDetails.partyParticipations | itemsPerPage: 4 | filter:q " current-page="currentPage" class="col-xs-5 col-sm-4 col-md-3 opportunity-user-list">
						<div class="user__thumbnail" ng-click="paintUserProfileDetails(participation.partyBean.userBean.id)">
							<img ng-src="{{getProfileImage(participation.partyBean.userBean.profilePicture)}}" ng-if="participation.partyBean.userBean.profilePicture != null"> <img src="../images/UserImage.png" ng-if="participation.partyBean.userBean.profilePicture == null">
							<div class="user-info">
								<span class="icon-descriptor">{{participation.partyBean.userBean.name}} <span class="pull-right text-highlight" ng-if="participation.rating != null"><span class="glyphicon glyphicon-star"></span>{{participation.rating}}</span>
								</span>
								<!--<hr>
									 <span class="glyphicon glyphicon-bookmark"></span> <span>Tagged</span>
									<span class="pull-right glyphicon glyphicon-cog"></span> -->
							</div>
						</div>
					</div>
				</div>
				<div class="row no-margin row-space" ng-if="oppDetails.partyParticipations.length==0">No Participants have applied yet!</div>
				<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/js/pages/fragments/pagination/dirPagination.tpl.html"></dir-pagination-controls>
				<!-- items/page select here if you like -->
				<h2 ng-if="oppDetails.linkedEvents.length>0">Related Events</h2>
				<div ng-repeat="opp in oppDetails.linkedEvents">
					<div class="row no-margin cursor well well-consent" ng-click="redirectOpp(opp.id)">
						<div class="col-xs-12 col-sm-12 col-md-6">
							<ul class="start-list--icons">
								<li ng-if="opp.contactPerson.id>0"><span class="icon glyphicon glyphicon-user"></span> <span class="icon-descriptor">{{opp.contactPerson.name}}</span></li>
								<li><span class="icon glyphicon glyphicon-map-marker"></span> <span class="icon-descriptor">
										<address ng-if="opp.addressBean">
											<span><span ng-if="opp.addressBean.street">{{opp.addressBean.street}}</br></span> <span>{{opp.addressBean.city}}<span ng-if="opp.addressBean.country"> {{opp.addressBean.country}}</span> <span ng-if="opp.addressBean.postalCode">, {{opp.addressBean.postalCode}}</span>
											</span> </span>
										</address>
								</span></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 start-property-tile__title">
							<h3 class="start-property-tile__heading">{{opp.name}}</h3>
							<hr class="start-property-tile__separator">
							<p>
								<img class="lto-opp-banner-img" ng-src="{{getBannerImage(opp.bannerImage)}}" ng-if="opp.bannerImage != null"> <img src="../images/event.jpg" class="lto-opp-banner-img" ng-if="opp.bannerImage == null">
								<img src="./images/image4.jpg" ng-if="opp.bannerImage == null"/> 
								<img src="./images/image5.jpg" ng-if="opp.bannerImage == null"/> 
								<img src="./images/image6.jpg" ng-if="opp.bannerImage == null"/>
							</p>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>
				<div ng-include="'./js/pages/opportunity/posts/opp_posts.html'"></div>
			</div>
			<!--  Common to all manage opportunity Pages-->
			<div ng-include="'./js/pages/opportunity/opportunity_suggestion.html'"></div>
		</div>
	</div>
</div>