<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container" ng-init="editProgram()">
	<div class="row lto-main-container">
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding ">
		<div class="content-area">
			<!-- Add volunteering Experience -->
			<div class="col-sm-8 row no-margin row-space">
				<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp">
					<header class="opportunity-header">
						<div class="">
							<h2 class="text-center">Edit Event</h2>
						</div>
					</header>
					<div class="col-xs-12 col-sm-12">
						<div class="row lto-cp-exp-form">
							<!--  causes in which the user is interersed in-->
							<div class="row no-margin row-space">
								<form name="eventForm" novalidate="novalidate" ng-submit="eventForm.$valid && saveEditEvent()">
									<div class="col-md-12">
										<div class="col-md-6">
											<div>
												<label for="eventName">Event Name</label> <input type="text" name="eventName" class="form-control" id="eventName" ng-minlength="3" placeholder="Enter Event Name" ng-model="event.name" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && eventForm.eventName.$error.required">Mandatory Field</span> <span
													class="help-block error" ng-show="((eventForm.eventName.$error.minlength) && eventForm.eventName.$dirty) "
												> Minimun 3 Characters Required</span>
											</div>
										</div>
										<div class="col-md-6">
											<label for="description">Description</label>
											<textarea type="text" name="description" ng-maxlength="1000" rows="1" class="form-control" id="description" placeholder="Some words about event" ng-model="event.description"></textarea>
											<span class="help-block error" ng-show="((eventForm.description.$error.maxlength) && eventForm.description.$dirty) ">Maximum 1000 Characters Allowed</span>
										</div>
										<div class="col-md-6">
											<label for="date">Date</label> <input type="text" name="eventStartDate" class="form-control" id="eventStartDate" placeholder="Enter Start Date of Event" ng-model="event.dateStart" ng-required="true" ng-focus="displayStartDate()"> <span class="glyphicon glyphicon-calendar"></span> <span class="error" ng-show="submitted && eventForm.eventStartDate.$error.required">Mandatory
												Field</span>
										</div>
										<div class="col-md-6">
											<label for="date"></label> <input type="text" name="eventEndDate" class="form-control" ng-focus="displayEndDate()" id="eventEndDate" placeholder="Enter End Date of Event" ng-model="event.dateEnd" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error" ng-show="submitted && eventForm.eventEndDate.$error.required">Mandatory Field</span>
										</div>
										<div class="col-md-6" ng-show="areaFound">
											<label>Address</label> <input id="autocomplete" placeholder="Enter your address" name="formattedAddress" type="text" class="form-control" ng-model="event.addressBean.formattedAddress"></input>
										</div>
										<div class="col-md-6" ng-hide="areaFound">
											<label>Address</label> <input ng-model="event.street" type="text" name="street_number" class="form-control" placeholder="Enter street number" id="street_number"></input> <input class="form-control" name="locality" placeholder="Enter City" id="locality" ng-required="areaFound == false" ng-model="event.addressBean.city"></input> <span class="error"
												ng-show="submitted && eventForm.locality.$error.required"
											>Mandatory Field</span> <input type="number" name="postal_code" class="form-control" id="postal_code" placeholder="Enter zipCode" ng-required="areaFound == false" ng-model="event.addressBean.postalCode"></input> <span class="error" ng-show="submitted && eventForm.postal_code.$error.required">Mandatory Field</span> <input type="text" name="administrative_area_level_1" class="form-control"
												id="administrative_area_level_1" placeholder="State" ng-required="areaFound == false" ng-model="event.addressBean.state"
											></input> <span class="error" ng-show="submitted && eventForm.administrative_area_level_1.$error.required">Mandatory Field</span> <input type="text" name="country" class="form-control" id="country" placeholder="Country" ng-required="areaFound == false" ng-model="event.addressBean.country"> <span class="error" ng-show="submitted && eventForm.country.$error.required">Mandatory
												Field</span>
											<div class="hide" id="latitude"></div>
											<div class="hide" id="longitude"></div>
										</div>
										<div class="col-md-6">
											<label class="cursor lto-google-search-txt" ng-show="areaFound"><a ng-click="changeAreaFoundStatus()">No Relevant Matches Found Click to Add customised address?</a></label> <label class="cursor lto-address-txt" ng-hide="areaFound"><a ng-click="changeAreaFoundStatus()">Search Location using google api</a></label>
										</div>
									</div>
									<div class="text-center">
										<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true">Save</button>
										<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click=showDetailPage(event.id)>cancel</button>
										<div class="success-toast-message col-xs-3 col-sm-3" ng-show="eventSuccess">
											<span ng-model="eventActionSuccess">{{eventActionSuccess}}</span>
										</div>
										<div class="error-toast-message col-xs-12 col-sm-12" ng-show="eventError">
											<span class="col-xs-3 col-sm-3" ng-model="eventActionError">{{eventActionError}}</span>
										</div>
									</div>
								</form>
							</div>
							<!-- Banner image cpature section -->
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="row-space" ng-controller="UploadOportunityImageController">
									<div class="opportunity-banner-upload-conatiner">
										<div class="pull-left opportunity-banner-upload-LHS">
											<img class="lto-opp-banner-img" ng-src="{{getBannerImage(event.bannerImage)}}" ng-if="event.bannerImage != null"> <img src="../images/event.jpg" class="lto-opp-banner-img" ng-if="event.bannerImage == null">
											<h2 class="text-center">{{event.name}}</h2>
										</div>
										<div class="pull-left opportunity-banner-upload-RHS">
											<h2 class="text-center">Upload Image</h2>
											<form name="uploadProfilePic" id="uploadProfilePic" enctype="multipart/form-data">
												<div class="cropArea opp-image-croparea">
													<img-crop image="myImage" result-image="myCroppedImage" data-result="myCroppedImage" area-type="rectangle"></img-crop>
												</div>
												<input class="upload-opportunity-image" type="file" type="file" id="profilePic" value="{{myCroppedImage}}">
												<div class="text-center opp-banner-img-btn-container">
													<button class="btn btn-primary btn--block-centered image-crop-modal-btn pull-left" ng-click="saveOpportunityImage(myCroppedImage)">Save</button>
													<button class="btn btn-primary btn--block-centered image-crop-modal-btn" ng-click="cancelOppImageCapture()">Cancel</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- End of banner image capture section -->
							<div class="col-xs-12 col-sm-12 lto-complete-profile-causes">
								<div class="lto-cp-cause-section-left">
									<h2>Causes you support</h2>
								</div>
							</div>
							<div class="row no-margin row-space checkbox-custom profile-form">
								<div class="col-xs-12 col-sm-12 col-md-4" ng-repeat="cause in masterCauseList" ng-if="cause.description.toUpperCase() != 'ALL'">
									<span> <input type="checkbox" ng-change="saveCauseList(cause)" ng-model="cause.status"> <span class="checkboxText">{{cause.description}}</span>
									</span>
								</div>
							</div>
							<div class="text-center">
								<div class="success-toast-message" ng-show="causeSuccess">
									<span ng-model="causeSuccessMessage">{{causeSuccessMessage}}</span>
								</div>
								<div class="error-toast-message" ng-show="causeError">
									<span ng-model="causeErrorMessage">{{causeErrorMessage}}</span>
								</div>
							</div>
							<div class="row no-margin row-space">
								<div class="col-xs-12 col-sm-12 lto-complete-profile-causes">
									<div class="lto-cp-cause-section-left">
										<h2>Jobs you prefer</h2>
									</div>
									<div class="lto-cp-cause-section-right">
										<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="createJobFromMasterJobType()">Add Job</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12" ng-show="jobSectionDisplay">
									<form name="jobSection" novalidate="novalidate" ng-submit="jobSection.$valid && jobOperation()">
										<div class="col-md-6 col-xs-12">
											<label for="programName">Select Job type </label> <select id="jobType" name="jobtype" class="form-control" ng-model="selectedJobType">
												<option ng:repeat="jobs in masterJobTypeList" value="{{jobs.id}}">{{jobs.name}}</option>
											</select>
										</div>
										<div class="col-md-6 col-xs-12">
											<label for="programName">Number Of positions </label> <input type="number" name="numberOfPositions" class="form-control" id="numberOfPositions" placeholder="Number Of positions" ng-model="jobType.numberOfPositions" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && jobSection.numberOfPositions.$error.required">Mandatory
												Field</span>
										</div>
										<div class="col-md-6 col-xs-12 ">
											<label for="description">Selection criteria</label> <input type="text" name="selectionCriteria" class="form-control" id="selectionCriteria" placeholder="What is your criteria" ng-model="jobType.selectionCriteria" ng-required="true"></input> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && jobSection.selectionCriteria.$error.required">Mandatory
												Field</span>
										</div>
										<div class="col-md-6 col-xs-12 ">
											<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true">Save Job</button>
											<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="cancelJobOperation()" ng-show="editCancelFunction">Cancel</button>
										</div>
										<input type="hidden" ng-model="saveJobRole" /> <input type="hidden" ng-model="jobType.id" />
									</form>
								</div>
								<div class="row-space ">
									<div class="row no-margin row-one">
										<div ng-repeat="jobbean in opportunityJobTypes">
											<div class="col-md-4 col-xs-12 col-sm-12 cursor view-Job-change" ng-show="jobbean.status==1">
												<div class="row no-margin ">
													<h3 class="ng-pristine float-left ng-untouched ng-valid ng-binding float-left">{{jobbean.jobTypeBean.name}}</h3>
													<div class="float-right">
														<span ng-click="editJobFromMasterJobType(jobbean)" class="lto-cp-edu-or-exp-edit margin-left glyphicon glyphicon-pencil"></span> <span ng-click="deleteJobFromMasterJobType(jobbean)" class="lto-cp-edu-or-exp-edit glyphicon glyphicon-trash"></span>
													</div>
												</div>
												<p class="col-xs-6 ng-pristine ng-untouched ng-valid ng-binding">Position: {{jobbean.numberOfPositions}}</p>
												<p class="col-xs-6 ng-pristine ng-untouched ng-valid ng-binding">Criteria: {{jobbean.selectionCriteria}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div ng-include="'./js/pages/connections/connection_suggestion_list.html'"></div>
				<div ng-include="'./js/pages/common/right_suggestions.html'"></div>
			</div>
		</div>
		</main>
		<!-- /main content area -->
	</div>
	<!-- /container-fluid -->
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFTKE75nLQJ5JnUstvzON-BzWgSEATIg8&libraries=places&callback=initAutocomplete" async defer></script>