<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-8" >
				<div class="row no-margin well well-consent" ng-show="showUserProfileDetails">
					<section>
						<header>
							<h3>Summary</h3>
						</header>
						<article ng-if="displayUserDetails.summary != null">
							<p>{{displayUserDetails.summary}}</p>
						</article>
						<article ng-if="displayUserDetails.summary == null">
							<p>No Summary Details Provided.</p>
						</article>
						<hr>
						<header>
							<h3>Experience</h3>
						</header>
						<article ng-repeat="profession in professionalDetailsList" ng-if="professionalDetailsList.length > 0">
							<header>
								<h3 class="lto-user-profile-exp-title">{{profession.title}}</h3>
							</header>
							<div class="row-space">
								<span><strong>{{profession.organizationName}}</strong></span></br> <span class="lto-user-profile-exp-date">{{profession.startDate | date:'MM-dd-yyyy'}} <span> to </span> <span ng-if="!!profession.endDate"> {{profession.endDate | date:'MM-dd-yyyy'}}</span> <span ng-if="!profession.endDate">present.</span> <span> | </span>{{profession.location}} <!-- <span class="pull-right"><img src="./images/logo.jpg" /></span> -->
								</span>
							</div>
							<p>{{profession.description}}</p>
						</article>
						<article ng-if="professionalDetailsList.length == 0">
							<p>No Experience Details Provided.</p>
						</article>
					</section>
					<hr>
					<h3>
						Volunteering Experience <span>&</span> Causes
					</h3>
					<div class="row">
						<div class="col-xs-12 col-md-6 col-sm-6" ng-repeat="details in volunteeringDetailsList" ng-if="volunteeringDetailsList.length > 0">
							<h3 class="lto-user-profile-exp-title">{{details.cause}}</h3>
							<address>
								{{details.organizationName}} </br> {{details.title}} </br> <span class="lto-user-profile-exp-date">{{details.startDate | date:'MM-dd-yyyy'}}<span> to </span> <span ng-if="!!details.endDate"> {{details.endDate | date:'MM-dd-yyyy'}}</span> <span ng-if="!details.endDate">present.</span>
								</span>
							</address>
							<p>{{details.description}}</p>
						</div>
					</div>
					<article ng-if="volunteeringDetailsList.length == 0">
						<p>No Volunteering Experience Details Provided.</p>
					</article>
					<hr>
					<h3>Education</h3>
					<div class="row">
						<div class="col-xs-12 col-md-6 col-sm-6 lto-user-profile-edu-sec" ng-repeat="education in educationDetailsList" ng-if="educationDetailsList.length > 0">
							<h3 class="lto-user-profile-exp-title">{{education.degree}}</h3>
							<address>
								{{education.organizationName}} </br> {{education.course}} </br> <span class="lto-user-profile-exp-date">{{education.startDate | date:'MM-dd-yyyy'}}<span> to </span> <span ng-if="!!education.endDate"> {{education.endDate | date:'MM-dd-yyyy'}}</span> <span ng-if="!education.endDate">present.</span>
								</span>
							</address>
							<p>{{education.description}}</p>
						</div>
					</div>
					<article ng-if="educationDetailsList.length == 0">
						<p>No Educational Details Provided.</p>
					</article>
					<hr>
					<h3>Additional Info</h3>
					<div class="row">
						<div class="col-xs-12 col-md-6 col-sm-6 lto-user-profile-edu-sec">
							<h3 class="lto-user-profile-exp-title">Personal Details</h3>
							<div class="row">
								<label class="col-xs-4">Birthday</label> <span>{{displayUserDetails.dateOfBirth}}</span>
							</div>
							<div class="row">
								<label class="col-xs-4">Gender</label> <span ng-if="displayUserDetails.gender != null">{{displayUserDetails.gender}}</span><span ng-if="displayUserDetails.gender == null">-</span>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 col-sm-6 lto-user-profile-edu-sec">
							<h3 class="lto-user-profile-exp-title">Advice for contacting {{displayUserDetails.name}}</h3>
							<div class="row" ng-show="showPhoneNumber">
								<label class="lto-user-profile-info-label col-xs-3">Phone</label><span class="glyphicon glyphicon-phone hide lto-user-profile-info-icon"></span> <span ng-if="displayUserDetails.phoneNumber != null">{{displayUserDetails.phoneNumber}}</span> <span ng-if="displayUserDetails.phoneNumber == null">Unknown</span>
							</div>
							<div class="row">
								<label class="lto-user-profile-info-label col-xs-3">Email</label> <span class="glyphicon glyphicon-envelope hide lto-user-profile-info-icon"></span><span>{{displayUserDetails.emailAddress}}</span>
							</div>
						</div>
					</div>
					<!-- <h3>Other Certifications</h3>
							<div class="row">
								<div class="col-xs-6">
									<h3>Sudarshan Kriya Certified</h3>
						            <span>2005-2007</span>																	
								</div>
								<div class="col-xs-6">
									<h3>Advance Yoga Guru Certified</h3>
									<span>2002-2005</span>				            
								</div>
							</div> -->
				</div>
			    <div class="row no-margin row-space well well-consent col-xs-12 col-sm-12 col-md-12 col-lg-12" i18n="{{'common.lto_hide_profile_message'}}" ng-hide="showUserProfileDetails"></div>
			</div>
			<div class="col-sm-4">
				<!-- Container to show profile completion status -->
				<div class="col-xs-12 lto-add-volunteer">
					<div class="row no-margin well well-consent event-cal">
						<h3 class="lto-profile-comp-status">Profile Completion</h3>
						<div class="progress" ng-init="getProfileCompletionStatus()">
							<div id="profileProgressBar" class="progress-bar lto-user-profile-progress" role="progressbar" aria-valuenow="ProfileCompletionStatusDTO.completion" ng-modal="width = {{ProfileCompletionStatusDTO.completion*100}}px" aria-valuemin="0" aria-valuemax="100">{{ProfileCompletionStatusDTO.completion*100 | number:0}}%</div>
						</div>
						<!-- <span ng-repeat="advice in ProfileCompletionStatusDTO.advice">{{advice}}{{$last ? '' : ', '}}</span> -->
					</div>
				</div>
				<!-- End of profile completion section -->
				<!-- Include of connection suggestion list section -->
				<div ng-include="'./js/pages/connections/connection_suggestion_list.html'"></div>
				<!-- End of connection suggestion list section -->
				<!-- Include of right suggestion lists -->
				<div ng-include="'./js/pages/common/right_suggestions.html'"></div>
				<!-- End -->
				<!-- <div class="row no-margin well well-consent">							
							<div class="col-xs-12 start-property-tile__title">
								<h3 class="start-property-tile__heading">Do you have a event to post</h3>
					            <hr class="start-property-tile__separator">
					            <p>Engage in the work of grassroot organizations, international NGO's, local governments educational institutions & agencies</p>
					            <button class="btn btn-primary btn--block-centered">Post New Event</button>
					            <a href="#"><p class="text-center">Tell your friends about an event </span></p>
							</div>
						</div>											
						<div class="row no-margin well well-consent">						
							<div class="col-xs-12 start-property-tile__title side-section-2 add-section">
								<h3 class="start-property-tile__heading">Suggested Opportunities </h3>	
								<a href="#" class="pull-right">See All</a>
					            <hr class="start-property-tile__separator">
					            <img src="./images/add1.jpg"></br>
					            <h4><a href="#"><span class="text-center">CRY - Child Rights and You</span></a></h4>
					            <span>Bangalore City, India <span class="pull-right">14k Followers</span>
					            <p><img class="profile-img" src="./images/profile.jpg" />
					            <img class="profile-img" src="./images/profile.jpg" />
					            <img class="profile-img" src="./images/profile.jpg" />
					            <img class="profile-img" src="./images/profile.jpg" />
					            <img class="profile-img" src="./images/profile.jpg" />
					            <img class="profile-img" src="./images/profile.jpg" /></p>					            
					            <p>We are a group of people, who are part of the Public Action Group (PAG) working in partnership with CRY</p>
							</div>
						</div> -->
				<!-- <div class="row no-margin well well-consent">
					<div class="col-xs-12 add-section">
						<img src="./images/image1.jpg"> <span class="pull-right">Advertisement</span>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
