<div class="col-xs-12 lto-add-volunteer">
	<div class="row no-margin well well-consent" ng-controller="ConnectionSugestionController" ng-show="displayConnectionSuggestionList.length>0">
		<div class="col-xs-12 no-padding side-section-1">
			<h3 class="start-property-tile__heading" i18n="{{'common.lto_heading_connectionSuggestion'}}"></h3>
			<ul class="tag-on-list" ng-repeat="user in displayConnectionSuggestionList">
			
				<li class="cursor"  ng-if="user.userBean.id != userId"><a class="text-color" href="#/profile/user/{{user.userBean.id}}"> <img ng-if="user.userBean.profilePicture != null" ng-src="{{getProfileImage(user.userBean.profilePicture)}}"> <img ng-if="user.userBean.profilePicture == null" src="../images/UserImage.png"> <span>
							<strong>{{user.userBean.name}} </strong>
					</span>
				</a>
					<button class="btn btn-secondary btn-tag-on" ng-click="connect(user)" i18n="{{'common.lto_button_text_tagOn'}}"></button>
					<p>{{user.userBean.addressBean.country}}</p>					
					</li>
			</ul>
			<a class="more-results cursor" ng-click="getNextConnectionSuggestionList()" i18n="{{'common.lto_link_text_moreContact'}}"><b class="caret"></b></a>
		</div>
	</div>
</div>