/* -----------------------------------------
   Custom CSS -Preeti kala
--------------------------------------------
:: Reset Bootstrap
:: Basic Structure
:: Transitions
:: Scaffolding
:: Head Area
:: Side Area
:: Context Aside Area
:: Content Area
:: Typography
----------------------------------------- */

/* -----------------------------------------
   Reset Bootstrap
----------------------------------------- */
.container-fluid {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 0;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}
.no-padding {
  padding-right: 0;
  padding-left: 0;
}
.add-padding {
  padding-right: 12px;
  padding-left: 12px;
}

/* -----------------------------------------
   Basic Structure
----------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #fe982a;
  font-weight: 600;
}
a:hover {
  color: #fe982a;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  text-decoration: underline;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* -----------------------------------------
   Scaffolding
----------------------------------------- */
.fixed {
  position: fixed;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* -----------------------------------------
   Side Area
----------------------------------------- */
.side-area,
.content-aside-area,
.content-area,
.search-area,
.results-area {
  height: 100%;
}

/* Sidebar ------------------------------ */
.side-area,
.logo-area,
.content-aside-area {
  padding-left: 0;
  padding-right: 0;
}
.side-area,
.logo-area {
  background-color: #333f48;
  color: #fff;
  min-height: 760px;
}

.side-area {
  -webkit-box-shadow: inset -3px 0 0 0 #242c32;
  box-shadow: inset -3px 0 0 0 #242c32;
}

/* Navigation Level 1 ------------------- */
.nav-level-1 ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.nav-level-1 ul a {
  color: #fff;
  display: block;
  padding: 13px;
  text-align: center;
  text-decoration: none;
}
.nav-level-1 ul a:hover,
.nav-level-1 ul a.active {
  background-color: #424b51;
  border-left: 7px solid #dc241f;
}

.nav-level-1 ul a span {
  display: none;
}
.nav-level-1 .glyphicon {
  display: block;
  font-size: 24px;
}

/* -----------------------------------------
   Content Area
----------------------------------------- */
.content {
  float: none;
  max-width: 684px;
} /* max width = iPad Landscape width */
.glyphicon {
  font-size: 15px;
}

/* -----------------------------------------
   Responsive (Large)
----------------------------------------- */

@media (min-width: 992px) {
  h1.logo {
    padding: 0 17px;
  }
  .nav-level-1 ul a span {
    display: block;
  }
}

/* -----------------------------------------
   Custom Classes - Preeti
----------------------------------------- */

main {
  height: 100%;
  margin-top: 0;
}
.row-space {
  margin-bottom: 25px;
}

.logo-header {
  display: inline-block;
  margin-top: 15px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  font-family: serif;
}
.top-header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.top-header ul {
  /*margin-right: 15%;*/
}

.top-header ul.utility-bar {
  position: absolute;
  top: 25px;
  right: 10px;
  text-align: right;

  width: 200px;
}

#bs-example-navbar-collapse-1 {
  height: 70px !important;
}
.well {
  background-color: #ffffff;
}

.top-header .utility-bar a {
  color: #f1f1f1;
}
.top-header .utility-bar a:hover {
  color: #fff;
}
.top-header .utility-bar .glyphicon {
  margin-right: 10px;
  vertical-align: middle;
}
.top-header .utility-bar .profile-img {
  width: 30px;
}
.navbar-level-two ul {
  position: relative;
  margin-top: 20px;
  width: 50%;
}
.navbar-level-two ul li {
  display: inline;
  margin: 0px 15px;
}
.navbar-level-two ul li a {
  color: #888;
}
.navbar-level-two ul li a .btn {
  display: inline;
  width: auto;
}
.side-section-1 .start-list--icons {
  border-right: 0px;
}
.side-section-1 ul {
  list-style: none;
}
.side-section-1 ul li {
  margin-bottom: 10px;
}
.side-section-2 .profile-img {
  width: 40px;
  margin: 10px 4px 0px 0px;
  border: 1px solid #f5f5f5;
}
.side-section-2 h4 {
  margin-bottom: 5px;
}
.side-section-4 ul {
  width: 100%;
}
.side-section-4 ul li {
  display: inline;
  margin: 0px 5px;
}
.side-section-4 ul li a {
  font-size: 12px;
  color: #888;
  font-weight: 400;
}
.side-section-4 .label {
  color: #d9a54b;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 0px;
}

.right-align {
  padding-left: 30px;
}
.v-align {
  vertical-align: middle;
}
.text-highlight {
  color: #fe982a;
  font-weight: 600;
}
.user__thumbnail img {
  width: 100%;
  height: 100%;
}
.user__thumbnail .user-info {
  padding: 5px;
  background-color: #fff;
}
.user__thumbnail .user-info span {
  line-height: 2.2;
}
.user__thumbnail .user-info hr {
  width: 100%;
}
.information-section p {
  text-align: justify;
}
.information-section .navigation-bar ul {
  text-align: left;
}
.information-section .navigation-bar ul li {
  margin: 0px 10px;
  vertical-align: middle;
}
.information-section .navigation-bar ul li + .vertical-separator {
  height: 50px;
}
.navigation-map {
  height: 300px;
  border: 1px solid #e3e3e3;
}
a.selected {
  color: #324b9d !important;
}

.top-header ul li {
  display: inline-block;
  margin-right: 2%;
}
.content-area {
  background-color: #f1f1f1;
  height: auto;
  padding: 10px 0;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}
.top-header .navbar-default {
  background-color: #5dbcd2;
  border-color: transparent;
}
.navbar-toggle {
  float: left;
  left: 15px;
}
.navigation-bar ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0px;
}
.navigation-bar ul li {
  display: inline-block;
}
.navigation-bar ul li + .vertical-separator {
  border-right: 2px solid black;
  height: 15px;
  vertical-align: middle;
}
.navigation-bar ul li a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.navigation-bar .glyphicon {
  vertical-align: middle;
  margin-right: 10px;
}
.profile-header .container-fluid {
  padding: 12px;
}
.profile-header .container-fluid a:first-child {
  margin-top: 10px;
}
.profile-header .container-fluid a:last-child {
  margin-top: -30px;
}
.profile-header .container-fluid h2 {
  margin: 0px;
}
.profile-header a {
  color: #fe982a;
  font-weight: 600;
  font-size: 16px;
}
.lead-text {
  margin: 20px auto;
  text-align: center;
  width: 800px;
}
.lead-text p {
  margin: 0px;
}
.connect-media {
  background-color: white;
  padding: 20px 0px;
  margin-bottom: 20px;
}
.btn--inline-block {
  width: 100%;
  max-width: 200px;
  margin-left: 9px;
  margin-right: 9px;
  background-color: transparent;
  font-weight: 600;
}
.btn-linkedin {
  border: 2px solid #5272ae;
  color: #5272ae;
}
.btn-facebook {
  border: 2px solid #4c5893;
  color: #4c5893;
}
.btn-google {
  border: 2px solid #a84c3e;
  color: #a84c3e;
}
.progress-bar {
  height: 200px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
}
.update-picture {
  background-image: url("../images/profile-section.jpg");
  background-repeat: no-repeat;
  height: 180px;
  background-size: 100%;
  opacity: 0.8;
  position: relative;
}
.update-picture .label {
  color: white;
  bottom: -52%;
  left: -35%;
  position: absolute;
}
.update-picture .label .glyphicon {
  margin-right: 10px;
  vertical-align: middle;
}
.upload-profile-txt {
  margin: 0 5px;
  font-size: 18px;
}
.upload-profile-input {
  margin-top: -8%;
  opacity: 0;
  width: 20px;
}
.profile-image {
  border: 5px solid #dbdbdb;
  border-radius: 130px;
  height: 120px;
  width: 120px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 45%;
  bottom: 60%;
  position: absolute;
}
.user-pic {
  border-radius: 130px;
}
.update-picture .profile-info {
  position: absolute;
  top: 35%;
  width: 100%;
  color: #fff;
}
.update-picture .profile-info h2 {
  text-align: center;
  margin: 10px 0px;
  color: #fff;
  font-weight: bold;
}
.update-picture .profile-info p {
  margin-bottom: 10px;
}
.update-picture .profile-info p span {
  margin-right: 10px;
}

.profile-form {
  max-width: 100%;
  background-color: #ffffff;
  padding: 20px;
}
.profile-form label {
  color: #000;
  font-weight: 600;
  margin-bottom: 0px;
}
.profile-form .form-control {
  border: 0px;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  border-radius: 0px;
  font-weight: normal;
  margin-bottom: 10px;
}
.profile-form .form-control + .glyphicon {
  float: right;
  margin-top: -37px;
  color: #bcbcbc;
}
.profile-form textarea {
  resize: none;
  min-height: 38px;
}
.change-pwd-link {
  line-height: 60px;
}

.btn-primary {
  background-color: #fe982a !important;
  border: none;
  color: white;
  width: auto;
  font-weight: 600;
  min-width: 90px;
}
.btn-secondary {
  background-color: transparent;
  border-color: #fe982a;
  color: #fe982a;
}
.btn--block-centered {
  background-color: #fe982a;
  border-color: #fe982a;
  color: white;
  display: block;
  width: 100%;
  max-width: 260px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
}
.btn-primary-icon span {
  vertical-align: middle;
  margin-right: 10px;
}
/* Custom Radio ------------------------- */
.radio-custom label {
  line-height: 40px;
  position: relative;
  width: 100px;
}
.radio-custom span {
  padding-left: 30px;
  position: relative;
}
.radio-custom span:before {
  content: "";
  background: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

.radio-custom input[type="radio"]:checked + span:after {
  content: "";
  background: #fe982a;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
}
.radio-custom span:before {
  border: 1px solid #fe982a;
}
.radio-custom input[type="radio"]:checked + span:after {
  border: 4px solid #fff;
}
.radio-custom input[type="radio"] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
/* Custom Checkbox ---------------------- */
.checkbox-custom label {
  position: relative;
}
.checkbox-custom span.checkboxText {
  padding-left: 30px;
  position: relative;
}
.checkbox-custom span.checkboxText:before,
.checkbox-custom input[type="checkbox"]:checked + span.checkboxText:after {
  content: "";
  background: transparent;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
}
.checkbox-custom span.checkboxText:before,
.checkbox-custom input[type="checkbox"]:checked + span.checkboxText:after {
  border: 2px solid #d7d2cb;
}
.checkbox-custom input[type="checkbox"]:checked + span.checkboxText:after {
  background-color: transparent;
  border-color: #fe982a;
  font: normal 400 11px/24px "Glyphicons Halflings";
  -webkit-font-smoothing: antialiased;
  content: "\e013";
  color: #fe982a;
  line-height: 15px;
  text-align: center;
}
.checkbox-custom input[type="checkbox"] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.checkbox-custom .col-xs-6 {
  margin-bottom: 20px;
}

/* tile section */
.commitment-tile {
  margin-bottom: 60px;
}
.commitment-tile .row-one .col-xs-4 {
  text-align: center;
  border: 1px solid #e8e8e8;
}
.commitment-tile .row-two .col-xs-4 {
  text-align: center;
  border: 1px solid #e8e8e8;
}
.commitment-tile .col-xs-4 h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #666666;
}

.commitment-tile span {
  font-size: 30px;
  padding-top: 20px;
}

.time-table > thead > tr > th,
.time-table > tbody > tr > td {
  padding: 15px;
  border-right: 1px solid #ddd;
}
.time-table > thead > tr > th:last-child,
.time-table > tbody > tr > td:last-child {
  border-right: 0px;
}
.time-table > thead > tr > th.active,
.time-table > tbody > tr > td.active {
  background-color: #fe982a;
}

/* Custom Progress Bar */

@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.progress-wrap {
  color: #444;
  max-width: 1200px;
  min-height: 70px;
  width: 900px;
  text-align: center;
  margin: 20px auto 35px auto;
}
.personal-info-progress-wrap {
  margin-bottom: 50px;
}
ul.progress-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.progress-bar li:before {
  background: #f1f1f1;

  border: 2px solid #fe982a;

  border-radius: 50%;

  z-index: 999;
}
ul.progress-bar li.active {
  color: #fe982a;
}
ul.progress-bar li.active:before {
  background: #fe982a;
  z-index: 0;
}
ul.progress-bar li.visited {
  background: #ececec;
  color: #57aed1;
  z-index: 99999;
}
ul.progress-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.progress-bar li:before {
  content: "";
}

ul.progress-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .progress-bar li.active:after {
    content: "";
    height: 1px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -42px;
    z-index: 0;
  }

  ul.progress-bar {
    background-color: #ececec;
    height: 1px;
    padding: 0;
    width: 100%;
    border: 1px solid #fe982a;
  }
  ul.progress-bar:before {
    background-color: #57aed1;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    width: 0%;
  }
  ul.progress-bar li {
    display: inline-block;
    margin: 42px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.progress-bar li:before {
    height: 15px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -50px;
    width: 15px;
    z-index: 99;
  }
  ul.progress-bar li.visited {
    background: none;
  }
  ul.progress-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-image: -moz-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}

/* Carousal */

#carousel-example-generic {
  /*position: relative; already set in bootstrap.min.css*/
  min-height: 400px;
  /*border: 1px solid red;*/
}

.carousel-indicators {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}
.carousel-inner > .item {
  height: 100%;
  width: 100%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  /*border: 2px solid blue;*/
  /*position: absolute;*/
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}

.carousel-caption {
  top: 10%;
  text-shadow: none;
}

.carousel-caption h2 {
  margin-top: 2px;
}

.carousel-caption .hightlight {
  color: #ffffff;
  line-height: 1.5em;
  margin: 0 auto;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.carousel-caption b {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 30%;
  width: 100%;
}

.carousel .lto-search-container {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
}

.carousel-caption .glyphicon-search {
  float: right;
  right: 1%;
  color: rgba(42, 42, 39, 0.45) !important;
  margin-top: -36px;
  font-size: 23px;
}
.search-field {
  display: inline;
}
.search-field input {
  width: 30%;
  display: inline;
  margin-left: 20px;
}
.search-field .glyphicon-search {
  right: 3%;
  color: #bcbcbc;
  margin-top: -23px;
}
/*information tiles */
.start-property-tile {
  margin-bottom: 24px;
  background: white;
  /* border-radius: 6px; */
  /* border: 1px solid #d7d2cb; */
  padding: 12px;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;
  width: 370px;
}
@media (min-width: 600px) {
  .start-property-tile {
    /* width: calc(50% - 6px);*/
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .start-property-tile__tiles {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .start-property-tile {
    /*width: calc(33.33333333% - 8px);*/
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 12px;
  }
  .start-property-tile__tiles {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .start-property-tile:nth-child(3n + 3) {
    margin-right: 0;
  }
}
.start-property-tile__left {
  display: block;
  position: relative;
}
.start-property-tile__thumbnail {
  display: block;
  height: 270px;
  overflow: hidden;
  position: relative;
  margin: -18px;
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.start-property-tile__thumbnail img {
  width: 100%;
  height: 100%;
}
.no-object-fit .start-property-tile__thumbnail img,
.ios.object-fit .start-property-tile__thumbnail img {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.start-property-tile__thumbnail-gradient {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6));
}
@media (min-width: 768px) {
  .start-property-tile__thumbnail-address {
    font-size: 18px;
  }
}
.start-property-tile:hover .start-property-tile__thumbnail-address {
  white-space: normal;
}
.start-property-tile__title h2 {
  color: #621a4b;
  overflow: hidden;
}
.start-property-tile__title .icon {
  margin-top: 9px;
  margin-right: 6px;
  font-size: 24px;
}
.start-property-tile__separator {
  margin-top: 0;
  margin-bottom: 18px;
  width: 83%;
  margin-left: 22px;
  border-color: #f1f1f1;
}

.start-property-tile__title p {
  word-wrap: break-word;
}
@media (min-width: 480px) {
  .start-property-tile__title h2 {
    font-size: 24px;
  }
  .start-property-tile__title .icon {
    font-size: 32px;
  }
}
.start-property-tile__heading h2 {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 13px;
}
@media (min-width: 480px) {
  .start-property-tile__heading h2 {
    font-size: 24px;
  }
}
.start-property-tile__title h2 {
  margin: 15px 0px 15px 20px;
  color: rgba(0, 0, 0, 0.79);
}

.event-section header h2 {
  display: inline-block;
}
.event-section header a {
  margin-top: 30px;
}
.event-section .add-section {
  padding: 5px;
}
.event-section .add-section img {
  height: 100%;
  width: 100%;
}
.event-cal img {
  float: left;
  margin-right: 12px;
}
.event-cal p span {
  display: block;
}
.adv-section .event-cal {
  min-height: 160px;
}
.add-section .well {
  padding-bottom: 0px;
}
.add-section .event-cal img {
  margin-top: -19px;
  margin-left: -19px;
}
.add-section .event-cal .col-xs-7 {
  margin-top: -12px;
}
.tag-on-list img {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 20px;
}
.tag-on-list .btn-tag-on {
  padding: 3px 8px;
  font-size: 12px;
  float: right;
}
.more-results {
  display: block;
  text-align: center;
}
.more-results .caret {
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-top: -5px;
}
.start-list--icons {
  list-style: none;
  border-right: 1px solid #aba9a9;
  margin-top: 20px;
}
.start-list--icons li {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 300;
}
.start-list--icons li .icon {
  vertical-align: top;
  color: #575f65;
  /* font-size: 32px; */
  margin-right: 12px;
}
.start-list--icons li .icon-descriptor {
  width: calc(100% - 60px);
  display: inline-block;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.79);
}
.success-message {
  position: absolute;
  margin: auto;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
}
.success-message h1 {
  color: #5eb95e;
}
.success-message p {
  margin-bottom: 0px;
  font-weight: 600;
}
/* Copyright */
.foot-note {
  margin-top: 10px;
  font-family: Verdana;
  font-size: 10px;
  padding: 10px 0px;
  color: #fff;
  bottom: 0;
  position: relative;
  background-color: #5dbcd2;
  border-color: transparent;
  height: 65px;
}

.foot-note ul {
  list-style: none;
  padding: 30px 0;
  float: left;
  color: #fff;
  margin-left: -25px;
}

.foot-note ul li {
  color: #fff;
  padding: 0 3px 0 7px;
  display: inline-block;
}

.foot-note ul li:first-child {
  border-left: none;
}

.foot-note ul li:last-child {
  padding-right: 0;
}
.foot-note span {
  padding: 30px 0;
  /* line-height: 0px; */
}

/*Messages styles start*/
.split-data {
  display: block;
  margin: 10px;
}

.split-data span {
  display: block;
  float: right;
  margin-left: 10px;
}

.msgIncomeStyle {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 6px #b2b2b2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  float: left;
  margin: 5px 45px 5px 20px;
  border-color: #cdecb0;
  color: black;
}

.msgSentStyle {
  background-color: #d0d0d0;
  border-radius: 5px;
  box-shadow: 0 0 2px #b2b2b2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  float: right;
  margin: 5px 45px 5px 20px;
  border-color: #cdecb0;
  color: black;
}

.enterReplydiv {
  margin-left: 20px;
  width: 100%;
}

.enterReply {
  height: 30px;
}

.btnSend {
  display: table-cell;
  vertical-align: middle;
}

.resizable-msg {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.resizable-contact {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.resizable-contact::-webkit-scrollbar,
.resizable-msg::-webkit-scrollbar {
  width: 12px;
}

.resizable-contact::-webkit-scrollbar-track,
.resizable-msg::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.resizable-contact::-webkit-scrollbar-track-piece,
.resizable-msg::-webkit-scrollbar-track-piece {
  background-color: white;
}

.resizable-contact::-webkit-scrollbar-thumb,
.resizable-msg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.resizable-contact::-webkit-scrollbar-thumb:vertical,
.resizable-msg::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #b8b8b8;
}

div#chatlist {
  width: 100px;
  height: 140px;
  border: 1px solid black;
}

div.resizable-contact {
  overflow: hidden;
}

div.resizable-contact:hover {
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

.slimScrollDiv {
  border: 1px solid lightblue;
  margin: 10px;
}

.onselect-Contact:hover {
  background-color: #787878;
  color: white;
  border-radius: 10px;
  margin: 2px;
  font-size: 110%;
}

.onselect-Contact:hover .close-icon {
  display: block;
}

.col-sm-0,
.col-lg-0 {
  display: none;
}

#sidebar .showColumn {
  display: inline;
}

#file-input,
#file-input1 {
  display: none;
}

.ProfilePicInList {
  max-width: 60;
  max-height: 60;
}

.MessageSent {
  width: 80%;
  float: right;
  margin-top: 20px;
  display: inline-block;
}

.MessageReceived {
  width: 80%;
  margin-top: 20px;
  display: inline-block;
}

.close-icon {
  display: none;
}

/*Messages styles end*/
