/*  Higher Screen Resolution

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 20px;
        line-height: 20px;
        display: -moz-grid-line;
        line-height: 0px;
    }

    .lto-search-container {
        margin: 20px 0;
    }
    .carousel-caption {
        top: 25%;
    }
    
} */

/* iPad in portrait & landscape */


/*
@media (min-width: 1125px) {
  .top-header ul {
    left: calc(100vw - 25%);
   
  }
  .top-header ul li {
    display: block;
  }
}*/

@media screen and (max-width: 767px) {
    .top-header ul.utility-bar {
        top:70px;
        max-width:90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }    

    .top-header ul li {
        height:30px;
    }
}


/************
About Us Page Responsive Styles
************/
@media screen and (min-width: 1000px) {
    #Welcome-AboutUs h2 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #TheTeam .Profile-Card h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    #TheTeam .Profile-Card img {
        height: 85px;
        width: 85px;
    }

    #TheTeam .Profile-Card h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) and (min-width: 600px) {
    #TheTeam .Profile-Card img {
        height: 65px;
        width: 65px;
    }

    #TheTeam .Profile-Card h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    #TheTeam .Profile-Cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }

    #TheTeam .Profile-Card:nth-child(odd) {
        grid-column: 1/3;
    }
    #TheTeam .Profile-Card:nth-child(even) {
        grid-column: 3/5;
    }

    #TheTeam .Profile-Card:last-child {
        grid-column: 2/4;
    }
}

@media screen and (max-width: 600px) {
    #TheTeam .Profile-Cards {
        display: block;
        /* grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);*/
    }
}

@media screen and (max-width: 700px) {
    #How-It-Works .cards {
        display: block;
    }

    #How-It-Works .card {
        margin-top: 15px;
    }
}

/*---------------------------------------------------------

Responsive Styles for Blog
-----------------------------------------------------------*/

/*@media screen and (min-width: 750px) {
    .blogs {
        margin-left: 50px;
        margin-right: 80px;
    }
}*/

/*---------------------------------------------------------

Responsive Styles for Carousel
-----------------------------------------------------------*/

/*@media screen and (max-width: 876px) {
    .inner {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 860px) {
    .inner {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 35px;
        padding-right: 35px;
    }

    p.largetxt {
        font-size: 15px;
        line-height: 1.368em;
    }
}

@media screen and (max-width: 1276px) and (min-width: 860px) {
    .gridcol__inline {
        display: block;
    }

    .gridcol__inline .grid-feature {
        left: auto;
        right: auto;
        position: relative;
    }
}

@media screen and (max-width: 1276px) and (min-width: 0) {
    .grid-feature {
        padding: 50px;
    }
}
*/

/*Responsive styles for footer*/
@media screen and (max-width: 900px) and (min-width: 520px) {
    .lto-footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    .lto-footer-container ul:nth-of-type(1) {
        /*border:1px solid red;*/
        order:1;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }
    .lto-footer-container ul:nth-of-type(2) {
        /*border: 1px solid red;*/
        order:3;
        width: 100px;
        
        margin-right: 0;
        text-align: right;
        
    }
    .lto-footer-container span {    
        
        /*border: 1px solid red;*/
        width: 250px;
        order:2;
        padding-left: 7px;
    }

.foot-note {
        height: 150px;
    }

    
}

@media screen and (max-width: 520px) {
    .lto-footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    .lto-footer-container ul:nth-of-type(1) {
        /*border:1px solid red;*/
       
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: : center;
        height: auto;
        order:1;
        padding-bottom: 0;
    }
     .lto-footer-container ul:nth-of-type(1) li {
       height: 30px;
       width: 45%;
    }
   
    .lto-footer-container ul:nth-of-type(2) {
        /*border: 1px solid red;*/
        width: 100px;
        display: flex;
        justify-content: space-between;
        width: 70%;        
        margin: 0 auto;
        order:2;
    }
    .lto-footer-container span {    
        
        /*border: 1px solid red;*/
        width: 100%;
        text-align:center;
        order:3;
    }

    .foot-note {
        height: 350px;
    }
       
}
 
/*Responsive Styles for body of welcome page: Upcoming events and blog list*/
@media screen and (max-width:770px) and (min-width:500px) {
    .lto-post-event-container {
        width: 100%;
    }
    .lto-post-event-container > div:first-child {
        text-align:center;
    }
    .lto-post-event-container > div:nth-of-type(2) {
        display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
        padding-top: 10px;

    }

    .lto-blog-container-adj {
        width: 45%;
    }
    
}

@media screen and (max-width:500px)  {
    .lto-post-event-container {
        width: 100%;
    }
    .lto-post-event-container > div:first-child {
        text-align:center;
    }
    .lto-post-event-container > div:nth-of-type(2) {
        display:flex;
        flex-wrap: wrap;
           
    }

    .lto-blog-container-adj {
        width: 100%;
    }
    
}

/*responsive styles for blogs page*/
@media screen and (max-width: 990px) and (min-width: 770px) {
    .lto-blog-container {
        padding-left: 0;
        padding-right:0;
    }
}


/*responsive styles for opp edit page*/
@media screen and (max-width:500px) {
	.opportunity-banner-upload-LHS > h2 {
		font-size: 1em;
        overflow-wrap: break-word;
	}
}

/*responsive styles for right suggestions*/
@media screen and (max-width:768px) {
    .featuredNGO {
        margin-bottom: 10px;
        width: 45%;
    }
}

@media screen and (max-width:370px) {
    .featuredNGO {
        margin-bottom: 10px;
        width: 100%;
    }
}


/*responsive styles for edit profile page*/
/*@media screen and (min-width:300px) {
  .progress-bar li.active:after {
    content: "";
    height: 1px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -42px;
    z-index: 0;
    display: flex;
    justify-content: space-between;
  }*/