/*  Higher Screen Resolution

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 20px;
        line-height: 20px;
        display: -moz-grid-line;
        line-height: 0px;
    }

    .lto-search-container {
        margin: 20px 0;
    }
    .carousel-caption {
        top: 25%;
    }
    
} */

/* iPad in portrait & landscape */

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    .top-header ul {
        width: 45%;
        text-align: right;
    }
    .top-header ul li {
        display: inline;
    }
    .lto-user-invite-btn {
        float: left;
        /*top: */
        left: 7%;
    }
    .lto-invite-user-causes {
        display: none !important;
    }

    /*.hightlight {
        font-size: 25px;
    }
    .carousel-caption {
        right: 15%;
        left: 15%;
        top: 11%;
    }
    .carousel-indicators {
        bottom: 0%;
    }
    .image-container {
        margin-top: 52px;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 20px;
        line-height: 20px;
        display: -moz-box;
        margin: 20px 0;
    }
    .lto-search-container {
        margin: 10px 0;
    }

    .lto-pre-login-search {
        height: 40px;
    }
    .carousel-caption .glyphicon-search {
        margin-top: -32px;
        font-size: 18px;
    }*/
    .main-header {
        margin: 1px 15px !important;
    }

    .start-property-tile__title h2 {
        line-height: 30px;
        margin: 0px;
        padding: 5px 0;
    }

    .start-property-tile__separator {
        width: 84%;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .lto-welcome-page-txt {
        margin: 5px 0;
        font-size: 15px;
        word-break: break-all;
    }
    .start-property-tile__right {
        margin: 0px 0 26px 10px;
    }
    .lto-welcome-page-adj {
        padding: 0;
    }
    .lto-post-new-event-btn {
        margin: 5px 0 !important;
    }
    .lto-post-event-txt-adj {
        margin: 5px 0;
        padding: 0 10px;
    }
    .lto-blog-container-adj,
    .lto-event-container-adj,
    .lto-welcome-adv-container,
    .lto-event-container-adj {
        height: auto;
    }
    .foot-note ul {
        padding: 30px 20px;
    }
    .register-modal {
        left: 0%;
        width: 100%;
    }
    .register-profile-form {
        margin: 5px 0 15px 0;
        width: 100%;
    }
    .lto-user-profile-header-RHS {
        width: 35% !important;
    }
    .search-field input {
        width: 30%;
        padding: 5px;
    }
    .lto-profile-LHS {
        /* margin-left: 21px; */
    }
    .lto-profile-RHS {
        float: right !important;
        margin-right: 5%;
    }
    .update-picture {
        height: 200px;
        background-size: auto;
    }
    .profile-image {
        left: 45%;
        width: 90px;
        height: 90px;
        bottom: 63%;
    }
    .update-picture .profile-info {
        left: 0;
    }
    .lto-header-container {
        width: 750px !important;
    }
    .lto-user-vol-exp-col-1 {
        height: auto !important;
    }
    .lto-search h3,
    .lto-search h4 {
        padding: 5px 10px;
        margin: 0;
    }
    .lto-search-hr-line {
        width: 100%;
        margin: 10px 0;
    }
    .start-property-tile__separator {
        margin-bottom: 10px;
        width: 100%;
        float: left;
    }
    .start-property-tile {
        height: 472px;
    }
    .start-property-tile__thumbnail {
        height: 230px;
    }
    .lto-main-container {
        width: 700px;
    }
    .commitment-tile .row-one .col-xs-4 {
        border-bottom: none;
    }
    .btn--inline-block {
        max-width: 180px;
    }
    .lto-main-container-row {
        margin-top: 10%;
    }
    .progress-bar {
        height: 22px;
        width: 100%;
        border-bottom: 1px solid orange;
    }
    ul.progress-bar li {
        display: inline-block;
        font-size: 16px;
        position: relative;
        padding: 0 30px;
        width: initial;
    }

    ul.progress-bar li::before {
        display: block;
        margin-right: 20px;
        width: 15px;
        height: 15px;
    }
    #custom-search-input .search-query {
        width: 59%;
    }
    .lto-user-profile-info-icon {
        display: block !important;
        float: left;
        padding-right: 5px;
    }
    .lto-user-profile-info-label {
        display: none !important;
    }
    .register-profile-connect-section {
        width: 100%;
        margin-left: 0;
    }
    .register-profile-header {
        width: 100%;
    }
    .register-form-txt-center {
        width: 100%;
    }
    .lto-login-forget-pass-link {
        /* margin: 0 5px; */
    }
    .col-sm-3.lto-user-type {
        width: 33% !important;
    }
    .personal-info-progress-wrap {
        margin-bottom: 30px;
        width: 100%;
    }
    .container.profile-header {
        width: 100%;
    }
    .update-picture .label {
        bottom: -62%;
        left: -64%;
    }

    .lto-user-vol-additional-section {
        height: auto !important;
        padding: 5px;
    }
    .tag-on-list .btn-tag-on {
        float: left;
    }
    .lto-user-vol-exp-adj {
        padding: 0 5px 5px;
    }
    .lto-user-add-experience-btn {
        padding: 0px;
        height: 30px;
    }
    .dropdown-menu.lto-pending-connection-user-dropdownList.lto-connection-dropdown-header {
        width: 334px !important;
        left: -315px !important;
    }
    ul.dropdown-menu.lto-pending-connection-user-dropdownList::before {
        left: 316px;
    }
    .dropdown-menu.lto-pending-connection-user-dropdownList.lto-connection-dropdown-adj {
        width: 342px !important;
    }
    .lto-connection-dropdown-adj {
        left: -221px !important;
    }
    #opportunityCreateModal {
        left: -2%;
    }
    .modal-dialog.opportunity-modal-dialog {
        left: 3%;
    }
    .opportunity-modal-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .opportunity-header {
        width: 100%;
    }
    .lto-profile-container {
        margin-top: 0;
    }
    .lto-list-item {
        margin: 0px 10px !important;
    }
    .row-space.progress-wrap {
        width: 100%;
    }
    .dropdown-menu.lto-pending-notification-user-dropdownList.lto-notification-dropdown-header {
        width: 311px !important;
        left: -36% !important;
    }
    ul.dropdown-menu.lto-pending-notification-user-dropdownList.lto-pending-message-user-dropdownList.lto-notification-dropdown-header.hidden-xs {
        left: -56% !important;
    }
    .opportunity-title {
        float: none !important;
    }
    .opportunity-btn-container {
        float: left !important;
    }
    .lto-register-container {
        width: inherit;
    }
    .lto-register-row {
        width: inherit;
    }
    .lto-register-row-last {
        width: inherit;
    }
    .lto-fp-home-link {
        line-height: 50px;
        padding-left: 10px;
    }
    .top-header ul {
        text-align: right;
    }
    .opp-Detail-List {
        margin: 1px -6px !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .progress-bar {
        height: 22px;
        width: 100%;
        border-bottom: 1px solid orange;
    }
    ul.progress-bar li {
        display: inline-block;
        font-size: 16px;
        position: relative;
        padding: 0 30px;
        top: 15px;
    }

    ul.progress-bar li::before {
        display: block;
        margin-right: 20px;
        width: 15px;
        height: 15px;
    }
    .dropdown-menu.lto-pending-notification-user-dropdownList.lto-notification-dropdown-header {
        width: 311px !important;
        left: -36% !important;
    }
    ul.dropdown-menu.lto-pending-notification-user-dropdownList.lto-pending-message-user-dropdownList.lto-notification-dropdown-header.hidden-xs {
        left: -56% !important;
    }
    .lto-sec-nav {
        color: #f1f1f1;
    }
    .lto-register-container {
        width: inherit;
    }
    .lto-register-row {
        width: inherit;
    }
    .lto-register-row-last {
        width: inherit;
    }
    .lto-fp-home-link {
        line-height: 50px;
        padding-left: 10px;
    }
    .top-header ul {
        width: 45%;
    }
    .opp-Detail-List {
        margin: 1px -7px !important;
    }
    .lto-upcoming-events-container {
        width: 100%;
    }
    .lto-post-event-container {
        width: 100%;
    }
    .start-property-tile {
        width: 100%;
    }
    .lto-welcome-page-txt {
        margin: 10px;
    }
    .start-property-tile__title h2 {
        margin: 10px;
        padding: 10px 0;
    }
    .image-container {
        margin-top: 52px;
    }
   /* .carousel-caption {
        right: 15%;
        left: 15%;
        top: -13%;
    }*/
}

@media only screen and (max-device-width: 475px) {
    .edit-Manage-Btn {
        float: left !important;
        margin-left: 5px !important;
    }

    .image-container {
        margin-top: 52px;
    }
   /* .carousel-indicators {
        display: none;
    }
    .carousel-caption {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
    }
    .hightlight,
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 15px;
        margin: 0 0;
        line-height: 20px !important;
    } */
    .start-property-tile {
        width: 100%;
    }

    .start-property-tile__title h2 {
        margin: 5px 0;
    }

    .start-property-tile__separator {
        margin: 0;
    }

    .lto-welcome-page-txt {
        margin: 10px 0;
    }
    .start-property-tile {
        height: auto;
    }
    .lto-upcoming-events-header {
        padding: 0 20px;
    }
    .start-list--icons li .icon-descriptor {
        display: inline;
    }
    .lto-welcome-page-adj {
        padding: 0;
    }
    .lto-event-container-adj {
        height: auto;
    }
    .lto-post-event-container {
        width: 100%;
    }
    .lto-post-event-txt-adj {
        margin: 0 !important;
        padding: 0 !important;
    }
    .btn--block-centered {
        margin: 5px !important;
        float: none;
    }
    .foot-note {
        padding: 10px 0px;
        height: 100px;
    }
    .foot-note ul {
        padding: 0;
        margin: 10px 0;
        float: none;
        width: 100%;
    }
    .foot-note ul li {
        margin: 10px 5px 10px 0;
        float: none;
        padding: 0;
    }
    .foot-note span {
        float: none !important;
        padding: 0;
    }
    .navigation-bar ul {
        text-align: center;
        margin-bottom: 0;
    }

    .navigation-bar ul li + .vertical-separator {
        display: none;
    }

    .row.no-margin.well.well-consent {
        padding: 10px;
    }
    .text-color {
        margin: 0;
    }
    .lead-text {
        width: auto;
        margin: 0;
    }
    .profile-form .form-control + .glyphicon {
        display: none;
    }
    .register-row {
        width: 100%;
    }
    .search-result-container {
        margin: 0px 0px 10px;
        padding: 0px;
    }
    .lto-search-vr-line {
        margin: 0px 5px;
        padding: 0px 5px;
    }
    .lto-search-advanced-header {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    .lto-search-advanced-checkbox {
        padding: 0px;
    }
    .lto-search h3,
    .lto-search h4 {
        margin: 0;
    }
    .modal-dialog.opportunity-modal-dialog {
        left: 4%;
    }
    .opportunity-modal-content {
        width: 296px;
    }
    .lto-opportunity-form {
        border-left: none;
    }
    .navigation-bar ul li {
        margin: 10px 0;
        width: auto !important;
        display: table-header-group;
    }
    .update-picture {
        background-size: initial;
    }
    .profile-image {
        width: 90px;
        height: 90px;
        left: 32%;
        bottom: 69%;
    }
    .opportunity-header {
        width: 100%;
    }
    .lto-profile-container {
        margin-top: 0;
    }
    .lto-profile-row.lto-header-container {
        width: auto !important;
    }
    .lto-list-item {
        margin: 10px !important;
    }
    .update-picture .profile-info {
        left: 4%;
    }
    .register-profile-header {
        width: 100%;
    }
    .btn-post {
        margin-left: 8px !important;
        float: left !important;

        /*! margin-left: 28px; */
    }
    .opp-Manage-Btn {
        float: left !important;
        display: inline-flex;
    }
    .container.profile-header.register-profile-header {
        width: 100%;
    }
    .register-modal {
        left: 0px;
        width: 100%;
    }
    .register-profile-header-txt,
    .text-center.register-form-txt-center,
    .lead-text,
    .lto-privacy-settings-text {
        width: 100%;
    }
    .register-profile-connect-section,
    .container.profile-form.register-profile-form {
        width: 100%;
        margin-left: 0;
    }
    .btn.btn--inline-block.btn-linkedin {
        margin-left: 10px;
    }
    .lto-availabilty-cap-sec {
        overflow-x: scroll;
    }
    .start-property-tile__separator.lto-privacy-settings-separator {
        margin: 10px 0;
    }
    .update-picture .label {
        bottom: -66%;
        left: -84%;
    }
    .lto-user-type {
        height: 180px;
    }
    .profile-header .container-fluid h2 {
        margin-top: 10px;
    }
    .search-field .opportunity-search-adj {
        width: 83%;
    }
    .search-field .opportunity-search-adj .glyphicon-search {
        right: 8%;
    }
    .start-list--icons {
        border-right: none;
        border-bottom: 1px solid #aba9a9;
    }
    .btn.btn-primary.pull-right.btn-margin-right {
        margin: 7px;
    }
    .opportunity-user-list {
        margin-top: 10px;
    }
    .lto-sec-nav {
        color: #f1f1f1;
    }
    .navbar-collapse.lto-header-container {
        width: 320px !important;
    }
    .lto-user-details-conatiner.lto-header-container {
        width: auto !important;
        margin: 0 auto;
    }
    .lto-vol-connection,
    .lto-vol-opp,
    .lto-user-link {
        width: auto;
        margin: 10px;
        padding: 0;
    }
    .lto-user-profile-link {
        padding: 0;
    }
    .top-header ul {
        width: 100%;
    }
    .lto-register-container {
        width: inherit;
    }
    .lto-register-row {
        width: inherit;
    }
    .lto-register-row-last {
        width: inherit;
    }
    .lto-fp-home-link {
        line-height: 50px;
        padding-left: 10px;
    }
    .event-section header a {
        float: left !important;
        margin: 10px 0;
    }
    .start-property-tile__right {
        margin: 10px 10px 15px;
    }
    .lto-cp-skills-section-left h2,
    .lto-cp-exp-section-left h2,
    .lto-cp-edu-section-left h2 {
        margin: 10px 0 0;
    }
    .lto-cp-skills-section-right,
    .lto-cp-exp-section-right,
    .lto-cp-edu-section-right {
        float: left !important;
        margin: 10px 0;
    }
    .list-no-style {
        padding-bottom: 10px;
    }
}
/* Iphone6 landscape and portrait  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .start-property-tile {
        width: auto;
        height: auto;
    }
    .container {
        margin: 0 10px;
    }
    .image-container {
        margin-top: 52px;
    }
    /*.carousel-indicators {
        display: none;
    }
    .carousel-caption {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
    }
    .hightlight,
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 20px;
        margin: 0 0;
        line-height: 35px !important;
    }
    .lto-search-container {
        display: none;
    }*/
    .modal-dialog.opportunity-modal-dialog {
        left: 4%;
    }
    .opportunity-modal-content {
        width: 296px !important;
    }
    .lto-opportunity-form {
        border-left: none;
    }
    .btn-post {
        /* padding-top: 8px; */
        margin-left: 12px !important;
        margin-left: 10px 0px !important;
        float: left !important;
    }
    .content-area {
        padding: 10px;
    }
    .lto-event-container-adj {
        height: auto;
    }
    .carousel-caption h2 {
        line-height: 28px;
    }
    .btn--block-centered {
        float: none;
        display: block;
    }
    .lto-post-event-txt-adj {
        margin: 0;
        padding: 0;
        display: block;
    }
    .information-section .navigation-bar ul li {
        margin: 0px 2px;
        vertical-align: middle;
    }
    .navigation-bar ul li {
        margin: 10px;
        /* width: auto !important; */
    }
    .update-picture {
        background-size: initial;
    }
    .profile-image {
        width: 90px;
        height: 90px;
        left: 41.5%;
        bottom: 60%;
    }
    .opportunity-header {
        width: 100%;
    }

    .lto-profile-LHS {
        margin-left: 0 !important;
    }
    .update-picture .profile-info {
        left: 5%;
    }
    .lto-profile-container {
        margin-top: 0;
    }
    .lto-profile-row.lto-header-container {
        width: auto !important;
    }
    .lto-list-item {
        margin: 10px !important;
    }
    .update-picture .profile-info {
        left: 23%;
        width: auto !important;
    }
    .container.profile-header.register-profile-header {
        width: 100%;
    }
    .register-modal {
        left: 0px;
        width: 100%;
    }
    .register-profile-header-txt,
    .text-center.register-form-txt-center,
    .lead-text {
        width: 100%;
    }
    .register-profile-connect-section,
    .container.profile-form.register-profile-form {
        width: 100%;
        margin-left: 0;
    }
    .btn.btn--inline-block.btn-linkedin {
        margin-left: 10px;
    }
    .update-picture .label {
        bottom: -66%;
        left: -84%;
    }
    .lto-user-type {
        height: 180px;
    }
    .profile-header .container-fluid h2 {
        margin-top: 10px;
    }
    .btn.btn--inline-block.btn-linkedin {
        margin-left: 10px;
    }
    .lto-availabilty-cap-sec {
        overflow-x: scroll;
    }
    .start-property-tile__separator.lto-privacy-settings-separator {
        margin: 10px 0;
    }
    .update-picture .label {
        bottom: -66%;
        left: -84%;
    }
    .lto-user-type {
        height: 180px;
    }
    .profile-header .container-fluid h2 {
        margin-top: 10px;
    }
    .search-field .opportunity-search-adj {
        width: 83%;
    }
    .search-field .opportunity-search-adj .glyphicon-search {
        right: 8%;
    }
    .start-list--icons {
        border-right: none;
        border-bottom: 1px solid #aba9a9;
        padding: 10px 0;
    }
    .lto-sec-nav {
        color: #f1f1f1;
    }
    .lto-user-details-conatiner.lto-header-container {
        width: auto !important;
        margin: 0 auto;
    }
    .lto-vol-connection,
    .lto-vol-opp,
    .lto-user-link {
        width: auto;
        margin: 10px;
        padding: 0;
    }
    .lto-user-profile-link {
        padding: 0;
    }
    .lto-register-container {
        width: inherit;
    }
    .lto-register-row {
        width: inherit;
    }
    .lto-register-row-last {
        width: inherit;
    }
    .lto-fp-home-link {
        line-height: 50px;
        padding-left: 10px;
    }
    .lto-post-event-container {
        width: auto;
    }
    .lto-upcoming-events-header-title {
        display: block !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .update-picture .profile-info {
        left: 32%;
        width: auto !important;
    }
    .top-header ul {
        width: 100%;
    }

    .foot-note ul {
        padding: 0px 5px;
    }
    .image-container {
        margin-top: 52px;
    }
    /*.carousel-indicators {
        display: none;
    }
    .carousel-caption {
        top: 30%;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
    }*/
    .lto-opp-address-list {
        width: 31%;
    }
    .start-property-tile__title h2 {
        margin: 0;
    }
    .start-property-tile__separator {
        width: 100%;
        margin: 10px 0;
    }
    .lto-welcome-page-txt {
        margin: 0;
        padding: 5px 0;
    }
    .lto-welcome-page-adj {
        padding: 0;
    }
}

/************
About Us Page Responsive Styles
************/
@media screen and (min-width: 1000px) {
    #Welcome-AboutUs h2 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #TheTeam .Profile-Card h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    #TheTeam .Profile-Card img {
        height: 85px;
        width: 85px;
    }

    #TheTeam .Profile-Card h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) and (min-width: 600px) {
    #TheTeam .Profile-Card img {
        height: 65px;
        width: 65px;
    }

    #TheTeam .Profile-Card h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    #TheTeam .Profile-Cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }

    #TheTeam .Profile-Card:nth-child(odd) {
        grid-column: 1/3;
    }
    #TheTeam .Profile-Card:nth-child(even) {
        grid-column: 3/5;
    }

    #TheTeam .Profile-Card:last-child {
        grid-column: 2/4;
    }
}

@media screen and (max-width: 600px) {
    #TheTeam .Profile-Cards {
        display: block;
        /* grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);*/
    }
}

@media screen and (max-width: 700px) {
    #How-It-Works .cards {
        display: block;
    }

    #How-It-Works .card {
        margin-top: 15px;
    }
}

/*---------------------------------------------------------

Responsive Styles for Carousel
-----------------------------------------------------------*/


/*@media screen and (max-width: 876px) {
    .inner {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 860px) {
    .inner {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 35px;
        padding-right: 35px;
    }

    p.largetxt {
        font-size: 15px;
        line-height: 1.368em;
    }
}

@media screen and (max-width: 1276px) and (min-width: 860px) {
    .gridcol__inline {
        display: block;
    }

    .gridcol__inline .grid-feature {
        left: auto;
        right: auto;
        position: relative;
    }
}

@media screen and (max-width: 1276px) and (min-width: 0) {
    .grid-feature {
        padding: 50px;
    }
}
*/
