./* -----------------------------------------
        Lto application styles - Ranjitha
-------------------------------------------- */
    ::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}
.lto-main-container {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}
.focus-effect-input {
    color: #fe982a !important;
    border-bottom: 1px solid #d9a54b !important;
}

.focus-effect {
    color: #fe982a !important;
}
.no-focus-color {
    color: white !important;
}
.mandatory {
    font-size: 7px;
    color: rgba(223, 32, 28, 0.59);
    padding: 0 5px;
    top: -1px;
}
#loading-indicator {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999999999;
    background: url(/images/loader.gif) no-repeat center;
    background-size: 100px;
    background-color: rgba(255, 255, 255, 0.7);
}
.lto-font-size {
    font-size: 15px;
}
.selected {
    background-color: #fe982a;
}
.lto-header-container {
    width: 100vw;
    margin: 0 auto !important;
}
.badge-notify {
    background: #fe982a;
    position: relative;
    top: -8px;
    left: -13px;
    font-size: 8px;
    border-radius: 10px;
}
span.vertical-separator {
    margin: 0 5px;
    color: orange;
    border-right: 2px solid #ccc;
    vertical-align: middle;
}
.lto-glyphicon-adj {
    margin: 0 5px;
}
.lto-add-volunteer.lto-add-opportunity {
    padding: 0;
}
.lto-user-vol-additional-section {
    height: auto !important;
}

.lto_heading_best_describes {
    margin-top: 30px;
    margin-right: 20px;
}
.header-separator {
    margin-top: 0;
    border-color: #f1f1f1;
}
.lto-connection-action-container {
    margin-top: -4%;
}
.block {
    display: block;
}
.hide {
    display: none;
}
/* -----------------------------------------
        Styles for pre login page
-------------------------------------------- */
.image-container {
    padding: 0;
}
.start-property-tile__right {
    margin: 10px 0 26px 10px;
}
.lto-welcome-page-txt {
    margin: 10px 20px;
    font-size: 15px;
}
.lto-upcoming-events-header {
    padding-right: 25px;
    padding-top: 10px;
}
.lto-upcoming-events-header-title {
    line-height: 30px;
    color: rgba(0, 0, 0, 0.79);
}
.lto-upcoming-events-container {
    width: 99%;
    margin-right: 0;
    margin-left: 0px;
    margin-bottom: 10px;
}
.lto-welcome-page-adj {
    padding-left: 20px;
}
.lto-post-event-container {
    width: 33%;
}
.lto-post-new-event-btn {
    width: 253px;
    max-width: 100% !important;
}
.lto-post-event-txt-adj {
    margin-left: 20px;
    padding-left: 30px;
}
.lto-welcome-adv-container {
    height: 245px;
}
.lto-welcome-adv-post {
    height: 205px;
}
.text-color {
    color: rgba(0, 0, 0, 0.79);
}
.link-color {
    color: #fe982a;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.lto-event-container-adj {
    height: 230px;
}
.lto-blog-container-adj {
    height: 100%;
}
.hightlight {
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: bold;
}
.lto-logo {
    margin: 15px 0 0;
}
.lto-pre-login-nav {
    padding-left: 15px;
    padding-right: 15px;
    /*  width: 1300px; */
    margin: 0 auto !important;
}
.lto-pre-login-search {
    background: #f1f1f1;
    height: 50px;
}
.lto-search-container {
    margin: 10px auto;
}
.lto-footer-container {
    display: flex;
    line-height: 0;
    height: 0;
    width: 90%;
}
.login-modal {
    z-index: 9999;
}
.session-error-modal-dialog,
.feedBack-modal-dialog {
    top: 100px;
}
.font-star {
    float: left;
    min-width: 100%;
}

/* -----------------------------------------
        Styles for login
-------------------------------------------- */
.lto-login-container {
    margin: 30px auto;
    width: 50%;
    padding: 10px;
}
.lto-login-header {
    margin-top: 0px;
    margin-bottom: 0px;
}
.lto-login-form-row {
    margin-top: 15px;
}
.lto-login-label {
    margin-top: 5px;
}
.lto-login-input {
    background-color: rgba(238, 238, 238, 0.26);
}

.lto-login-row {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.lto-login-row-last {
    margin: 10px auto;
    padding: 10px;
    width: 66%;
}

.lto-login-btn {
    margin: 0 10px 0 0;
    width: 43%;
    float: left;
}
.lto-forgot-pass-link {
    float: left;
    margin: 6px 4px;
}
.lto-login-icon {
    top: -22px;
    float: right;
    right: 10px;
}
.lto-login-forgot-pass-link {
    line-height: 30px;
}
.lto-pre-login-nav-adj {
    font-size: 16px;
}
.login-form-modal-dialog {
    margin-top: 5%;
}
.lto-login-forget-pass-link {
    font-weight: normal !important;
    display: inline-block;
    width: 150px;
}
.lto-user-profile-header-RHS {
    width: 46% !important;
}
.lto-image {
    padding: 15px 0;
}
/* -----------------------------------------
        Styles for registartion modal popup
-------------------------------------------- */
.register-modal {
    background-color: #f1f1f1;
    z-index: 9999;
    left: 20%;
}
.register-modal-content {
    box-shadow: none;
    border: none;
    background-color: transparent;
}
.register-modal-dialog {
    width: auto;
    margin: 10px;
}
.modal-fade .register-modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0) !important;
    transform: translate3d(25%, 0, 0) !important;
}
.registration-success-modal-dialog,
.registration-error-modal-dialog {
    vertical-align: middle;
    display: table;
    position: relative;
}
.registration-success-modal-content,
.registration-error-modal-content {
    background: #f1f1f1;
}
.registration-success-modal-body {
    height: 165px;
    margin: 20px auto;
}
.registration-success-title {
    text-align: center;
    line-height: 20px;
}
.registration-success-text {
    margin-bottom: 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.register-row {
    padding-bottom: 10px;
}
.register-profile-form {
    width: 75%;
    margin-left: 90px;
    margin-right: 110px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.register-profile-connect-section {
    width: 75%;
    margin-left: 90px;
}
.modal.fade:not(.in) .register-modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.register-modal {
    width: 80%;
}
.register-profile-header {
    width: 88%;
    margin: 0 auto;
    margin-left: 0px;
}
.register-profile-header-txt {
    width: 88%;
}
.register-form-txt-center {
    width: 88%;
}
.registration-error-modal {
    z-index: 9999;
}
/* -----------------------------------------------------------
        Styles for skills  , experience , causes and interest
--------------------------------------------------------------- */
.lto-cp-skills-section-left,
.lto-cp-exp-section-left,
.lto-cp-edu-section-left {
    float: left;
    font-weight: bold;
}
.lto-cp-skills-section-left h2,
.lto-cp-exp-section-left h2,
.lto-cp-edu-section-left h2,
.lto-cp-cause-section-left h2 {
    font-weight: bold;
}
.lto-cp-skills-section-right,
.lto-cp-exp-section-right,
.lto-cp-edu-section-right {
    float: right;
    margin-top: 29px;
}
.lto-complete-profile-skills,
.lto-complete-profile-exp,
.lto-complete-profile-edu {
    border-bottom: 1px solid #aba9a9;
    margin-bottom: 15px;
}
.lto-cp-exp-form,
.lto-cp-edu-form {
    margin: 20px 0;
    width: 100%;
}

.lto-cp-exp,
.lto-cp-edu {
    max-width: 100%;
}
.lto-cp-exp-details,
.to-cp-edu-details {
    margin: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.17);
    max-width: 100%;
}
.lto-cp-exp-details-row,
.lto-cp-edu-details-row {
    margin: 10px 0;
}
.form-bottom-margin {
    margin-bottom: 10px !important;
}
.lto-cp-exp-btn,
.lto-cp-skills-btn,
.lto-cp-edu-btn {
    width: 12% !important;
    float: left;
    margin: 0 10px !important;
}
.col-xs-12.col-sm-12.profile-form.lto-cp-skills-details {
    width: 100%;
    margin: 10px;
}
.lto-cp-skill-label {
    font-size: 18px;
}
.lto-interest-header {
    font-weight: bold;
    border-bottom: 1px solid #aba9a9;
    padding-bottom: 15px;
}
.lto-cp-cause-btn {
    width: 12% !important;
    float: left;
    margin: 0 10px !important;
}
.lto-cp-cause-section-right {
    float: right;
    margin-top: 29px;
}
.lto-cp-cause-section-left {
    float: left;
}
.lto-complete-profile-causes {
    border-bottom: 1px solid #aba9a9;
    margin-bottom: 15px;
}
.lto-cp-cause-details {
    width: 100%;
    margin: 10px;
}
.lto-cp-cause-label {
    font-size: 18px;
}
span.lto-cp-cause-edit-label,
span.lto-cp-skill-edit-label {
    margin: 5px 25px;
    color: #d9a54b;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
span.lto-cp-cause-edit-label:hover,
span.lto-cp-skill-edit-label:hover {
    color: #357ebd;
}
.lto-cp-edu-or-exp-edit {
    color: #d9a54b;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}
.lto-cp-edu-or-exp-edit:hover {
    color: #357ebd;
}
.search-usr-icon {
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 20px;
}
.lto-user-type {
    border: 1px solid #ccc;
}
.lto-prof-import-txt {
    padding: 10px;
    line-height: 35px;
    height: 40px;
}
.lto-prof-exp-section {
    margin-top: -16px;
    margin-left: 10px;
}
/* -----------------------------------------
        Styles for error page
-------------------------------------------- */
.error-message {
    color: rgba(169, 68, 66, 0.74);
}

.error-page-container {
    margin: 20px;
    height: 350px;
    padding: 20px;
}
.lto-err-cls {
    width: 400px;
    margin: 25px auto;
}

/* -----------------------------------------
        commonly used css added as class
-------------------------------------------- */
.cursor {
    cursor: pointer;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.float-none {
    float: none;
}

.nudge-down {
    margin-top: 15px;
}
.error {
    color: #900;
    padding: 0 10px;
    font-weight: bolder;
}
.success {
    color: rgba(0, 128, 0, 0.66);
}

.success-toast-message {
    display: block !important;
    width: 215px;
    height: 40px;
    margin: 10px auto;
    line-height: 40px;
    border: 1px solid rgba(76, 201, 76, 0.19);
    border-radius: 3px;
    padding: 0 10px;
    text-align: center;
    background-color: rgba(76, 201, 76, 0.19);
    color: green;
}
.error-toast-message {
    display: block !important;
    width: 60%;
    height: 40px;
    margin: 10px auto;
    line-height: 40px;
    border: 1px solid #fcb7b7;
    border-radius: 3px;
    padding: 0 10px;
    text-align: center;
    background-color: #fcb7b7;
    color: #cf2d29;
}
.btn--block-centered {
    max-width: 150px;
    display: inline-block;
}
.hide {
    display: none;
}
/* -----------------------------------------
        Styles for privacy settings page
-------------------------------------------- */

.lto-privacy-settings-text {
    margin: 10px auto;
    float: left;
    width: 76%;
}
.lto-privacy-settings-separator {
    margin-left: 0;
    width: 85%;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #fe982a;
}
/* -----------------------------------------
        Styles for search page
-------------------------------------------- */
#custom-search-input {
    margin: 10px;
    padding: 10px;
    line-height: 40px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    width: 74%;
    margin: 3px 5px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 3px;
    position: relative;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

.search-query:focus + button {
    z-index: 3;
}

.lto-search-btn {
    height: 40px;
    padding: 0;
}

#custom-search-input #lto-search-btn-clear {
    height: 40px;
    padding: 0;
    color: #000;
}

.lto-search-vr-line {
    border-right: 1px solid #aba9a9;
    margin-top: 0;
    margin-right: 20px;
    padding-left: 0;
}

.lto-search-hr-line {
    border-color: #f1f1f1;
    width: 90%;
    margin: 10px;
    float: left;
}
.lto-search h3,
.lto-search h4 {
    margin: 15px 0px 15px 20px;
    color: rgba(0, 0, 0, 0.79);
}

.lto-search-label {
    margin: 5px;
    display: table;
}

.lto-advanced-search-btn {
    margin: -10px 0 !important;
}
.lto-search-advanced-header {
    background: #333;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 7.5px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: -9%;
    margin-top: -9%;
}
.lto-advanced-search-option-conatiner {
    height: 100px;
    overflow-y: scroll;
    margin: 10px 0;
    overflow-x: hidden;
}
.lto-advanced-search-option-header {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}
.lto-search-result-row-one {
    margin-top: 0 !important;
}
.lto-search-result {
    height: 100%;
}
.lto-search-result-header {
    margin-bottom: 10px;
}
.lto-user-search-main-container {
    background-color: #fff;
    height: 80px;
    padding: 16px;
}
.lto-profile-adj {
    width: 50px;
    margin-top: 12px;
}
.lto-search-small-text {
    font-size: 12px;
}

.font-size-12 {
    font-size: 12px;
}

/* -----------------------------------------
        Styles for invite page
-------------------------------------------- */
.lto-invite-widget {
    /* padding-top: 10px; */
}
.lto-invite-header-conatiner {
    margin-bottom: 10px;
}
.lto-invite-header {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
}

.lto-invite-container {
    border: none;
    box-shadow: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-result-container {
    max-height: 100%;
    height: auto;
}
.lto-invite-row {
    margin-bottom: 5px;
}
.lto-invite-user-name {
    height: 31px;
    line-height: 31px;
}
.lto-invite-user-causes {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}
.lto-invite-user-label {
    font-size: 15px;
}
.lto-user-invite-btn {
    margin: 5px 0;
    float: right;
    background-color: #fff !important;
    color: #fe982a;
    border: 1px solid #fe982a;
    padding: 0;
    width: 10%;
    min-width: 57px;
    top: 0;
    display: inline-block;
}

.lto-header-search-adj {
    margin-top: 15px;
}
/* -----------------------------------------
        Styles for profile page
-------------------------------------------- */
.lto-profile-container {
    margin-top: 22px;
    border-radius: 0;
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 0;
}
.lto-profile-row {
    padding: 0;
    border: none;
}
.lto-profile-LHS {
    padding: 20px 10%;
    /*margin-left: -2%;*/
}
/*li.col-xs-5.col-sm-1.lto-list-item {
    margin: 0 0 0 10px;
}*/
.lto-profile-LHS li {
    margin-right: 10px !important;
}
.lto-profile-settings {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.lto-profile-following-btn {
    margin-left: 0 !important;
}
.lto-profile-drop-row {
    margin: 5px !important;
    display: block !important;
    text-align: left;
    cursor: pointer;
}
.lto-user-dropdownList {
    margin-top: 10px !important;
    position: absolute !important;
    left: -125px !important;
}

ul.dropdown-menu.lto-user-dropdownList:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: -10px;
    left: 143px;
    border-bottom: 5px solid #fff;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.navigation-bar ul:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: -10px;
    left: 2px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.lto-profile-RHS:before {
    display: none !important;
}
.lto-profile-drop-row a {
    color: #333 !important;
}
.lto-user-details-conatiner {
    border: none;
    padding: 10px;
}
.lto-user-link {
    margin: 0;
    padding-top: 10px;
}
.lto-user-add-experience-btn {
    min-width: 100%;
    padding: 5px;
    margin: 5px 0;
}
.lto-user-vol-exp-col-1 {
    height: 130px !important;
}
.lto-user-vol-exp-adj {
    margin: 5px 0;
}
.lto-user-profile-exp-title {
    font-weight: bold;
    margin-top: 0;
}
.lto-user-profile-exp-date {
    color: #ccc;
}
.lto-user-profile-edu-sec:nth-child(odd) {
    border-right: 1px solid #ccc !important;
    margin: 10px 0;
}
.lto-user-profile-edu-sec:nth-child(even) {
    margin: 10px 0;
}
.lto-drop-down-adj {
    left: -87px !important;
}
.lto-user-dropdownList.lto-drop-down-adj:before {
    top: -9px !important;
}
.lto-main-container-row {
    margin-top: 6%;
}
.lto-profile-RHS {
    margin-top: 22px;
}
.lto-user-profile-progress {
    background-color: #fe982a !important;
}
.lto-profile-comp-status {
    margin-top: 0;
}
/* -----------------------------------------------------
        Styles for connection and notification page
--------------------------------------------------------- */
.lto-pending-connection-image {
    margin-right: 10px;
    height: 35px;
    width: 35px !important;
}
.lto-pending-notification-image {
    margin-right: 10px;
    height: 35px;
    width: 35px !important;
}
.lto-pending-message-image {
    margin-top: 10px;
}
.lto-pending-connection-drop-row {
    margin: 10px !important;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    display: block !important;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.lto-pending-notification-drop-row {
    margin: 0 !important;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    display: block !important;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background: rgba(204, 204, 204, 0.1);
}
.lto-pending-message-drop-row {
    height: 70px;
}
.lto-pending-notification-drop-row:hover {
    background: #eee;
}
.lto-pending-notification-drop-row-read {
    background: #fff;
}
.lto-pending-notification-drop-row-read:hover {
    background: rgba(204, 204, 204, 0.1);
}
.lto-notifaication-mark-read-btn {
    font-size: 10px;
}
.lto-notifaication-mark-read-btn:hover {
    color: #fe982a;
}
.lto-pending-connection-drop-row:last-child {
    border-bottom: none !important;
}
.lto-pending-notification-drop-row:last-child {
    border-bottom: none !important;
}
.lto-pending-connection-user-dropdownList {
    width: 311px !important;
    left: -292px !important;
    margin-top: 10px !important;
    position: absolute !important;
}
ul.dropdown-menu.lto-pending-connection-user-dropdownList:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: -10px;
    left: 293px;
    border-bottom: 5px solid #fff;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.lto-pending-notification-user-dropdownList {
    width: 311px !important;
    left: -2% !important;
    margin-top: 10px !important;
    position: absolute !important;
}
.lto-pending-message-user-dropdownList {
    left: -16% !important;
}
ul.dropdown-menu.lto-pending-notification-user-dropdownList:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: -10px;
    left: 293px;
    border-bottom: 5px solid #fff;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 15px;
    color: #ccc;
    text-align: center;
    background: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    text-transform: lowercase;
    padding: 10px;
    margin: 5px;
}
.circle:hover {
    background: #fe982a;
    color: #fff;
}

.lto-connection-pending-user {
    color: #333 !important;
}
.lto-notification-pending-user {
    color: #333 !important;
}
.lto-current-user-connection {
    padding: 12px !important;
}
.lto-current-user-notification {
    padding: 12px !important;
}
.lto-pending-connection-label {
    margin: 0 10px;
}
.lto-pending-notification-label {
    margin: 0 10px;
}
.lto-pending-connection-all {
    margin-left: 20px;
    color: #fe982a !important;
    margin-right: 10px;
}
.lto-pending-notification-all {
    margin-left: 20px;
    color: #fe982a !important;
    margin-right: 10px;
}
.lto-pending-action-conatiner:hover {
    color: #fe982a !important;
}
.lto-connection-dropdown-adj {
    left: -196px !important;
}
.lto-notification-dropdown-adj {
    left: -196px !important;
}
.lto-connection-dropdown-header {
    left: -292px !important;
}
.lto-pending-section-header {
    line-height: 20px;
    height: 20px;
}
.lto-not-connected-msg {
    padding: 10px;
    height: 55px;
}
.lto-notification-RHS {
    width: 75%;
}
.lto-notification-RHS-message {
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}
.notification-scroll-container {
    overflow-y: auto;
    min-height: auto;
    max-height: 300px;
}
.tag-on-list {
    margin-bottom: 10px;
    height: 50px;
}
/* -----------------------------------------
        Styles for Opportunity page
-------------------------------------------- */
div#opportunityCreateModal {
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.modal-dialog.opportunity-modal-dialog {
    width: 100%;
    left: 7%;
}
.opportunity-modal-content {
    width: 1170px;
    background-color: #f1f1f1;
}
.opportunity-header {
    margin: 5px auto;
}
.lto-opportunity-list-section {
    list-style: none;
    margin-top: 20px;
}
.lto-opportunity-list {
    margin: 20px 0;
    cursor: pointer;
}
.lto-opportunity-desc {
    margin: 0 14px;
    font-weight: bold;
    font-size: 20px;
}
.lto-opportunity-form {
    border-left: 1px solid #f1f1f1;
}
.active {
    color: #fe982a !important;
}
.opportunity-search-container {
    padding: 0;
}
.opportunity-search-adj {
    margin: 0 !important;
}
.opportunity-user-list {
    margin: 10px 10px 10px 0;
    padding-left: 0px;
}
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #fe982a;
}
.feedback-txtarea {
    height: 100px !important;
}
.feedBack-btn {
    margin: 10px 0;
}
.opportunity-title {
    padding-left: 20px;
}
.opportunity-btn-container {
    margin: 10px;
}
/* .view-Job-change{
    background-color: rgba(254, 152, 42, 0.35);
    border: 8px solid #FFFFFF !important; 
    text-align: left !important;
    margin-bottom: 5px !important; 
    word-wrap: break-word;
    width:50%;
} */

.view-Job-change {
    background-color: rgba(199, 199, 199, 0.35);
    border: 2px solid rgba(199, 199, 199, 0.55) !important;
    text-align: left !important;
    margin-bottom: 5px !important;
    word-wrap: break-word;
    border-radius: 5px;
    margin: 2px;
}
.opportunity-list-separator {
    width: 91%;
    margin-left: 0;
}

.margin-left {
    margin-left: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}
.lto-opp-btn-container {
    margin: 10px 0;
}
.lto-opp-edit {
    margin-top: 25px;
    margin-right: 46px;
}
.lto-opportunity-banner {
    bottom: 0 !important;
    left: 0 !important;
    width: 704px;
    margin: 25px auto;
}
.opportunity-banner-upload-conatiner {
    width: 100%;
    border: 1px solid #ccc;
    height: 442px;
}
.opportunity-banner-upload-LHS {
    width: 30%;
    background: rgba(245, 245, 245, 0.35);
    height: inherit;
}
.opportunity-banner-upload-LHS > h2 {
    font-size: 1.2em;
}

.cropArea.opp-image-croparea {
    width: 100%;
    margin: 10px auto;

    height: 235px;
    background: #fff;
    border: 1px dashed #ccc;
    background-color: rgba(245, 245, 245, 0.18);
}

.opportunity-banner-upload-RHS {
    width: 70%;
    border-left: 1px solid #ccc;
}
.lto-opp-banner-img {
    margin-top: 111px;
    width: 100%;
    max-height: 120px;
    object-fit: fill;
}
.upload-opportunity-image {
    width: 200px;
    margin: 0 auto;
}
.opp-banner-img-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.lto-opp-address-list {
    width: 35%;
}
.lto-suggestion-list {
    height: 300px;
    overflow-y: auto;
    margin: 10px 0 10px 10px;
    padding-right: 10px;
}
/* -----------------------------------------
        Styles for Profile page
-------------------------------------------- */
.cropArea {
    background: #e4e4e4;
    overflow: hidden;
    width: 100%;
    height: 310px;
    border-bottom: 1px solid #ccc;
}
.image-crop-modal {
    top: 15%;
}
.image-crop-modal-content {
    background: #e4e4e4;
}
.image-crop-modal-header {
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}
.image-crop-modal-btn-container {
    margin: 25px;
}
.image-crop-modal-btn {
    margin: 5px 10px;
}
.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 5px;
}
.btn-post {
    margin-left: 5px;
    float: right;
}
.editmanagebtn {
    float: right;
}

.event-save {
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
}

.event-save:hover {
    color: #357ebd;
}
/* ---------------------------------------------------
        overriden styles for bootstrap pagination
------------------------------------------------------ */

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    color: #fe982a !important;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #fe982a !important;
    border-color: #fe982a !important;
    color: #fff;
}
.pagination > li > a,
.pagination > li > span {
    color: #fe982a;
}
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fe982a;
}

.event-date-detail {
    max-width: 27%;
}

.list-no-style > li {
    list-style-type: none;
}

.font-bold {
    font-weight: bold;
}
/* ---------------------------------------------------
        Styles for forgetPassword Page
------------------------------------------------------ */
.lto-register-container {
    margin: 30px auto;
    width: 50%;
    padding: 25px;
    border: 1px solid #ccc;
    height: 350px;
}
.lto-register-header {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.lto-register-row {
    margin: 10px auto;
    padding: 10px;
    width: 60%;
}
.lto-register-label {
    margin-top: 5px;
}
.lto-register-input {
    background-color: rgba(238, 238, 238, 0.26);
}
.lto-register-row-last {
    margin: 10px auto;
    padding: 10px;
    width: 66%;
}
.lto-register-btn {
    margin: 0 10px 0 16px;
    width: 42%;
    float: left;
}
.lto-fp-home-link {
    line-height: 30px;
}
.lto-forget-pass-form {
    margin: 20px 0;
}
.lto-forget-pass-label {
    line-height: 33px;
}
/* ---------------------------------------------------
        Styles for google autocomplete address styles
------------------------------------------------------ */
#locationField,
#controls {
    position: relative;
    width: 480px;
}
#autocomplete {
    padding-right: 0 !important;
}
#locationField {
    height: 20px;
    margin-bottom: 2px;
}
.lto-google-search-txt {
    margin: 15px 0 0;
}
.lto-address-txt {
    margin: 20px;
}
.nogap {
    padding-left: 4px !important;
}

/* ---------------------------------------------------
        Styles for About Us Page
------------------------------------------------------ */

.AboutUs-Container {
    background-color: #f1f1f1;
    padding-top: 80px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
}

.Title {
    text-transform: uppercase;
    text-align: center;

    margin: 0 auto;
    letter-spacing: 0.135em;
    padding-bottom: 0.125em;
    line-height: 1.5em;
}

.Title span {
    border-bottom: 3px solid #231f20;
    font-weight: 700;
    font-size: 28px;
    position: relative;
    z-index: 1;
}

.Title span:before {
    content: "";
    right: 100%;
    top: 45%;
    height: 10px;
    width: 1000px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    z-index: -1;
}

.Title span:after {
    content: "";
    left: 100%;
    top: 45%;
    height: 10px;
    width: 1000px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    z-index: -1;
}

#Welcome-AboutUs h2 {
    margin-bottom: 2.5em;
    font-family: "Gentium Book Basic", serif;
    font-size: 21px;
    font-weight: 800; /*differs from that of reference page*/
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: center;
}

#Welcome-AboutUs img {
    display: block;
    margin: 0 auto;
}

.largeDesc {
    max-width: 960px;
    background: #fff;
    font-size: 15px;
    line-height: 1.368em;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 50px;
    margin: 20px auto;
}
#How-It-Works,
#TheTeam {
    max-width: 960px;
    /*border: 1px solid red;*/
    margin: 10px auto;
}
#How-It-Works .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1em;
    grid-auto-rows: minmax(400px, auto);
}

#How-It-Works .card {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px 10px;
}

#How-It-Works .card h3 {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

#How-It-Works .card li {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 10px;
    list-style-position: outside;
    margin-left: 1em;
}

#How-It-Works .card li:before {
    content: "\00bb";
    font-size: 20px;
    list-style: none;
    margin-right: 10px;
    position: absolute;
    left: -10px;
}

#TheTeam .Profile-Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 2em;
    grid-auto-rows: minmax(100px, auto);
}

#TheTeam .Profile-Card {
    position: relative;
    /*border: 1px solid blue;*/
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

#TheTeam .Profile-Card:last-child {
    grid-column: 2/3;
}

#TheTeam .Profile-Card div {
    padding-top: 1px;
    padding-bottom: 1px;
    background: teal;
    margin-left: -10px;
    margin-right: -10px;
    height: 95px;
}

#TheTeam .Profile-Card div * {
    /*padding-bottom: 2px;*/
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 0.08em;
}

#TheTeam .Profile-Card div h3 {
    /*padding-bottom: 2px;*/
    margin-bottom: 0;
}

#TheTeam .Profile-Card div h4 {
    /*padding-bottom: 2px;*/
    margin-top: 3px;
}

#TheTeam .Profile-Card img {
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    width: 85px;
    height: 85px;
}

#TheTeam .Profile-Card img:hover {
    border-color: #0072ae;
}
/*.lto-about-us {
    line-height: 1.5;
    color: #000;
}

.lto-about-us li {
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

.lto-about-us ol {
    margin-top: 10px;
}*/

/* ---------------------------------------------------
        Styles for message module
------------------------------------------------------ */
.lto-msg-usr-img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.lto-msg-usr-name {
    color: rgba(0, 0, 0, 0.7);
}
.lto-msg-del {
    margin-top: 12px;
    font-size: 12px;
    margin-right: 10px;
}
.glyphicon.glyphicon-trash.lto-msg-del:hover {
    display: block !important;
}
.lto-msg-contact-list {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.lto-mess-start-conv {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 90%;
}
.lto-mess-conv-icon {
    width: 25px;
    margin-top: 2px;
}
.lto-mess-conv-txt {
    margin: 20px 5px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.lto-mess-search-box {
    width: 85%;
    margin-left: 5px;
}
.lto-mess-search-input {
    width: 75%;
}
.lto-mess-search-box-container {
    width: 226px;
    margin-bottom: 15px;
}
.lto-mess-contact-icon {
    width: 25px;
    margin-top: 6px;
}
.lto-mess-dropdown {
    margin-left: 29px;
    min-width: 195px;
    max-height: 150px;
    overflow-y: auto;
    height: auto;
}
.lto-mess-li {
    margin: 5px;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px;
    height: 45px;
}
.lto-mess-li:last-child {
    border-bottom: none;
}
.lto-mess-auto-comp-img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.lto-mess-usr-selected {
    background-color: #fe982a;
    color: #fff;
}
.lto-mess-usr-label {
    color: #fff;
    font-weight: bold;
}
.lto-mess-cont-adj {
    margin: 0 10px;
}
.lto-message {
    display: inline;
    width: 85%;
    padding: 0 10px;
    word-break: break-all;
    font-size: 13px;
}
.lto-cont-section {
    height: 380px;
}
.lto-message-cont-section {
    overflow: auto;
    height: 287px;
}
/* ---------------------------------------------------
        Styles for invite opportunity module
------------------------------------------------------ */
.invite-opportunity-modal-dialog {
    margin-top: 8%;
    width: 100%;
    left: 0px;
}
.invite-opportunity-modal-content {
    width: 25%;
    margin: 0 auto;
}
.invite-opportunity-modal-container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.invite-opportunity-modal-section {
    padding: 12px;
    background-color: #f1f1f1;
}
.invite-opportunity-modal-row {
    margin-bottom: 0px;
}
.invite-opportunity-modal-header {
    padding: 0;
    margin-left: 10px;
}
.invite-opportunity-modal-body {
    padding: 0;
}
.invite-opportunity-modal-search-box-container {
    width: 311px;
    margin: 10px 4px;
}
.invite-opportunity-modal-list {
    margin: 10px;
}
.invite-opportunity-modal-image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 4px;
}

/* -----------------------------------------------------
        Styles for Program Edit Page
--------------------------------------------------------- */
#programName,
#programEventName {
    height: 53px;
}

/* -----------------------------------------------------
        Styles for featured NGO Right Side Bar
--------------------------------------------------------- */
.featuredNGO {
    margin-bottom: 0;
    margin-left: 10px;
    width: 93%;
}

.featuredNGO .lto-user-vol-additional-section {
    padding: 0;
}

.featuredNGO a {
    display: inline-block;
    width: 100%;
    height: 150px;
}

/* -----------------------------------------------------
        Styles for Blog Right Side Bar
--------------------------------------------------------- */
.lto-blog-container {
    padding-top: 100px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
}

.lto-blog-container-adj .blog-link img {
    float: left;
    margin-right: 5px;
    width: 100px;
    height: 80px;
}

.lto-blog-container-adj {
    padding: 0;
}

.blog-link > div {
    height: 100px;
    padding-top: 20px;
}

.blog-link div > p:hover {
    /*:nth-of-type(1)*/
    text-decoration: underline;
}

.blog-link > p {
    margin-top: 10px;
}

/* -----------------------------------------------------
        Styles for Blogs
--------------------------------------------------------- */

.lto-blog-container span {
    display: inline-block;
    margin-bottom: 20px;
}

.lto-blog-container img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* -----------------------------------------------------
        Styles for Blog Details
--------------------------------------------------------- */

.blog-detail span {
    display: inline-block;
    margin-bottom: 20px;
}

.blog-detail section {
    margin-bottom: 20px;
    border: 1p;
    /*font-weight: bold;*/
}
.blog-detail section:nth-of-type(1) img {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: 10px;
}

.blog-detail section:nth-of-type(2) img {
    float: right;
    width: 250px;
    height: auto;
    margin-left: 10px;
}
.blog-detail section:nth-of-type(3) img {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 10px;
}

/* -----------------------------------------------------
        Styles for Page Not Found
--------------------------------------------------------- */
.not-found {
    background-color: #f1f1f1;
    height: 90vh;
    padding-top: 100px;
}

.not-found img {
    display: block;
    margin: 0 auto;
}

/* -----------------------------------------------------
        Styles for Footer
--------------------------------------------------------- */

.lto-footer-container ul:nth-of-type(2) {
    padding-top: 23px;
    margin: 0 auto;
}
