<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-8">
				<div class="row no-margin" ng-if="userList.length >= 0">
					<div dir-paginate="user in connects | itemsPerPage: 10 | filter:q " total-items="totalConnects" current-page="pagination.current" current-page="pagination.current" class="">
						<div class="col-xs-6 col-sm-3 lto-current-user-connection">
							<div class="user__thumbnail cursor" ng-click="showUserProfile(user)">
								<img ng-src="{{getProfileImage(user.party2.userBean.profilePicture)}}" ng-if="user.party2.userBean.id != userId && user.party2.userBean.profilePicture != null"> <img src="../images/UserImage.png" ng-if="user.party2.userBean.id != userId && user.party2.userBean.profilePicture == null"> <img ng-src="{{getProfileImage(user.party1.userBean.profilePicture)}}"
									ng-if="user.party1.userBean.id != userId && user.party1.userBean.profilePicture != null"
								> <img src="../images/UserImage.png" ng-if="user.party1.userBean.id != userId && user.party1.userBean.profilePicture == null">
								<div class="user-info">
									<span class="icon-descriptor" ng-if="user.party2.userBean.id == userId">{{user.party1.userBean.name}} <span class="pull-right text-highlight"><span class="glyphicon glyphicon-star"></span>{{user.party1.rating}}</span>
									</span> <span class="icon-descriptor" ng-if="user.party1.userBean.id == userId">{{user.party2.userBean.name}} <span class="pull-right text-highlight"><span class="glyphicon glyphicon-star"></span>{{user.party2.rating}}</span>
									</span>
									<hr>
									<span class="glyphicon glyphicon-bookmark"></span> <span i18n="{{'common.lto_span_tagged'}}"></span>
									<!-- <span class="pull-right glyphicon glyphicon-cog"></span> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="/js/pages/fragments/pagination/dirPagination.tpl.html" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </dir-pagination-controls>
				<div class="row no-margin row-space well well-consent col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="userList.length == 0">
					<div class="lto-not-connected-msg" i18n="{{'common.lto_span_connection_notConnected'}}"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<div ng-include="'./js/pages/connections/connection_suggestion_list.html'"></div>
				<div ng-include="'./js/pages/common/right_suggestions.html'"></div>
			</div>
			<!-- 				<div class="col-sm-4">
					<div class="row no-margin well well-consent">
						<div
							class="col-xs-12 start-property-tile__title side-section-2 add-section">
							<h3 class="start-property-tile__heading">Suggested
								Opportunities</h3>
							<a href="#" class="pull-right">See All</a>
							<hr class="start-property-tile__separator">
							<img src="./images/add1.jpg"></br>
							<h4>
								<a href="#"><span class="text-center">CRY - Child
										Rights and You</span></a>
							</h4>
							<span>Bangalore City, India <span class="pull-right">14k
									Followers</span>
								<p>
									<img class="profile-img" src="./images/profile.jpg" /> <img
										class="profile-img" src="./images/profile.jpg" /> <img
										class="profile-img" src="./images/profile.jpg" /> <img
										class="profile-img" src="./images/profile.jpg" /> <img
										class="profile-img" src="./images/profile.jpg" /> <img
										class="profile-img" src="./images/profile.jpg" />
								</p>
								<p>We are a group of people, who are part of the Public
									Action Group (PAG) working in partnership with CRY</p>
						</div>
					</div>
					<div class="row no-margin well well-consent">
						<div class="col-xs-12 add-section">
							<img src="./images/image1.jpg"> <span class="pull-right">Advertisement</span>
						</div>
					</div>
				</div> -->
		</div>
	</div>
	</main>
</div>
</div>