
<div class="col-xs-12 lto-add-volunteer">
	<h3 class="well start-property-tile__heading text-center">Featured NGOs</h3>
    <div class=" row no-margin well well-consent event-cal lto-user-vol-additional-section">
        <div class="col-xs-12 no-padding nogap">
            <a href="http://www.ilpnet.org/" target="_blank" style="background-image: url('../../../images/ilpcombined.png'); background-size: cover; display:inline-block; width:280px; height: 150px">
				<!-- <img src="./images/ilpcombined.png" style="display: inline-block; height: 108px;"> -->
			</a>
        </div>
        <!-- <div class="col-xs-7 no-padding nogap">
			<p>
				<span class="lto-user-vol-exp-adj"><strong i18n="{{'common.lto_span_strong_volunteeringExperience'}}"></strong></span> <span class="lto-user-vol-exp-adj" i18n="{{'common.lto_span_volunteer_experience'}}"> </span>
				<button class="btn btn-primary lto-user-add-experience-btn" ng-click="redirect('/cp/experiences')" i18n="{{'common.lto_button_text_addExperience'}}"></button>
			</p>
		</div> -->
    </div>
</div>
<div class="col-xs-12 lto-add-volunteer">
    <div class=" row no-margin well well-consent event-cal lto-user-vol-additional-section">
        <div class="col-xs-12 no-padding nogap">
            <a href="http://www.makkalajagriti.org/" target="_blank" style="background-image: url('../../../images/MJcombinedkids.png'); background-size: cover; display:inline-block; width:280px; height: 150px">
			<!-- <img src="./images/MJcombinedkids.png" style="display: inline-block; height: 108px;">  -->
				</a>
        </div>
        <!-- <div class="col-xs-7 no-padding nogap">
			<p>
				<span class="lto-user-vol-exp-adj"><strong i18n="{{'common.lto_span_strong_volunteeringExperience'}}"></strong></span> <span class="lto-user-vol-exp-adj" i18n="{{'common.lto_span_volunteer_experience'}}"> </span>
				<button class="btn btn-primary lto-user-add-experience-btn" ng-click="redirect('/cp/experiences')" i18n="{{'common.lto_button_text_addExperience'}}"></button>
			</p>
		</div> -->
    </div>
</div>
<!-- <div class="col-xs-12 lto-add-volunteer">
	<div class=" row no-margin well well-consent event-cal lto-user-vol-additional-section">
		<div class="col-xs-5 no-padding nogap">
			<img src="./images/image11.jpg" style="height: 108px;">
		</div>
		<div class="col-xs-7 no-padding nogap">
			<p>
				<span class="lto-user-vol-exp-adj"><strong i18n="{{'common.lto_span_strong_volunteeringExperience'}}"></strong></span> <span class="lto-user-vol-exp-adj" i18n="{{'common.lto_span_volunteer_experience'}}"> </span>
				<button class="btn btn-primary lto-user-add-experience-btn" ng-click="redirect('/cp/experiences')" i18n="{{'common.lto_button_text_addExperience'}}"></button>
			</p>
		</div>
	</div>
</div> -->
<!-- <div class="col-xs-12 lto-add-opportunity" ng-controller="CreateOpportunityController">
	<div class=" row no-margin well well-consent event-cal lto-user-vol-additional-section">
		<div class="col-xs-5 no-padding nogap">
			<img src="./images/image11.jpg" style="height: 108px;">
		</div>
		<div class="col-xs-7 no-padding nogap">
			<p>
				<span class="lto-user-vol-exp-adj"><strong i18n="{{'common.lto_span_strong_volunteeringOportunity'}}"></strong></span> <span class="lto-user-vol-exp-adj" i18n="{{'common.lto_span_volunteer_opportunity'}}"> </span>
				<button class="btn btn-primary lto-user-add-experience-btn" data-toggle="modal" data-target="#opportunityCreateModal" i18n="{{'common.lto_button_text_addOportunity'}}"></button>
			</p>
		</div>
	</div>
	<div ng-include="'./js/pages/opportunity/create_opportunity_event.html'"></div>
	
	<div class="well well-consent event-cal">
									<img src="./images/image11.jpg">
									<p><span><strong>Volunteering Opportunities</strong></span>
									<span> Working as a UN Volunteer with UNHCR</span></p>
									<button class="btn btn-primary">Add Opportunities</button>
								</div>
</div> -->