<!-- images to show only on dashboard -->
<div class="row no-margin">
	<div class="col-xs-12 no-padding image-container">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
				<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="./images/background1.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">Lets Tag On</b> - Where You Connect <b class="hightlight">Talented Professionals</b>
						</h2>
						<h3>
							With <b class="hightlight">Skill-Based</b> Non-Profit <b class="hightlight">Volunteer</b> Opportunities
						</h3>
						<div class="lto-search-container" ng-show="!authenticated" ng-controller="SearchController">
							<input type="text" name="trade" class="form-control lto-pre-login-search" id="headerSearch" placeholder="Search for Volunteers/ Events near your place" ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span class="glyphicon glyphicon-search cursor" ng-click="redirectToSearchPage()"></span>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="./images/background2.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">Lets Tag On</b> - Where You Connect <b class="hightlight">Talented Professionals</b>
						</h2>
						<h3>
							With <b class="hightlight">Skill-Based</b> Non-Profit <b class="hightlight">Volunteer</b> Opportunities
						</h3>
						<div class="lto-search-container" ng-show="!authenticated" ng-controller="SearchController">
							<input type="text" name="trade" class="form-control lto-pre-login-search" id="headerSearch" placeholder="Search for Volunteers/ Events near your place" ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span class="glyphicon glyphicon-search cursor" ng-click="redirectToSearchPage()"></span>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="./images/background3.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">Lets Tag On</b> - Where You Connect <b class="hightlight">Talented Professionals</b>
						</h2>
						<h3>
							With <b class="hightlight">Skill-Based</b> Non-Profit <b class="hightlight">Volunteer</b> Opportunities
						</h3>
						<div class="lto-search-container" ng-show="!authenticated" ng-controller="SearchController">
							<input type="text" name="trade" class="form-control lto-pre-login-search" id="headerSearch" placeholder="Search for Volunteers/ Events near your place" ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span class="glyphicon glyphicon-search cursor" ng-click="redirectToSearchPage()"></span>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="./images/background4.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">Lets Tag On</b> - Where You Connect <b class="hightlight">Talented Professionals</b>
						</h2>
						<h3>
							With <b class="hightlight">Skill-Based</b> Non-Profit <b class="hightlight">Volunteer</b> Opportunities
						</h3>
						<div class="lto-search-container" ng-show="!authenticated" ng-controller="SearchController">
							<input type="text" name="trade" class="form-control lto-pre-login-search" id="headerSearch" placeholder="Search for Volunteers/ Events near your place" ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span class="glyphicon glyphicon-search cursor" ng-click="redirectToSearchPage()"></span>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="./images/background5.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">Lets Tag On</b> - Where You Connect <b class="hightlight">Talented Professionals</b>
						</h2>
						<h3>
							With <b class="hightlight">Skill-Based</b> Non-Profit <b class="hightlight">Volunteer</b> Opportunities
						</h3>
						<div class="lto-search-container" ng-show="!authenticated" ng-controller="SearchController">
							<input type="text" name="trade" class="form-control lto-pre-login-search" id="headerSearch" placeholder="Search for Volunteers/ Events near your place" ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span class="glyphicon glyphicon-search cursor" ng-click="redirectToSearchPage()"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row  no-margin well well-consent">
	<div class="col-xs-12 navigation-bar">
		<ul>
			<li ng-show="authenticated"><a class="lto-pre-login-nav-adj" href="" ng-click="redirect('/view/createdOpportunities')" i18n="{{'common.lto_span_welcome_program'}}"><span class="glyphicon glyphicon-calendar"></span></a></li>
			<li ng-show="authenticated" class="vertical-separator"></li>
			<li ng-controller="BootstrapModalController"><a ng-click="toggleRegisterModal()" href="#/"><span class="lto-pre-login-nav-adj" i18n="{{'common.lto_span_welcome_join'}}"></span></a></li>
			<li ng-show="authenticated" class="vertical-separator"></li>
			<li><a href="" ng-show="authenticated" ng-click="redirect('/view/createdOpportunities')"><span class="lto-pre-login-nav-adj" i18n="{{'common.lto_span_welcome_event'}}"></span></a></li>
		</ul>
	</div>
</div>
<div class="container lto-main-container">
	<div class="content-area">
		<div class="col-xs-12 col-sm-12 col-md-12 no-padding ">
			<div class="">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="start-property-tile__tiles">
							<div class="start-property-tile ">
								<div href="#" class="start-property-tile__left">
									<div class="start-property-tile__thumbnail ">
										<img src="./images/landing_page_image1.PNG" alt="" width="100">
										<div class="start-property-tile__thumbnail-gradient"></div>
									</div>
								</div>
								<div class="start-property-tile__right">
									<div class="start-property-tile__title">
										<h2 class="start-property-tile__heading lineheight">Hundreds of Opportunities are Available</h2>
										<hr class="start-property-tile__separator">
										<p class="lto-welcome-page-txt">The world bank has approved a near Rs.10,000 crore (USD 1.5 Billion) loan for the ambitious clean India campaign to support government</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="start-property-tile__tiles">
							<div class="start-property-tile ">
								<div class="start-property-tile__right">
									<div class="start-property-tile__title">
										<h2 class="start-property-tile__heading">Sania Mirza joins Modi's Swachh Bharat campaign</h2>
										<hr class="start-property-tile__separator">
										<p class="lto-welcome-page-txt">Joining the Prime Minister Narendra Modi's Swachh Bharat campaign. Tennis star Sania Mirza was also spotted cleaning Hyderabad roads.</p>
									</div>
								</div>
								<div href="#" class="start-property-tile__left">
									<div class="start-property-tile__thumbnail ">
										<img src="./images/landing_page_image4.png" alt="" width="100">
										<div class="start-property-tile__thumbnail-gradient"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="start-property-tile__tiles">
							<div class="start-property-tile ">
								<div href="#" class="start-property-tile__left">
									<div class="start-property-tile__thumbnail ">
										<img src="./images/landing_page_image3.png" alt="" width="100">
										<div class="start-property-tile__thumbnail-gradient"></div>
									</div>
								</div>
								<div class="start-property-tile__right">
									<div class="start-property-tile__title">
										<h2 class="start-property-tile__heading">Wadiyars to launch Swachh Bharat campaign</h2>
										<hr class="start-property-tile__separator">
										<p class="lto-welcome-page-txt">With the resurvey of cities ranked under Swachh Bharat beginning of January 9 in 75 cities. Including Mysuru, Mysuru City corporation.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row event-section">
				<div class="col-xs-12 col-sm-8" ng-controller="SearchController" ng-init="getUpcomingEvents()">
					<div class="row">
						<header class="col-xs-12 lto-upcoming-events-header">
							<h2 class="lto-upcoming-events-header-title">UpComing Events</h2>
							<a href="#/search/opportunity/" class="pull-right" i18n="{{'common.lto_link_welcome_viewEvent'}}"></a>
						</header>
					</div>
					<div class="row well well-consent lto-upcoming-events-container" ng-repeat="event in upComingEvents | limitTo : 3" >
						<div class="col-xs-12 col-sm-4 col-md-4">
							<ul class="start-list--icons">
								<li><span class="icon glyphicon glyphicon-user"></span> <span class="icon-descriptor">{{event.creator_name}}</span></li>
								<li><span class="icon glyphicon glyphicon-calendar"></span> <span class="icon-descriptor">{{event.dateStart | date:'dd-MMM-yyyy'}}</span></li>
								<li><span class="icon glyphicon glyphicon-calendar"></span> <span class="icon-descriptor">{{event.dateEnd | date:'dd-MMM-yyyy'}}</span></li>
								<li><span class="icon glyphicon glyphicon-map-marker"></span> <span class="icon-descriptor">{{event.address_state}}<span> , </span>{{event.address_country}}</span></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8 start-property-tile__title">
							<h2 class="start-property-tile__heading">{{event.name}}</h2>
							<hr class="start-property-tile__separator">
							<p class="lto-welcome-page-txt">{{event.description}}</p>
							<a class="lto-welcome-page-adj" href="#" i18n="{{'common.lto_link_readMore'}}"></a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12  col-md-8 ">
						<h2 class="text-color">Happenings @LetsTagOn</h2>
						<div class="row well well-consent start-property-tile__title lto-event-container-adj">
							<a href="#" class="lto-welcome-page-txt link-color" i18n="{{'common.lto_link_welcome_about'}}"></a>
							<p class="lto-welcome-page-txt ">Engage in the work of grassroot organizations, international NGO's, local governments educational institutions & agencies Engage in the work of grassroot organizations, international NGO's, local governments educational institutions & agencies Engage in the work of grassroot organizations, international NGO's, local governments educational institutions &
								agencies</p>
							<a href="#" class="lto-post-event-txt-adj no-padding-left">Read More</a> <span class="pull-right">8th Dec,2015</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-4 ">
						<h2 class="text-color">Event Calendar</h2>
						<div class="well well-consent lto-event-container-adj">
							<div class="row no-margin row-space event-cal">
								<img src="./images/image2.png">
								<p>
									<span><strong>Help Girls To Get Education</strong></span> <span> November 14, 2015</span>
								</p>
							</div>
							<div class="row no-margin event-cal">
								<img src="./images/image1.png">
								<p>
									<span><strong>Help Girls To Get Education</strong></span> <span> November 14, 2015</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 lto-post-event-container">
					<div class="row">
						<header class="col-xs-12">
							<h2 class="text-color">Post a New Event</h2>
						</header>
					</div>
					<div class="row no-margin well well-consent ">
						<div class="col-xs-12 start-property-tile__title">
							<h2 class="start-property-tile__heading" i18n="{{'common.lto_heading_eventPost'}}"></h2>
							<hr class="start-property-tile__separator">
							<p class="lto-welcome-page-txt">Engage in the work of grassroot organizations, international NGO's, local governments educational institutions & agencies</p>
							<button class="btn btn-primary btn--block-centered lto-post-new-event-btn" i18n="{{'common.lto_button_postEvent'}}"></button>
							<a href="#"><span class="text-center lto-post-event-txt-adj" i18n="{{'common.lto_span_sideOppDiv'}}" style="display: -moz-box;"> </span></a>
						</div>
					</div>
					<div class="col-xs-12 lto-add-opportunity" ng-show="authenticated" ng-controller="CreateOpportunityController">
						<div class=" row no-margin well well-consent event-cal lto-user-vol-additional-section">
							<div class="col-xs-5 no-padding">
								<img src="./images/image11.jpg" style="height: 108px;">
							</div>
							<div class="col-xs-7 no-padding">
								<p>
									<span class="lto-user-vol-exp-adj"><strong i18n="{{'common.lto_span_strong_volunteeringOportunity'}}"></strong></span> <span class="lto-user-vol-exp-adj" i18n="{{'common.lto_span_welcome_addVolOpportunity'}}"></span>
									<button class="btn btn-primary lto-user-add-experience-btn" data-toggle="modal" data-target="#opportunityCreateModal" i18n="{{'common.lto_button_text_addOportunity'}}"></button>
								</p>
							</div>
						</div>
						<div ng-include="'./js/pages/opportunity/create_opportunity_event.html'"></div>
						<!-- <div class="well well-consent event-cal">
									<img src="./images/image11.jpg">
									<p><span><strong>Volunteering Opportunities</strong></span>
									<span> Working as a UN Volunteer with UNHCR</span></p>
									<button class="btn btn-primary">Add Opportunities</button>
								</div> -->
					</div>
					<div class="row no-margin">
						<header class="col-xs-12">
							<h2 class="text-color">Blog @LetsTagOn</h2>
						</header>
					</div>
					<div class="row no-margin well well-consent lto-blog-container-adj">
						<div class="col-xs-12 start-property-tile__title">
							<h2 class="start-property-tile__heading">The stream of the dying</h2>
							<hr class="start-property-tile__separator">
							<p class="lto-welcome-page-txt">Engage in the work of grassroot organizations, international NGO's, local governments educational institutions & agencies</p>
							<a href="#"><span class="text-center lto-post-event-txt-adj no-padding-left">Read More</span></a>
							<p class="lto-welcome-page-adj">Posted by John Doe on 24 July 2015</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>