<!-- images to show only on dashboard -->
<div class="row no-margin">
	<div class="col-xs-12 no-padding image-container">
		<div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel" data-interval="10000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0"
					class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
				<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="./images/background1.png" alt="...">
					<div class="carousel-caption">
						<h2>  
						<b class="hightlight">Connect. Collaborate. Contribute.<br />
							LetsTagOn is a social network for social impact!</b> 
						</h2>
						
						<lto-search-directive></lto-search-directive>
						<!-- <div class="lto-search-container" ng-show="!authenticated"
							ng-controller="SearchController">
							<input type="text" name="trade"
								class="form-control lto-pre-login-search" id="headerSearch"
								placeholder="Search for volunteering opportunities"
								ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span
								class="glyphicon glyphicon-search cursor"
								ng-click="redirectToSearchPage()"></span>
						</div> -->
					</div>
				</div>
				<div class="item">
					<img src="./images/background2.png" alt="...">
					<div class="carousel-caption">
						<h2> 
							<b class="hightlight">LetsTagOn helps you to connect with volunteers, non-profits, social responsibility groups and change champions at large!</b>
						</h2>
						<lto-search-directive></lto-search-directive>
						<!-- <div class="lto-search-container" ng-show="!authenticated"
							ng-controller="SearchController">
							<input type="text" name="trade"
								class="form-control lto-pre-login-search" id="headerSearch"
								placeholder="Search for Volunteers/ Events near your place"
								ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span
								class="glyphicon glyphicon-search cursor"
								ng-click="redirectToSearchPage()"></span>
						</div> -->
					</div>
				</div>
				<div class="item">
					<img src="./images/background3.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">LetsTagOn helps you find volunteering opportunities that match your skill, interest and availability!</b>
						</h2>
						<lto-search-directive></lto-search-directive>
						<!-- <div class="lto-search-container" ng-show="!authenticated"
							ng-controller="SearchController">
							<input type="text" name="trade"
								class="form-control lto-pre-login-search" id="headerSearch"
								placeholder="Search for Volunteers/ Events near your place"
								ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span
								class="glyphicon glyphicon-search cursor"
								ng-click="redirectToSearchPage()"></span>
						</div> -->
					</div>
				</div>
				<div class="item">
					<img src="./images/background4.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">LetsTagOn helps you create a digital presence for your organization and increase reach of your causes!</b>
						</h2>					
						<lto-search-directive></lto-search-directive>
						<!-- <div class="lto-search-container" ng-show="!authenticated"
							ng-controller="SearchController">
							<input type="text" name="trade"
								class="form-control lto-pre-login-search" id="headerSearch"
								placeholder="Search for Volunteers/ Events near your place"
								ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span
								class="glyphicon glyphicon-search cursor"
								ng-click="redirectToSearchPage()"></span>
						</div> -->
					</div>
				</div>
				<div class="item">
					<img src="./images/background5.png" alt="...">
					<div class="carousel-caption">
						<h2>
							<b class="hightlight">Get 'tagged' and be part of the dream!</b>
						</h2>					
						<lto-search-directive></lto-search-directive>
						<!-- <div class="lto-search-container" ng-show="!authenticated"
							ng-controller="SearchController">
							<input type="text" name="trade"
								class="form-control lto-pre-login-search" id="headerSearch"
								placeholder="Search for Volunteers/ Events near your place"
								ng-keypress="($event.which === 13)?redirectToSearchPage():0"><span
								class="glyphicon glyphicon-search cursor"
								ng-click="redirectToSearchPage()"></span>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container lto-main-container">
	<div class="content-area">
		<div class="col-xs-12 col-sm-12 col-md-12 no-padding ">
			<div class="row event-section">
				<div class="col-xs-12 col-sm-8" ng-controller="SearchController"
					ng-init="getUpcomingEvents()">
					<div class="row">
						<header class="col-xs-12 lto-upcoming-events-header">
							<h2 class="lto-upcoming-events-header-title">UpComing Events</h2>
							<a href="#/search/opportunity/" class="pull-right"
								i18n="{{'common.lto_link_welcome_viewEvent'}}"></a>
						</header>
					</div>
					<div class="row well well-consent lto-upcoming-events-container"
						ng-repeat="event in upComingEvents | limitTo : 3">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<ul class="start-list--icons">
								<li><span class="icon glyphicon glyphicon-user"></span> <span
									class="icon-descriptor">{{event.creator_name}}</span></li>
								<li><span class="icon glyphicon glyphicon-calendar"></span>
									<span class="icon-descriptor">{{event.dateStart |
										date:'dd-MMM-yyyy'}}</span></li>
								<li><span class="icon glyphicon glyphicon-calendar"></span>
									<span class="icon-descriptor">{{event.dateEnd |
										date:'dd-MMM-yyyy'}}</span></li>
								<li ng-if="event.address_state || event.address_country"><span class="icon glyphicon glyphicon-map-marker"></span>
									<span class="icon-descriptor">{{event.address_state}}<span>
											, </span>{{event.address_country}}
								</span></li>
							</ul>
						</div>
						<div
							class="col-xs-12 col-sm-8 col-md-8 start-property-tile__title cursor">
							<h2 class="start-property-tile__heading" ng-click="redirect('/view/opportunity/'+ event.id)">{{event.name}}</h2>
							<hr class="start-property-tile__separator">
							<p class="lto-welcome-page-txt">{{event.description}}</p>
							<a class="lto-welcome-page-adj cursor" ng-click="redirect('/view/opportunity/'+ event.id)" 
								i18n="{{'common.lto_link_readMore'}}"></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 lto-post-event-container">
					<div class="row no-margin">
						<header class="col-xs-12">
							<h2 class="text-color">Volunteer Stories</h2>
						</header>
					</div>
					<div class="row no-margin well well-consent lto-blog-container-adj">
						<div class="col-xs-12 start-property-tile__title">
							<h2 class="start-property-tile__heading">The stream of the
								dying</h2>
							<hr class="start-property-tile__separator">
							<p class="lto-welcome-page-txt">Engage in the work of
								grassroot organizations, international NGO's, local governments
								educational institutions & agencies</p>
							<a href="#"><span
								class="text-center lto-post-event-txt-adj no-padding-left">Read
									More</span></a>
							<p class="lto-welcome-page-adj">Posted by John Doe on 24 July
								2015</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
