<html>
<body>
	<form name="contactus" ng-submit="contactUs()" >
		<br>
		<div class="container">
			<div class="container" style="margin-top: 5%;margin-bottom: 3%;" >
				<div class="container" style="padding-left: 6%;">
				<h2 class="col-md-offset-5 col-md-offset-5 col-lg-offset-5 col-xs-offset-5" style="color: #fe982a">Contact Us</h2></div>
				<br>
				<div class="container">
					<div class="form-group  col-md-offset-3 col-md-6 col-lg-6 col-xs-6" style="padding-left:: 7%;">
						<input type="text" class="form-control" id="name"
						aria-describeby="name" placeholder="Name" ng-model="user.name"  ng-required="true"><span class="error"
											ng-show="submitted && contactus.name.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}">
					</div>
				</div>
				<div class="container">
					<div class="form-group col-md-offset-3 col-md-6 col-lg-6 col-xs-6">
						<input type="email" class="form-control" id="email"
						aria-describeby="emailhelper" placeholder="Email" ng-model="user.email" ng-required="true"><span class="error"
											ng-show="submitted && contactus.email.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}">
					</div>
				</div>
				<div class="container">
					<div class="form-group col-md-offset-3 col-md-6 col-lg-6 col-xs-6">
						<textarea class="form-control" id="message"
						aria-describedby="messagehelper" rows="3" placeholder="Message" ng-model="user.message" ng-required="true"></textarea><span class="error"
											ng-show="submitted && contactus.message.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}">
					</div>
				</div>
				<div class="container" style="padding-left: 8%">
				<button type="submit" class="btn btn-primary col-md-offset-5" ng-click="submitted=true" style="text-align: center;">Submit</button></div>
				<span id="successmessage" style="padding-top: 1%;padding-left: 1%;text-align: center;color:red;display:none">Message sent Successfully</span>
			</div>
		</div>
	</form>
</body>
</html>