<html>
	<body>
		<h3>Hi ${name},</h3>
		<h3>
			Welcome to Letstagon.
		</h3>
		<p>
			 Letstagon is a platform that connects volunteers and enables opportunity creators and volunteers to interact on the volunteering opportunity matching mutual interest.
		</p>
		<p>
			${regMessage}
		</p>
	</body>

</html>