<div class="modal fade in" id="modalForgotPassword" ng-controller="PasswordController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#/" class="cursor pull-right" data-dismiss="modal" aria-label="" i18n="{{'common.lto_button_text_close'}}"></a>
				<h2 class="col-xs-6 col-xs-offset-4 col-md-5 col-md-offset-4" i18n="{{'common.lto_heading_resetPassword'}}"></h2>
			</div>
			<div class="modal-body">
				<form name="forgetPasswordForm" class="form-horizontal" role="form" ng-submit="forgetPasswordForm.$valid && forgotPassword()" novalidate="novalidate">
					<div class="form-group" ng-show="isError">
						<h3 class="col-md-10 col-md-offset-2 error" ng-model="errorMessage">{{errorMessage}}</h3>
					</div>
					<div class="form-group" ng-show="isSuccess">
						<h3 class="col-md-10 col-md-offset-2 success" ng-model="successMessage">{{successMessage}}</h3>
					</div>
					<div class="form-group lto-forget-pass-form">
						<label class="col-xs-2 col-xs-offset-2 col-md-2 col-md-offset-2 lto-forget-pass-label" for="email" i18n="{{'common.lto_label_user_emailAddress'}}">:</label>
						<div class="col-xs-7 col-md-5">
							<input class="form-control input-sm" type="email" id="email" name="email" ng-model="userDetails.emailAddress" required><span class="glyphicon glyphicon-envelope lto-login-icon"></span><span class="error" ng-show="submitted && forgetPasswordForm.email.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span> <span class="error"
								ng-show="!forgetPasswordForm.email.$error.required && forgetPasswordForm.email.$error.email && forgetPasswordForm.email.$dirty"
							>Invalid EmailId.</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-1 col-xs-offset-4 col-md-1 col-sm-1 col-md-offset-4">
							<button type="submit" class="btn btn-primary" ng-click="submitted = true" i18n="{{'common.lto_button_submit'}}"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>