<html>
	<body>
		<h3>Hi ${name}, you have a new message!</h3>
		<h3>
			Lets Tag On - A platform for Volunteers.
		</h3>
		<p>
			${resetMessage}
			${appUrl}/#/resetPassword?name=${name}&tid=${token}
			(Temporary URL. Needs to be updated)
			Please use this URL before ${expiryDate} to continue the services of LetsTagOn.
		</p>
	</body>

</html>