<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container lto-main-container">
	<div class="content-area">
		<div class="row">
			<div class="col-sm-8">
				<div class="row no-margin well well-consent information-section">
					<div class="row">
						<h3 class="pull-left opportunity-title  cursor" ng-click="redirect('/view/opportunity/'+oppDetails.id)">{{oppDetails.name}}</h3>
						<div class="pull-right opportunity-btn-container">
							<li ng-show="manageOppButton" class="btn btn-primary dropdown btn-margin-left pull-right"><span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage</span>
								<ul class="dropdown-menu" role="menu">
									<li class=""><a href="#/opportunity/manageApplications/{{oppDetails.id}}">Application status</a></li>
									<li class=""><a href="#/opportunity/manageAttendance/{{oppDetails.id}}">Attendance</a></li>
									<li class=""><a href="#/opportunity/manageFeedback/{{oppDetails.id}}">Give Feedback</a></li>
								</ul></li>
							<button ng-show="editOppButton" class="btn btn-primary pull-right btn-margin-right" ng-click="editOpp(oppDetails)">Edit</button>
						</div>
					</div>
					<h4>
						<strong ng-if="oppDetails.description.length>1">Information about the event</strong>
					</h4>
					<p>
					<div ng-if="!oppDetails.description">No description avaliable!!</div>
					<div ng-if="oppDetails.description">
						{{oppDetails.description}}<a href="" class="pull-right">Read More</a>
					</div>
					</p>
					<div class="row no-margin row-space">
						<div class="col-xs-12 navigation-bar">
							<ul>
								<li ng-if="oppDetails.contactPerson.id>0"><a class="" href="#/profile/user/{{oppDetails.contactPerson.id}}"> <span class="glyphicon glyphicon-user"></span> {{oppDetails.contactPerson.name}} </br> <span class="right-align"> {{oppDetails.contactPerson.phoneNumber}}</span>
								</a></li>
								<li class="vertical-separator" ng-if="oppDetails.dateStart"></li>
								<li ng-if="oppDetails.dateStart" class="event-date-detail"><span class="glyphicon glyphicon-calendar"></span>{{oppDetails.dateStart | date: 'dd-MMM-yyyy'}} <span> to </span> {{oppDetails.dateEnd | date: 'dd-MMM-yyyy'}}</li>
								<li class="vertical-separator" ng-if="oppDetails.dateStart"></li>
								<li ng-if="oppDetails.dateStart"><span class="glyphicon glyphicon-time"></span>{{oppDetails.dateStart | date: 'HH:MM'}}-{{oppDetails.dateEnd | date: 'HH:MM'}}</li>
								<li class="vertical-separator" ng-if="oppDetails.addressBean"></li>
								<li ng-if="oppDetails.addressBean && oppDetails.addressBean.formattedAddress == null"><span class="glyphicon glyphicon-map-marker"></span> <span><span ng-if="oppDetails.addressBean.street">{{oppDetails.addressBean.street}}</br></span> <span class="right-align">{{oppDetails.addressBean.city}}<span ng-if="oppDetails.addressBean.country">,
												{{oppDetails.addressBean.country}}</span>
									</span> </span></li>
								<li class="lto-opp-address-list" ng-if="oppDetails.addressBean && oppDetails.addressBean.formattedAddress != null"><span class="glyphicon glyphicon-map-marker"></span> <span><span>{{oppDetails.addressBean.formattedAddress}}</span> </span> </span></li>
							</ul>
							<div class="hide" id="latLng">{{oppDetails.latLong}}</div>
						</div>
					</div>
				</div>
				<h2 ng-if="participants.length>0" style="padding-left: 5px;">Applied Volunteers List</h2>
				<!-- table here -->
				<div class="row no-margin row-space">
					<div ng-if="oppDetails.participants.length>=3" class="search-field col-md-12 col-sm-12 col-xs-12 opportunity-search-container">
						<input type="text" ng-model="q" name="trade" class="form-control opportunity-search-adj" placeholder="Search for Applied Volunteers"> <span class="glyphicon glyphicon-search"> </span>
					</div>
					<br> <br>
					<div dir-paginate="participation in participants | itemsPerPage: participantsPerPage | filter:q " total-items="totalParticipants" current-page="pagination.current" class="col-xs-5 col-sm-3 opportunity-user-list">
						<div class="user__thumbnail ">
							<img ng-src="{{getProfileImage(participation.partyBean.userBean.profilePicture)}}" ng-if="participation.partyBean.userBean.profilePicture != null"> <img src="../images/UserImage.png" ng-if="participation.partyBean.userBean.profilePicture == null">
							<div class="user-info">
								<span class="icon-descriptor" ng-click="redirect('/profile/user/'+participation.partyBean.userBean.id)">{{participation.partyBean.userBean.firstName}} {{participation.partyBean.userBean.lastName}} <span class="pull-right text-highlight" ng-if="participation.rating != null"><span class="glyphicon glyphicon-star"></span>{{participation.rating}}</span>
								</span>
								<hr>
								<span class="lto-pending-action-conatiner cursor" ng-click="manageAttendence(participation.id,true)"><span class="glyphicon glyphicon-ok lto-glyphicon-adj"></span><span>Present</span> </span> <span class="vertical-separator"></span> <span class="lto-pending-action-conatiner cursor" ng-click="manageAttendence(participation.id,false)"><span
									class="glyphicon glyphicon-remove lto-glyphicon-adj"
								></span><span>Absent</span> </span>
							</div>
						</div>
					</div>
				</div>
				<dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="/js/pages/fragments/pagination/dirPagination.tpl.html"></dir-pagination-controls>
				<div class="row no-margin row-space well well-consent col-xs-12 col-sm-12 col-lg-12 ng-scope" ng-if="oppDetails.partyParticipations.length==0">
					<div class="lto-not-connected-msg" i18n="common.lto_span_noVOlunteerApplied"></div>
				</div>
				<!-- 					<h2>Similar Opportunites</h2>
					<div class="row no-margin">
						<div class="col-xs-4">
							<div class="well well-consent event-cal">
								<div>
									<img src="./images/image2.jpg">
									<p>
										<span><strong>Volunteers</strong></span> <span> Working
											as a UN Volunteer with UNHCR</span>
									</p>
								</div>
								<div>
									<button class="btn btn-secondary">Share</button>
									<button class="btn btn-secondary">Invite a Friend</button>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="well well-consent event-cal">
								<div>
									<img src="./images/image2.jpg">
									<p>
										<span><strong>Volunteers</strong></span> <span> Working
											as a UN Volunteer with UNHCR</span>
									</p>
								</div>
								<div>
									<button class="btn btn-secondary">Share</button>
									<button class="btn btn-secondary">Invite a Friend</button>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="well well-consent event-cal">
								<div>
									<img src="./images/image2.jpg">
									<p>
										<span><strong>Volunteers</strong></span> <span> Working
											as a UN Volunteer with UNHCR</span>
									</p>
								</div>
								<div>
									<button class="btn btn-secondary">Share</button>
									<button class="btn btn-secondary">Invite a Friend</button>
								</div>
							</div>
						</div>
					</div> -->
			</div>
			<!--  Common to all manage opportunity Pages-->
			<div ng-include="'./js/pages/opportunity/opportunity_suggestion.html'"></div>
		</div>
	</div>
	</main>
</div>
</div>