<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container " ng-init="getUserExperienceDetailList()">
	<div class="row lto-main-container lto-main-container-row">
		<div class="row-space hidden-md hidden-sm"></div>
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding "> <header class="container profile-header">
			<div class="container-fluid">
				<h2 class="text-center" i18n="{{'common.lto_heading_personalInformation'}}"></h2>
				<!-- <a href="#" class="pull-right">Update</a> -->
			</div>
		</header>
		<div class="content-area">
			<div class="row-space progress-wrap hidden-xs">
				<ul class="progress-bar">
					<li class="cursor active" ng-click="redirect('/cp/personalInformation')" i18n="{{'common.lto_link_personalInfo'}}"></li>
					<li class="cursor active" ng-click="redirect('/cp/interests')" i18n="{{'common.lto_link_interest'}}"></li>
					<li class="cursor active" i18n="{{'common.lto_link_experience'}}"></li>

					<!-- <li class="cursor" ng-click="redirect('/cp/interests')" i18n="{{'common.lto_link_interest'}}"></li> -->
					<!-- <li class="cursor" ng-click="redirect('/cp/privacy')" i18n="{{'common.lto_link_privacySettings'}}"></li> -->

				</ul>
			</div>
			<div class=" hidden-md hidden-sm hidden-lg row-space personal-info-progress-wrap">
				<ul class="list-no-style">
					<li class="cursor  col-xs-6" ng-click="redirect('/cp/personalInformation')" i18n="{{'common.lto_link_personalInfo'}}"></li>
					<li class="cursor  active col-xs-6" i18n="{{'common.lto_link_experience'}}"></li>
					<li class="cursor  col-xs-6" ng-click="redirect('/cp/interests')" i18n="{{'common.lto_link_interest'}}"></li>
					<!-- <li class="cursor  col-xs-6" ng-click="redirect('/cp/privacy')" i18n="{{'common.lto_link_privacySettings'}}"></li> -->
				</ul>
				<div class="row-space hidden-md hidden-sm"></div>
			</div>
			<!-- Add volunteering Experience -->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12 lto-complete-profile-exp">
					<div class="lto-cp-exp-section-left">
						<h2 i18n="{{'common.lto_heading_volunteerExperience'}}"></h2>
					</div>
					<div class="lto-cp-exp-section-right">
						<button class="btn btn-primary btn--block-centered" ng-click="showVolHiddenContainer()" i18n="{{'common.lto_button_text_addExperience'}}"></button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 lto-cp-exp">
					<div id="volExpForm" ng-show="isVolExpVisible" class=" profile-form">
						<form name="volunteerExperience" ng-submit="volunteerExperience.$valid && saveVolunteerExperienceDetails()" novalidate="novalidate">
							<!-- TO capture company details -->
							<div class="lto-cp-exp-form profile-form">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<label for="trade" i18n="{{'common.lto_lable_organization_name'}}"></label> <input type="text" name="organizationName" class="form-control" id="organizationName" placeholder="{{'common.lto_placeholder_volunteer_organization'|i18n}}" ng-model="userVolunteerExperience.organizationName" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error"
											ng-show="submitted && volunteerExperience.organizationName.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_organization_role'}}"></label><input type="text" name="title" class="form-control" id="title" placeholder="{{'common.lto_placeholder_volunteer_role'|i18n}}" ng-model="userVolunteerExperience.title" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && volunteerExperience.title.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<input type="hidden" name="cause" class="form-control" id="cause" placeholder="{{'common.lto_placeholder_cause'|i18n}}" ng-model="userVolunteerExperience.cause">
										<label for="trade" i18n="{{'common.lto_lable_organization_cause'}}"></label> 
										<select ng-model="userVolunteerExperience.causearea" name="causearea" id="causearea" ng-change="GetCause()" class="form-control" ng-required="true">
  										<option ng:repeat="cause in masterCauseList" value="{{cause.name}}">{{cause.name}}</option>
										</select> 
										<span class="error"
											ng-show="submitted && volunteerExperience.causearea.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span> <input type="text" name="other" class="form-control" id="other" placeholder="{{'common.lto_placeholder_other'|i18n}}" ng-model="userVolunteerExperience.other" ng-required={{value}} readonly> <span class="glyphicon glyphicon-tint">
										<span class="error" ng-show="submitted && volunteerExperience.other.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_date'}}"></label><input type="text" name="startDate" class="form-control" id="volExpStartDate" placeholder="{{'common.lto_placeholder_volunteer_startDate'|i18n}}" ng-model="userVolunteerExperience.startDate" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error"
											ng-show="submitted && volunteerExperience.startDate.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span> <input type="text" name="endDate" class="form-control" id="volExpEndDate" placeholder="{{'common.lto_placeholder_volunteer_endDate'|i18n}}" ng-model="userVolunteerExperience.endDate" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error" ng-show="submitted && volunteerExperience.endDate.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<input type="hidden"  ng-model="userVolunteerExperience.skill" name="skill" class="form-control" id="skill">
										<label for="trade" i18n="{{'common.lto_heading_interest_skill'}}"></label> 
										<select ng-model="userVolunteerExperience.skillarea" name="skillarea" id="skillarea" ng-change="GetSkill()" class="form-control" ng-required="true">
										<option ng:repeat="skill in masterSkills" value="{{skill.name}}">{{skill.name}}</option>
										</select> 
										<span class="error"
											ng-show="submitted && volunteerExperience.skillarea.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span> <input type="text" name="comment" class="form-control" id="comment" placeholder="{{'common.lto_placeholder_other'|i18n}}" ng-model="userVolunteerExperience.comment" ng-required={{isRequired}} readonly> <span class="glyphicon glyphicon-tint">
										<span class="error" ng-show="submitted && volunteerExperience.comment.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_heading_hours'}}"></label> <input type="text" name="hours" class="form-control" id="hours" placeholder="{{'common.lto_heading_no_hours'|i18n}}" ng-model="userVolunteerExperience.hours" ng-required="true"><span class="error"
											ng-show="submitted && volunteerExperience.hours.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-12 ">
										<label for="trade" i18n="{{'common.lto_lable_vol_description'}}"></label>
										<textarea type="text" name="description" class="form-control" id="description" placeholder="{{'common.lto_placeholder_volunteer_description'|i18n}}" ng-model="userVolunteerExperience.description"></textarea>
										<span class="glyphicon glyphicon-list-alt"></span>
									</div>
									<div class="col-xs-12 col-sm-6">
										
									</div>
								</div>
								<div class="text-center">
									<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true" i18n="{{'common.lto_button_text_save'|i18n}}"></button>
									<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="showVolHiddenContainer()" i18n="{{'common.lto_button_text_cancle'}}"></button>
									<div class="success-toast-message" ng-show="success">
										<span ng-model="actionSuccess">{{actionSuccess}}</span>
									</div>
									<div class="error-toast-message" ng-show="error">
										<span ng-model="actionError">{{actionError}}</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp-details" ng-repeat="volunteerDetail in volunteeringDetailsList">
						<span class="lto-cp-edu-or-exp-edit" ng-click="editCurrentVolunteerExperienceDetail(volunteerDetail)" ng-model="profession" i18n="{{'common.lto_link_edit'}}"></span>
						<h2 class="lto-cp-exp-details-row">{{volunteerDetail.title}}</h2>
						<h3 class="lto-cp-exp-details-row">{{volunteerDetail.organizationName}}</h3>
						<h4 class="lto-cp-exp-details-row">{{volunteerDetail.cause}}</h4>
						<h4 class="lto-cp-exp-details-row">{{volunteerDetail.skill}}</h4>
						<h5 class="lto-cp-exp-details-row">
							{{volunteerDetail.startDate | date:'MM-dd-yyyy'}} <span> to </span> <span ng-if="!!volunteerDetail.endDate">{{volunteerDetail.endDate | date:'MM-dd-yyyy'}}</span> <span ng-if="!volunteerDetail.endDate">present.</span>
						</h5>
						<h5 class="lto-cp-exp-details-row">{{volunteerDetail.description}}</h5>
					</div>
					<div ng-show="!isVolExpVisible" ng-if="volunteeringDetailsList.length == 0">
						<p i18n="{{'common.lto_span_volExperience_ no'}}"></p>
					</div>
				</div>
			</div>
			<!-- End -->
			<!------------------------------------------------------- Add professional experience and import professional details from linkedin---------------------------------------->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12 lto-complete-profile-exp">
					<div class="lto-cp-exp-section-left">
						<h2 i18n="{{'common.lto_heading_professionalExperience'}}"></h2>
					</div>
					<div class="lto-cp-exp-section-right">
					
						<span>
						  <button class="btn btn-primary btn--block-centered" ng-click="showHiddenContainer()" i18n="{{'common.lto_button_text_addExperience'}}"></button>
					    </span>
					</div>
					<div class="lto-cp-exp-section-right">
					   <!-- Link to import professional details -->
                       <span class="lto-prof-import-txt">
                           <a class="lto-login-forget-pass-link linkedin_Professional_Details" href="/linkedin/professionalDetail" i18n = "{{'common.lto_link_linkedinProfessionalDetails'}}"></a>
                        </span>
                        <!-- End of link -->
					</div>
				</div>
				<div class="col-xs-12 col-sm-12  lto-cp-exp">
					<div id="ExpForm" ng-show="isExpVisible" class="profile-form">
						<form name="profForm" ng-submit="profForm.$valid  && saveExperienceDetails()" novalidate="novalidate">
							<!-- TO capture company details -->
							<div class="lto-cp-exp-form profile-form">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<label for="trade" i18n="{{'common.lto_lable_professional_companyName'}}"></label><input type="text" name="organizationName" class="form-control" id="organizationName" placeholder="{{'common.lto_placeholder_companyName'|i18n}}" ng-model="userExperience.organizationName" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error"
											ng-show="submitted && profForm.organizationName.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_professional_title'}}"></label><input type="text" name="title" class="form-control" id="title" placeholder="{{'common.lto_placeholder_companyTitle'|i18n}}" ng-model="userExperience.title" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error" ng-show="submitted && profForm.title.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_professional_location'}}"></label> <input type="text" name="Enter Company Location" class="form-control" id="location" placeholder="{{'common.lto_placeholder_professional_location'|i18n}}" ng-model="userExperience.location"> <span class="glyphicon glyphicon-map-marker"></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_professional_timePeriod'}}"></label><input type="text" name="startDate" class="form-control" id="expStartDate" placeholder="{{'common.lto_span_companyJoiningDate'|i18n}}" ng-model="userExperience.startDate" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error"
											ng-show="submitted && profForm.startDate.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span><input type="text" name="endDate" class="form-control" id="expEndDate" placeholder="{{'common.lto_span_companylastDate'|i18n}}" ng-model="userExperience.endDate"> <span class="glyphicon glyphicon-calendar"></span>
										<!-- <span
											class="error"
											ng-show="submitted && profForm.endDate.$error.required">Mandatory
											Field</span> -->
									</div>
									<div class="col-xs-12 ">
										<label for="trade" i18n="{{'common.lto_lable_description'}}"></label>
										<textarea type="text" name="description" class="form-control" id="description" placeholder="{{'common.lto_placeholder_professional_description'|i18n}}" ng-model="userExperience.description"></textarea>
										<span class="glyphicon glyphicon-list-alt"></span>
									</div>
								</div>
								<div class="text-center">
									<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted=true" i18n="{{'common.lto_button_text_save'}}"></button>
									<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="cancelSaveOrUpdateOfExperience()" i18n="{{'common.lto_button_text_cancle'}}"></button>
									<div class="success-toast-message" ng-show="professionalExpSuccess">
										<span ng-model="experienceSuccessMessage">{{experienceSuccessMessage}}</span>
									</div>
									<div class="error-toast-message" ng-show="professionalExpError">
										<span ng-model="experienceErrorMessage">{{experienceErrorMessage}}</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp-details" ng-repeat="profession in professionalDetailsList">
						<span class="lto-cp-edu-or-exp-edit" ng-click="editCurrentExperienceDetail(profession)" ng-model="profession">Edit</span>
						<h2 class="lto-cp-exp-details-row">{{profession.title}}</h2>
						<h3 class="lto-cp-exp-details-row">{{profession.organizationName}}</h3>
						<h4 class="lto-cp-exp-details-row">{{profession.location}}</h4>
						<h5 class="lto-cp-exp-details-row">
							From : {{profession.startDate | date:'MM-dd-yyyy'}} <span> to </span> {{profession.endDate | date:'MM-dd-yyyy'}}<span ng-if="!profession.endDate"> present. </span>
						</h5>
						<h5 class="lto-cp-exp-details-row">{{profession.description}}</h5>
					</div>
					<div ng-show="!isExpVisible" ng-if="professionalDetailsList.length == 0">
						<p i18n="{{'common.lto_span_professionalExperience'}}"></p>
					</div>
				</div>
			</div>
			<!-------------------------------------------------------------------End------------------------------------------------------------------------->
			<!------------------------------------------------------------------- Add Educational Details  --------------------------------------------------->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12 lto-complete-profile-edu">
					<div class="lto-cp-edu-section-left">
						<h2 i18n="{{'common.lto_heading_educationalDetails'}}"></h2>
					</div>
					<div class="lto-cp-edu-section-right">
						<button class="btn btn-primary btn--block-centered" ng-click="showEducationConatiner()" i18n="{{'common.lto_button_addEducation'}}"></button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12  lto-cp-edu">
					<div id="eduFormDetail" ng-show="isEduVisible" class="">
						<form name="eduForm" ng-submit="eduForm.$valid  && saveEducationDetails()" novalidate="novalidate">
							<!-- TO capture company details -->
							<div class="container lto-cp-edu-form profile-form">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<label for="trade" i18n="{{'common.lto_lable_education_school'}}"></label> <input type="text" name="organizationName" class="form-control" id="organizationName" placeholder="{{'lto_placweholder_schoolName'|i18n}}" ng-model="userEducation.organizationName" ng-required="true"> <span class="glyphicon glyphicon-user"></span> <span class="error"
											ng-show="submitted && eduForm.organizationName.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_edu_field'}}"></label> <input type="text" name="course" class="form-control" id="course" placeholder="{{'common.lto_placeholder_course'|i18n}}" ng-model="userEducation.course" ng-required="true"> <span class="glyphicon glyphicon-book"></span> <span class="error" ng-show="submitted && eduForm.course.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_edu_degree'}}"></label><input type="text" name="degree" class="form-control" id="degree" placeholder="{{'common.lto_placeholder_degree'|i18n}}" ng-model="userEducation.degree" ng-required="true"> <span class="glyphicon glyphicon-education"></span> <span class="error" ng-show="submitted && eduForm.degree.$error.required"
											i18n="{{'common.lto_span_RequirFieldError'}}"
										></span>
									</div>
									<div class="col-xs-12 col-sm-6 ">
										<label for="trade" i18n="{{'common.lto_lable_professional_timePeriod'}}"></label><input type="text" name="startDate" class="form-control" id="eduStartDate" placeholder="{{'common.lto_placeholder_schoolStart'|i18n}}" ng-model="userEducation.startDate" ng-required="true"> <span class="glyphicon glyphicon-calendar"></span> <span class="error"
											ng-show="submitted && eduForm.startDate.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
										></span><input type="text" name="endDate" class="form-control" id="eduEndDate" placeholder="{{'common.lto_placeholder_schoolendDate'|i18n}}" ng-model="userEducation.endDate"> <span class="glyphicon glyphicon-calendar" ng-required="true"></span> <span class="error" ng-show="submitted && eduForm.endDate.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"></span>
									</div>
									<div class="col-xs-12 col-sm-12 ">
										<label for="trade" i18n="{{'common.lto_lable_description'}}"></label>
										<textarea type="text" name="description" class="form-control" id="description" ng-model="userEducation.description" placeholder="{{'common.lto_placeholder_eduDescription'|i18n}}"></textarea>
									</div>
								</div>
								<div class="text-center">
									<button class="btn btn-primary btn--block-centered lto-cp-edu-btn" ng-click="submitted=true" i18n="{{'common.lto_button_text_save'}}"></button>
									<button class="btn btn-primary btn--block-centered lto-cp-edu-btn" ng-click="cancelSaveOrUpdateOfEducation()" i18n="{{'common.lto_button_text_cancle'}}"></button>
									<div class="success-toast-message" ng-show="educationSuccess">
										<span ng-model="educationSuccessMessage">{{educationSuccessMessage}}</span>
									</div>
									<div class="error-toast-message" ng-show="educationError">
										<span ng-model="educationErrorMessage">{{educationErrorMessage}}</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-12 col-sm-12 profile-form lto-cp-exp-details" ng-repeat="education in educationDetailsList">
						<span class="lto-cp-edu-or-exp-edit" ng-click="editCurrentEducationDetail(education)" ng-model="education">Edit</span>
						<h2 class="lto-cp-exp-details-row">{{education.organizationName}}</h2>
						<h3 class="lto-cp-exp-details-row">{{education.course}}</h3>
						<h5 class="lto-cp-exp-details-row">{{education.degree}}</h5>
						<h5 class="lto-cp-exp-details-row">
							From : {{education.startDate | date:'MM-dd-yyyy'}} <span> to </span> <span ng-if="!!education.endDate"> {{education.endDate | date:'MM-dd-yyyy'}} </span> <span ng-if="!education.endDate"> present. </span>
						</h5>
						<h5 class="lto-cp-exp-details-row">{{education.description}}</h5>
					</div>
					<div ng-show="!isEduVisible" ng-if="educationDetailsList.length == 0">
						<p i18n="{{'common.lto_span_eduExperience'}}"></p>
					</div>
				</div>
			</div>
			<!-- ------------------------------------------------------------------ End  -----------------------------------------------------------------> -->
		</div>
		<div class="text-center">
			<button class="btn btn-primary btn--block-centered" ng-click="redirect('/cp/interests')" i18n="{{'common.lto_button_text_back'}}"></button>
			<button class="btn btn-primary btn--block-centered" ng-click="redirectProfilePage()" i18n="{{'common.lto_button_done'}}"></button>
			<!-- <button class="btn btn-primary btn--block-centered" ng-click="redirect('/cp/privacy')" i18n="{{'common.lto_button_text_next'}}"></button> -->
		</div>
		</main>
		<!-- /main content area 
	</div>
	<!-- /container-fluid -->
</div>