<div class="container ">
	<div class="row lto-main-container lto-main-container-row">
		<div class="row-space hidden-md hidden-sm"></div>
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding "> <header class="container profile-header">
			<div class="container-fluid">
				<h2 class="text-center" i18n="{{'common.lto_heading_personalInformation'}}"></h2>
				<!-- <a href="#" class="pull-right">Update</a> -->
			</div>
		</header>
		<div class="content-area">
			<div class="row-space progress-wrap hidden-xs">
				<ul class="progress-bar">
					<li class="cursor active" ng-click="redirect('/cp/personalInformation')" i18n="{{'common.lto_link_personalInfo'}}"></li>
					<li class="cursor active" i18n="{{'common.lto_link_experience'}}" ng-click="redirect('/cp/experiences')"></li>
					<li class="cursor active" i18n="{{'common.lto_link_interest'}}"></li>
					<li class="cursor" ng-click="redirect('/cp/privacy')" i18n="{{'common.lto_link_privacySettings'}}"></li>
				</ul>
			</div>
			<div class=" hidden-md hidden-sm hidden-lg row-space personal-info-progress-wrap">
				<ul class="list-no-style">
					<li class="cursor  col-xs-6" ng-click="redirect('/cp/personalInformation')" i18n="{{'common.lto_link_personalInfo'}}"></li>
					<li class="cursor   col-xs-6" ng-click="redirect('/cp/experiences')" i18n="{{'common.lto_link_experience'}}"></li>
					<li class="cursor  active col-xs-6" i18n="{{'common.lto_link_interest'}}"></li>
					<li class="cursor  col-xs-6" ng-click="redirect('/cp/privacy')" i18n="{{'common.lto_link_privacySettings'}}"></li>
				</ul>
				<div class="row-space hidden-md hidden-sm"></div>
			</div>
			<!------------------------------------  Location preferences capture --------------------------------------------->
			<form name="locationPref" ng-submit="locationPref.$valid && saveLocationPrefDetails()" novalidate="novalidate">
				<div class="row no-margin row-space checkbox-custom profile-form">
					<div class="col-xs-12 col-sm-6">
						<label for="trade" i18n="{{'common.lto_label_postCode'}}"></label> <input type="text" name="locationPostalCode" class="form-control" id="locationPostalCode" placeholder="{{'common.lto_placeholder_postCode'|i18n}}" name="locationPostalCode" ng-model="locationPrefDTO.locationPostalCode" ng-minlength="6" ng-maxlength="6" ng-required="true"> <span class="help-block error"
							ng-show="submitted && locationPref.locationPostalCode.$error.required" i18n="{{'common.lto_span_RequirFieldError'}}"
						></span> <span class="help-block error" ng-show="((locationPref.locationPostalCode.$error.minlength || locationPref.locationPostalCode.$error.maxlength) && locationPref.locationPostalCode.$dirty) " i18n="{{'common.lto_placeholder_invalidPostCode'}}"></span> <span class="help-block error" ng-show="locationPref.locationPostalCode.$error.number" i18n="{{'common.lto_placeholder_invalidPostCode'}}"></span>
					</div>
					<div class="col-xs-12 col-sm-6">
						<label> <input type="checkbox" ng-model="includeSurroundingAreas" checked> <span class="checkboxText" i18n="{{'common.lto_checkbox_interest_surroundingArea'}}"></span>
						</label>
					</div>
				</div>
				<button class="btn btn-primary btn--block-centered lto-cp-exp-btn" ng-click="submitted = 'true'" i18n="{{'common.lto_button_text_save'}}"></button>
				<div class="success-toast-message" ng-show="locationSuccess">
					<span ng-model="locationSuccessMessage">{{locationSuccessMessage}}</span>
				</div>
				<div class="error-toast-message" ng-show="locationError">
					<span ng-model="locationErrorMessage">{{locationErrorMessage}}</span>
				</div>
			</form>
			<!-------------------------------------------  Availability details capture ----------------------------------->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12">
					<h2 class="lto-interest-header" i18n="{{'common.lto_heading_interest_time'}}"></h2>
				</div>
			</div>
			<div class="lto-availabilty-cap-sec">
				<table class="table time-table">
					<thead>
						<tr>
							<th>Date/Time</th>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
							<th>Sun</th>
							<th>Public Holidays</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pre in volPreferredTimeList">
							<td>{{pre.time}}</td>
							<td ng-repeat="availabilty in pre.status" class="{{availabilty.addClass}} cursor" ng-click="saveVolAvailability(availabilty)"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="error-toast-message" ng-show="availableError">
				<span ng-model="availabilityErrorMessage">{{availabilityErrorMessage}}</span>
			</div>
			<!----------------------------------------------- causes in which the user is interersed in -------------------------------------->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12 lto-complete-profile-causes">
					<div class="lto-cp-cause-section-left">
						<h2 i18n="{{'common.lto_heading_interest_causes'}}"></h2>
					</div>
				</div>
				<form ng-submit="saveCauseList()">
					`
					<div class="row no-margin row-space checkbox-custom profile-form">
						<div class="col-xs-12 col-sm-3" ng-repeat="cause in masterCauseList">
							<label ng-if="cause.name == 'ALL'"> <input type="checkbox" ng-model="selectedALLCause" ng-change="checkAllCauses()"> <span class="checkboxText">{{cause.description}}</span>
							</label> <label ng-if="cause.name != 'ALL'"> <input type="checkbox" ng-model="cause.active" ng-change="changeCauseALLStatus()"> <span class="checkboxText">{{cause.description}}</span>
							</label>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary btn--block-centered lto-cp-cause-btn" i18n="{{'common.lto_button_text_save'}}"></button>
						<div class="success-toast-message" ng-show="causeSuccess">
							<span ng-model="causeSuccessMessage">{{causeSuccessMessage}}</span>
						</div>
						<div class="error-toast-message" ng-show="causeError">
							<span ng-model="causeErrorMessage">{{causeErrorMessage}}</span>
						</div>
					</div>
				</form>
			</div>
			<!-- end -->
			<!-- the skills which a user poses -->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12 lto-complete-profile-skills">
					<div class="lto-cp-skills-section-left">
						<h2 i18n="{{'common.lto_heading_interest_skills'}}"></h2>
					</div>
				</div>
				<form ng-submit="saveSkills()">
					`
					<div class="row no-margin row-space checkbox-custom profile-form">
						<div class="col-xs-12 col-sm-3" ng-repeat="skill in masterSkills">
							<label ng-if="skill.name == 'ALL'"> <input type="checkbox" ng-model="selectedAll" ng-change="checkAll()"> <span class="checkboxText">{{skill.description}}</span>
							</label> <label ng-if="skill.name != 'ALL'"> <input type="checkbox" ng-model="skill.status" value="skill.name" ng-change="changeJobTypeALLStatus()"> <span class="checkboxText">{{skill.description}}</span>
							</label>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary btn--block-centered lto-cp-cause-btn" i18n="{{'common.lto_button_text_save'}}"></button>
						<div class="success-toast-message" ng-show="skillSuccess">
							<span ng-model="skillSuccessMessage">{{skillSuccessMessage}}</span>
						</div>
						<div class="error-toast-message" ng-show="skillError">
							<span ng-model="skillErrorMessage">{{skillErrorMessage}}</span>
						</div>
					</div>
				</form>
			</div>
			<!-- end -->
			<div class="text-center">
				<button class="btn btn-primary btn--block-centered" ng-click="redirect('/cp/experiences')" i18n="{{'common.lto_button_text_back'}}"></button>
				<button class="btn btn-primary btn--block-centered" ng-click="redirect('/cp/privacy')" i18n="{{'common.lto_button_text_next'}}"></button>
			</div>
		</main>
		<!-- /main content area -->
	</div>
	<!-- /container-fluid -->
</div>