<div class="container ">
	<div class="row lto-main-container lto-main-container-row">
		<div class="row-space hidden-md hidden-sm"></div>
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding "> <header class="container profile-header">
			<div class="container-fluid">
				<h2
					class="text-center"
					i18n="{{'common.lto_heading_personalInformation'}}"
				></h2>
				<!-- <a href="#" class="pull-right">Update</a> -->
			</div>
		</header>
		<div class="content-area">
			<div class="row-space progress-wrap hidden-xs">
				<ul class="progress-bar">
					<li
						class="cursor active"
						i18n="{{'common.lto_link_personalInfo'}}"
					></li>
					<li
						class="cursor"
						ng-click="redirect('/cp/experiences')"
						i18n="{{'common.lto_link_experience'}}"
					></li>
					<li
						class="cursor"
						ng-click="redirect('/cp/interests')"
						i18n="{{'common.lto_link_interest'}}"
					></li>
					<li
						class="cursor"
						ng-click="redirect('/cp/privacy')"
						i18n="{{'common.lto_link_privacySettings'}}"
					></li>
				</ul>
			</div>
			<div class=" hidden-md hidden-sm hidden-lg row-space personal-info-progress-wrap">
				<ul class="list-no-style">
					<li
						class="cursor active col-xs-6"
						i18n="{{'common.lto_link_personalInfo'}}"
					></li>
					<li
						class="cursor  col-xs-6"
						ng-click="redirect('/cp/experiences')"
						i18n="{{'common.lto_link_experience'}}"
					></li>
					<li
						class="cursor  col-xs-6"
						ng-click="redirect('/cp/interests')"
						i18n="{{'common.lto_link_interest'}}"
					></li>
					<li
						class="cursor  col-xs-6"
						ng-click="redirect('/cp/privacy')"
						i18n="{{'common.lto_link_privacySettings'}}"
					></li>
				</ul>
				<div class="row-space hidden-md hidden-sm">
					<br> <br> <br>
				</div>
			</div>
			<div
				class="row-space"
				ng-controller="UploadProfilePicController"
			>
				<div class="update-picture">
					<div class="profile-image">
						<img
							class="user-pic"
							ng-src="{{getProfileImage(user.profilePicture)}}"
							ng-if="user.profilePicture != null"
						> <img
							class="user-pic"
							src="../images/UserImage.png"
							ng-if="user.profilePicture == null"
						> <span class="screen-reader-text">Customer Image</span> <span class="label"><span
							class="glyphicon glyphicon-cloud-upload"
							style="font-size: 20px;"
						><span
								class="upload-profile-txt"
								i18n="{{'common.lto_link_updateProfilePic'}}"
							></span><input
								class="upload-profile-input"
								type="file"
								id="profilePic"
								value="{{myCroppedImage}}"
							/></span></span>
					</div>
				</div>
				<imagecrop visible="showCropContainer"></imagecrop>
			</div>
			<form
				name="personalInfo"
				ng-submit="personalInfo.$valid && completeProfileForm_step1()"
				novalidate="novalidate"
			>
				<div class="container profile-form">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<label
								for="trade"
								i18n="{{'common.lto_label_user_firstName'}}"
							></label> <input
								type="text"
								name="firstName"
								class="form-control"
								id="firstName"
								placeholder="{{'common.lto_placeholder_firstName'|i18n}}"
								ng-model="user.firstName"
								ng-required="true"
							> <span class="glyphicon glyphicon-user"></span> <span
								class="error"
								ng-show="submitted && personalInfo.firstName.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_user_lastName'}}"
							></label> <input
								type="text"
								name="lastName"
								class="form-control"
								id="lastName"
								placeholder="{{'common.lto_placeholder_lastname'|i18n}}"
								ng-model="user.lastName"
								ng-required="true"
							> <span class="glyphicon glyphicon-user"></span> <span
								class="error"
								ng-show="submitted && personalInfo.lastName.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_user_dateOfBirth'}}"
							></label> <input
								type="text"
								name="dateOfBirth"
								class="form-control"
								id="userDateOfBirth"
								placeholder="{{'common.lto_placeholder_dateOfBirth'|i18n}}"
								model-view-value="true"
								ng-model="user.dateOfBirth"
								ng-required="true"
							> <span class="glyphicon glyphicon-calendar"></span> <span
								class="error"
								ng-show="submitted && personalInfo.dateOfBirth.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6  ">
							<label
								for="trade"
								i18n="{{'common.lto_label_user_gender'}}"
							></label>
							<div class="radio-custom">
								<label> <input
									type="radio"
									name="radio"
									value=""
									ng-model="user.gender"
									ng-value="'male'"
								> <span i18n="{{'common.lto_radio_text_male'}}"></span>
								</label> <label> <input
									type="radio"
									name="radio"
									ng-model="user.gender"
									ng-value="'female'"
									value=""
								> <span i18n="{{'common.lto_radio_text_female'}}"></span>
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_country'}}"
							></label> <input
								type="text"
								name="country"
								class="form-control"
								id="country"
								placeholder="{{'common.lto_placeholder_country'|i18n}}"
								ng-model="user.addressBean.country"
								ng-required="true"
							><span class="glyphicon glyphicon-map-marker"></span> <span
								class="error"
								ng-show="submitted && personalInfo.country.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_state'}}"
							></label> <input
								type="text"
								name="state"
								class="form-control"
								id="state"
								placeholder="{{'common.lto_placeholder_state'|i18n}}"
								ng-model="user.addressBean.state"
								ng-required="true"
							> <span class="glyphicon "></span> <span
								class="error"
								ng-show="submitted && personalInfo.state.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_city'}}"
							></label> <input
								type="text"
								name="city"
								class="form-control"
								id="city"
								placeholder="{{'common.lto_placeholder_city'|i18n}}"
								ng-model="user.addressBean.city"
								ng-required="true"
							> <span class="glyphicon "></span> <span
								class="error"
								ng-show="submitted && personalInfo.city.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_street'}}"
							></label> <input
								type="text"
								name="city"
								class="form-control"
								id="city"
								placeholder="{{'common.lto_placeholder_street'|i18n}}"
								ng-model="user.addressBean.street"
								ng-required="true"
							> <span class="glyphicon "></span> <span
								class="error"
								ng-show="submitted && personalInfo.street.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_postCode'}}"
							></label> <input
								type="text"
								name="postalCode"
								class="form-control"
								id="postalCode"
								placeholder="{{'common.lto_placeholder_postCode'|i18n}}"
								ng-model="user.addressBean.postalCode"
								ng-required="true"
							> <span class="glyphicon "></span> <span
								class="error"
								ng-show="submitted && personalInfo.postalCode.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span> 
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 ">
							<label
								for="trade"
								i18n="{{'common.lto_label_user_phoneNumber'}}"
							></label> <input
								type="text"
								name="phoneNumber"
								class="form-control"
								id="phoneNumber"
								placeholder="{{'common.lto_placeholder_phoneNumber'|i18n}}"
								ng-model="user.phoneNumber"
								ng-required="true"
								ng-minlength="10"
								ng-maxlength="10"
							><span class="glyphicon glyphicon-phone"></span> <span
								class="error"
								ng-show="submitted && personalInfo.phoneNumber.$error.required"
								i18n="{{'common.lto_span_RequirFieldError'}}"
							></span> <span
								class="help-block error"
								ng-show="((personalInfo.phoneNumber.$error.minlength || personalInfo.phoneNumber.$error.maxlength) && personalInfo.phoneNumber.$dirty) "
								i18n="{{'common.lto_span_validPhonno'}}"
							></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 ">
							<label
								for="summary"
								i18n="{{'common.lto_label_user_summary'}}"
							></label>
							<textarea
								type="text"
								name="orgInfo8"
								class="form-control"
								id="summary"
								placeholder="{{'common.lto_placeholder_summary'|i18n}}"
								ng-model="user.summary"
							></textarea>
							<span class="glyphicon glyphicon-list-alt"></span>
						</div>
						<!-- 	<div class="col-xs-6 ">
								<a href="#" class="change-pwd-link"> Change Password</a>
							</div> -->
					</div>
					<button
						class="btn btn-primary btn--block-centered"
						ng-click="submitted=true"
						i18n="{{'common.lto_button_text_save'}}"
					></button>
					<div
						class="success-toast-message"
						ng-show="success"
					>
						<span ng-model="actionSuccess">{{actionSuccess}}</span>
					</div>
					<div
						class="error-toast-message"
						ng-show="error"
					>
						<span ng-model="actionError">{{actionError}}</span>
					</div>
				</div>
			</form>
			<!-- Commitment details cpature -->
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12">
					<h2
						class="lto-interest-header"
						i18n="{{'common.lto_heading_personalInformation_commitment'}}"
					></h2>
				</div>
			</div>
			<div class="row-space commitment-tile">
				<div class="row no-margin row-one">
					<div
						class="col-xs-6 col-sm-3 cursor {{userType.addClass}} lto-user-type"
						id="{{userType.id}}"
						ng-repeat="userType in userTypeMasterList"
						ng-click="saveUserType(userType)"
					>
						<span class="glyphicon glyphicon-user"></span>
						<div class="">
							<h3
								class=""
								ng-model="userType.name"
							>{{userType.name}}</h3>
							<p
								class=""
								ng-model="userType.description"
							>{{userType.description}}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of commitment details -->
			<!-- Start of appending additional questions -->
			<div ng-show="additionalAttributeQuestionList.length>0">
				<h3 i18n="{{'common.lto_heading_personalInformation_fewThings'}}"></h3>
				<form
					name="additionalAttributeForm"
					ng-submit="saveAdditionalAttributeList()"
				>
					<div class="container profile-form">
						<div class="row">
							<div
								class="col-xs-12 col-xs-12 col-sm-6 col-md-6 "
								ng-repeat="attribute in additionalAttributeQuestionList"
							>
								<label for="trade">{{attribute.description}}</label> <input
									type="text"
									name="{{attribute.id}}"
									class="form-control"
									id="attribute{{attribute.id}}"
									placeholder="{{attribute.description}}"
									ng-model="attribute.value"
									value=""
								>
							</div>
						</div>
						<button
							class="btn btn-primary btn--block-centered"
							ng-click="submitted=true"
							i18n="{{'common.lto_button_text_save'}}"
						></button>
						<div
							class="success-toast-message"
							ng-show="attributeSuccess"
						>
							<span ng-model="attributeSuccessMessage">{{attributeSuccessMessage}}</span>
						</div>
						<div
							class="error-toast-message"
							ng-show="attributeError"
						>
							<span ng-model="attributeErrorMessage">{{attributeErrorMessage}}</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="text-center">
			<button
				class="btn btn-primary btn--block-centered"
				ng-click="redirect('/cp/experiences')"
				i18n="{{'common.lto_button_text_next'}}"
			></button>
		</div>
		</main>
		<!-- /main content area -->
	</div>
	<!-- /container-fluid -->
</div>