<div ng-include="'./js/pages/header/navigation-header.html'"></div>
<div class="container ">
	<div class="row lto-main-container lto-main-container-row">
	<div class="row-space hidden-md hidden-sm"></div>
		<main class="col-xs-12 col-sm-12 col-md-12 no-padding "> <header class="container profile-header">
			<div class="container-fluid">
				<h2 class="text-center">Complete Your Profile</h2>
				<!-- <a href="#" class="pull-right">Update</a> -->
			</div>
		</header>
		<div class="content-area">
			<div class="row-space progress-wrap hidden-xs">
				<ul class="progress-bar">
					<li class="cursor active" ng-click="redirect('/cp/personalInformation')" i18n="{{'common.lto_link_personalInfo'}}"></li>
					<li class="cursor active" i18n="{{'common.lto_link_experience'}}" ng-click="redirect('/cp/experiences')"></li>
					<li class="cursor active" ng-click="redirect('/cp/interests')" i18n="{{'common.lto_link_interest'}}">Interests</li>
					<li class="cursor active" i18n="{{'common.lto_link_privacySettings'}}"></li>
				</ul>
			</div>
			<div class="  hidden-sm hidden-md hidden-lg row-space personal-info-progress-wrap">
				<ul class="list-no-style">
					<li class="cursor  col-xs-6" ng-click="redirect('/cp/personalInformation')" i18n="{{'common.lto_link_personalInfo'}}"></li>
					<li class="cursor   col-xs-6" ng-click="redirect('/cp/experiences')" i18n="{{'common.lto_link_experience'}}"></li>
					<li class="cursor  col-xs-6" ng-click="redirect('/cp/interests')" i18n="{{'common.lto_link_interest'}}"></li>
					<li class="cursor  active col-xs-6" i18n="{{'common.lto_link_privacySettings'}}"></li>
				</ul>
				<div class="row-space hidden-md hidden-sm"></div>
			</div>
			<div class="row no-margin row-space">
				<div class="col-xs-12 col-sm-12 lto-complete-profile-skills">
					<div class="lto-cp-skills-section-left">
						<h2 i18n="{{'common.lto_heading_privacy'}}"></h2>
					</div>
				</div>
				<form ng-submit="">
					`
					<div class="row no-margin row-space checkbox-custom profile-form">
						<div class="col-xs-12 col-sm-12">
							<h2 class="start-property-tile__heading" i18n="{{'common.lto_heading_mobVisible'}}"></h2>
							<span class="lto-privacy-settings-text" i18n="{{'common.lto_span_mobPrivacy'}}"></span> <input id="mobileNumberVisibility" type="checkbox" data-off-text="No" data-on-text="Yes" ng-model="privacy.mobileNumberVisibility" checked class="BSswitch bootstrap-switch-small">
							<hr class="start-property-tile__separator lto-privacy-settings-separator" />
							<h2 class="start-property-tile__heading" i18n="{{'common.lto_heading_profileViewOption'}}"></h2>
							<span class="lto-privacy-settings-text" i18n="{{'common.lto_span_privacy_profileView'}}"></span> <input id="profileDetailsVisibility" type="checkbox" data-off-text="No" data-on-text="Yes" ng-model="privacy.profileDetailsVisibility" checked class="BSswitch bootstrap-switch-small">
							<hr class="start-property-tile__separator lto-privacy-settings-separator" />
							<h2 class="start-property-tile__heading" i18n="{{'common.lto_heading_notification'}}"></h2>
							<span class="lto-privacy-settings-text" i18n="{{'common.lto_span_notification_alert'}}"></span> <input id="emailAlertsOn" type="checkbox" data-off-text="No" data-on-text="Yes" ng-model="privacy.emailAlertsOn" checked class="BSswitch bootstrap-switch-small">
							<hr class="start-property-tile__separator lto-privacy-settings-separator" />
							<h2 class="start-property-tile__heading" i18n="{{'common.lto_heading_emailNotification'}}"></h2>
							<span class="lto-privacy-settings-text" i18n="{{'common.lto_span_emailNotification'}}"></span> <input id="emailNotificationFrequency" type="checkbox" data-off-text="No" data-on-text="Yes" ng-model="privacy.emailNotificationFrequency" checked class="BSswitch bootstrap-switch-small">
						</div>
					</div>
				</form>
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn--block-centered" ng-click="redirectProfilePage()" i18n="{{'common.lto_button_done'}}"></button>
			</div>
		</main>
		<!-- /main content area -->
	</div>
	<!-- /container-fluid -->
</div>